{% extends 'supernova/base.html' %}

{% load static %}

{% block head %}
  <script src="{% static 'chat/chat.js' %}" onload="loadChat({{ room.id }})"></script>
{% endblock %}

{% block content_wrapper %}
  <div class="header-decorator">
    <div>
      <h3>Sala de conversa</h3>
      <h1>{{ room.name }}</h1>
    </div>
  </div>
  <div class="row padded nowrap">
    <div class="col">
      <div class="flex-pane">
        <div class="pane-title bg-grad"></div>
        <div id="chat-container" class="pane-content">
        </div>
      </div>
    </div>
    <div class="col nogrow noshrink" style="flex-basis: 300px">
      <div class="flex-pane">
        <div class="pane-title bg-grad"><h2>Descrição</h2></div>
        <div class="pane-content">
          <p>{{ room.description }}</p>
        </div>
      </div>
    </div>
  </div>
{% endblock %}