{% extends 'supernova/base.html' %}

{% load static %}

{% block content_wrapper %}
  <div class="col padded">
    <div class="flex-pane">
      <div class="pane-title bg-grad"><h2>Notícias recentes</h2></div>
      <div class="pane-content news-list">
        {% for news_item in page.object_list %}
          <h2><a href="{% url 'news:item' news_item.id %}">{{ news_item.title }}</a></h2>
          <div class="news-list-item">
            {% if news_item.cover_img %}<img src="{% get_media_prefix %}{{ news_item.cover_img }}" alt="{{ news_item.title }}">{% endif %}
            <div>
              <span>{{ news_item.summary }}</span>
              {% if news_item.author %}
                <span>Por <a href="{% url 'users:profile' news_item.author.nickname %}"> {{ news_item.author.nickname }}</a>,
                  {{ news_item.datetime }}</span>
              {% else %}
                <span><a href="{{ news_item.source }}">Fonte</a>, {{ news_item.datetime.date }}</span>
              {% endif %}
            </div>
          </div>
          <hr>
        {% endfor %}
        <div style="display: flex; justify-content: space-between">
          {% if page.has_previous %}<a href="{% url 'news:index' %}?p={{ page.previous_page_number }}">Anterior</a>{% else %}<a></a>{% endif %}
          {% if page.has_next %}<a href="{% url 'news:index' %}?p={{ page.next_page_number }}">Seguinte</a>{% endif %}
        </div>
      </div>
    </div>
  </div>
{% endblock %}