{% extends 'supernova/base.html' %}


{% block content_wrapper %}
  <div class="col padded">
    {% for services in services_by_type.values %}
      <div class="pane">
        <div class="pane-title">
          <h2>{{ services.0.get_type_display }}</h2>
        </div>
        <div class="pane-content">
          <div class="flex-wrapper">
            {% for service in services %}
              <a href="{% url 'services:service' service.abbreviation %}">
                <div class="flex-grid-item"{% if service.picture %} style="background-image: url({{ service.picture_thumbnail.url }})" {% endif %}>
                  <div class="flex-grid-item-top">
                    <span>{{ service.name }}</span>
                  </div>
                </div>
              </a>
            {% endfor %}
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
{% endblock %}