{% extends 'supernova/base.html' %}

{% block head %}
  <style>
      .left {
          text-align: left;
      }
      {% if service.picture %}
          .header-background:after {
              background-image: url("{{ service.picture.url }}")
          }
      {% endif %}
  </style>
{% endblock %}

{% block content_wrapper %}
  <div class="col">
    {% if service.picture %}
      <div class="header-background faded contain right">
        <div class="header-decorator">
          <h1>{{ service.name }}</h1>
        </div>
      </div>
    {% else %}
      <div class="header-decorator">
        <h1>{{ service.name }}</h1>
      </div>
    {% endif %}
    <div class="row padded nowrap">
      <div class="col">
        {% if service.serves_meals %}
          <div class="flex-pane">
            <div class="pane-title bg-grad"><h2>Ementa</h2></div>
            <div class="pane-content">
              {% if meals %}
                <table>
                  <tr class="left">
                  </tr>
                  {% for entry in service.meal_items.all %}
                    <tr>
                      <td>{{ entry }}</td>
                    </tr>
                  {% endfor %}
                </table>
              {% else %}
                Sem ementa disponível.
              {% endif %}
            </div>
          </div>
        {% endif %}
        {% if service.sells_goods %}
          <div class="flex-pane">
            <div class="pane-title bg-grad"><h2>Preçário</h2></div>
            <div class="pane-content">
              Sem preçário disponível.
            </div>
          </div>
        {% endif %}
      </div>
      <div class="col nogrow noshrink">
        <div class="flex-pane">
          <div class="pane-title bg-grad"><h2>Informação</h2></div>
          <div class="pane-content">
            <h3>Horário</h3>
            <table class="stylized grow">
              <tr class="left">
                <th></th>
                <th>Abertura</th>
                <th>Fecho</th>
              </tr>
              {% for entry in service.schedule.all %}
                <tr>
                  <td>{{ entry.get_weekday_display }}</td>
                  <td>{{ entry.start }}</td>
                  <td>{{ entry.end }}</td>
                </tr>
              {% endfor %}
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}