{% extends 'kleep/content_navigation.html' %}

{% load static %}
{% block head %}
{% endblock %}

{% block content %}
    <h1><i class="fas fa-users"></i> Grupos</h1>
    <div class="flex-wrapper">
        {% for group in groups %}
            {% if not type_filter or group.type.name == type_filter %}
                <a href="{% url 'group' group.id %}">
                    <div class="flex-grid-item"
                         style="background-image: url({% static 'kleep/images/placeholder.png' %})">
                        <div class="flex-grid-item-top">
                            {% if group.abbreviation %}
                                <span>{{ group.abbreviation }}</span>
                            {% else %}
                                <span>{{ group.name }}</span>
                            {% endif %}
                        </div>
                        <div class="flex-grid-item-bottom">
                            {% if group.invite_only %}
                                <i class="fas fa-lock"></i>
                            {% else %}
                                <i class="fas fa-lock-open"></i>
                            {% endif %}&nbsp;
                            <i class="fas fa-user-times"></i>0{{ group.groupusers_set.all.count }}
                            <i class="fas fa-star"></i> 0
                        </div>
                    </div>
                </a>
            {% endif %}
        {% endfor %}
    </div>
{% endblock %}

{% block navigation %}
    {% if type_filter %}
        <a class="menu_entry" href=".">Todos os grupos</a>
    {% else %}
        <a class="menu_entry selected">Todos os grupos</a>
    {% endif %}
    <br><br>
    <span style="font-size: 1.2em; font-weight: bold;">Filtro:</span>
    {% for type in group_types %}
        {% if type_filter == type.type %}
            <a class="menu_entry selected" href="?filtro={{ type.type }}">{{ type.type }}</a>
        {% else %}
            <a class="menu_entry" href="?filtro={{ type.type }}">{{ type.type }}</a>
        {% endif %}
    {% endfor %}
{% endblock %}
