/* Button */
.ui-btn
  display: inline-block

  &.end
    align-self: flex-end

/* Toggle switch */
.ui-switch, .ui-switch-span, .ui-switch-span:before
  box-sizing: border-box

.ui-switch
  display: inline-block
  font-size: 100%
  height: 1.6em
  position: relative

.ui-switch .ui-switch-span
  height: 1.6em
  left: 0
  background: var(--text-hc)
  border-radius: 0.8em
  display: inline-block
  position: relative
  top: 0
  transition: all 0.3s ease-in-out
  width: 3em
  cursor: pointer

.ui-switch .ui-switch-span:before
  display: block
  content: ''
  height: 1.4em
  position: absolute
  width: 1.4em
  background-color: #fff
  border-radius: 50%
  left: 0.1em
  top: 0.1em
  transition: all 0.3s ease-in-out

.ui-switch > input[type="checkbox"]
  display: none

.ui-switch > input[type="checkbox"]:checked + .ui-switch-span,
.ui-switch.switch-blue > input[type="checkbox"]:checked + .ui-switch-span
  background-color: #20a0ff

.ui-switch > input[type="checkbox"]:checked + .ui-switch-span:before
  left: 50%

/* Tag */
.ui-tag
  display: inline-block
  padding: 3px 5px
  border-radius: 3px
  color: var(--text-lc)
  font-weight: bold
  background-color: var(--input-light)
  min-width: 10px
  margin: 0 5px 0 0
  box-shadow: 1px 1px 3px var(--soft-shadow)

  a
    color: var(--text-lc)


.star-picker
  display: flex
  flex-direction: row-reverse
  justify-content: left

  input.ui-star
    display: none

  label.ui-star
    padding: 0 5px
    font-size: 22px
    cursor: pointer

  input.ui-star:checked ~ label.ui-star:before
    content: '★'
    color: #cdaf29

  label.ui-star:before
    content: '☆'

.star-rating
  display: inline-flex
  flex-direction: row-reverse
  justify-content: left

  .ui-star:before
    content: '☆'

  .ui-star.select:before, .ui-star.select ~ .ui-star:before
    content: '★'
    color: #cdaf29

/* GIT repository star button */
.tiny-btn-widget
  display: inline-block
  overflow: hidden
  font-size: 0
  white-space: nowrap
  margin-bottom: 10px
  box-shadow: 0 0 2px var(--shadow)

  .tiny-btn, .star-count
    position: relative
    display: inline-block
    padding: 2px 5px
    font-size: 14px
    font-weight: 400
    //line-height: 24px
    vertical-align: bottom
    cursor: pointer
    border: 1px solid var(--pane-title-bg)

  .tiny-btn
    border-radius: 4px 0 0 4px
    background-color: var(--nav-bg-alt)

  .tiny-btn:focus, .tiny-btn:hover
    background-color: var(--pane-bg-highlight)

  img
    display: inline-block
    vertical-align: text-top
    margin-left: 2px
    width: 16px
    height: 16px

  .star-count
    border-left: 0
    border-radius: 0 .25em .25em 0
    color: var(--text)
    background-color: var(--nav-bg)

  [alt=github]
    filter: brightness(var(--icon-brightness))


.file-list
  display: flex
  flex-direction: column
  align-content: stretch

  .file
    flex-grow: 1
    display: flex
    border: 2px solid var(--separator)
    border-radius: 5px
    background-color: var(--pane-bg-highlight)
    justify-content: space-between
    margin-bottom: 10px

    h4
      display: inline

    span
      display: inline-block

  .file-body
    padding: 2px 5px
    flex-grow: 1

  .actions
    display: flex

    > a
      display: flex
      align-items: center
      padding: 5px
      background-color: var(--input-light)
      border-left: 2px solid var(--separator)

      > span
        display: block
        width: 40px
        height: 40px
        background-repeat: no-repeat
        background-position: center
        background-size: contain

  .preview
    display: flex
    align-content: stretch

    object
      min-height: 80vh
      width: 100%

.shift-list
  margin: 10px
  padding: 5px 5px
  border-radius: 5px
  vertical-align: top
  flex-basis: 320px
  box-shadow: 0 0 5px var(--soft-shadow)
  text-align: left
  color: var(--text-alt-hc)

  a
    vertical-align: top
    color: var(--text-alt-hc)

.popover
  background: var(--pane-bg)
  color: var(--text)
  font-weight: bold
  padding: 4px 8px
  font-size: 13px
  border-radius: 4px
  display: none
  box-shadow: 1px 1px 5px var(--shadow)

  .arrow, .arrow::before
    position: absolute
    width: 8px
    height: 8px
    z-index: -1

  .arrow::before
    content: ''
    transform: rotate(45deg)
    background: var(--pane-bg)

  &[data-show]
    display: block

  &[data-popper-placement^='top'] > .arrow
    bottom: -4px


  &[data-popper-placement^='bottom'] > .arrow
    top: -4px

  &[data-popper-placement^='left'] > .arrow
    right: -4px

  &[data-popper-placement^='right'] > .arrow
    left: -4px


.markdown-editor
  .mode-pickers > span
    border-radius: 5px 5px 0 0
    border: 2px solid var(--separator)
    border-bottom: 0
    padding: 2px 10px
    display: inline-block
    margin-left: 5px
    font-weight: bold
    cursor: pointer

  .mode-pickers > span.selected
    background-color: var(--input-light)
    position: relative
    z-index: 2

  .modes
    position: relative
    top: -2px
    border: 2px solid var(--separator)
    border-radius: 5px

  textarea
    margin: 0
    border: 0

  .preview
    display: none
    padding: 5px
    background-color: var(--pane-bg)

.meal-list
  display: flex
  flex-direction: column
  align-content: stretch

  .meal-item
    flex-grow: 1
    display: flex
    border: 2px solid var(--separator)
    border-radius: 5px
    background-color: var(--pane-bg-highlight)
    justify-content: space-between
    margin-bottom: 10px

    h4
      display: inline-block
      flex-grow: 1
      margin-left: 5px

  .meal-type
    background-color: var(--input-light)
    border-right: 1px solid var(--separator)
    display: flex
    justify-content: center
    width: 64px
    height: 64px
    border-top-left-radius: 5px
    border-bottom-left-radius: 5px

    img
      max-width: 100%
      max-height: 100%

  .attrs
    display: flex

    > div
      display: flex
      flex-direction: column
      align-items: center
      padding: 5px
      background-color: var(--input-light)
      border-left: 1px solid var(--separator)

      > .val
        font-weight: bold

.diff-list
  .insert
    background-color: var(--green)

  .delete
    background-color: var(--red)

#chat-list
  display: flex
  flex-direction: column

  .chat-conversation
    display: flex
    align-items: center
    padding: 5px
    cursor: pointer

    &:hover
      background-color: var(--pane-bg-highlight)

    & > div
      display: flex
      flex-direction: column
      line-height: 18px
      flex-grow: 1

    .chat-thumb
      width: 32px
      height: 32px
      border-radius: 16px
      margin: 0 4px
      flex-shrink: 0

    .chat-title
      font-weight: bold
      font-size: 16px

    .chat-notif.set
      width: 10px
      height: 10px
      border-radius: 5px
      background-color: var(--highlight)

    &.set
      border-left: 2px solid var(--highlight)

.chatbox
  display: grid
  grid-template-columns: auto 60px

  .chat-log
    min-height: 400px
    max-height: 30vw
    grid-column: 1 / 3
    display: flex
    flex-direction: column
    overflow-y: scroll
    scrollbar-width: thin

  .message-block
    .meta
      display: flex
      align-items: center

      .author-pic
        width: 32px
        height: 32px
        border-radius: 16px
        margin: 0 4px

      .author-name
        font-weight: bold
        flex-grow: 1

      .datetime
        font-size: 12px
        padding: 0 5px

  .message
    display: flex
    border-bottom: 1px solid var(--pane-bg-highlight)

    .content
      padding: 5px 10px

    &:last-child
      border-bottom: 0

    .time
      font-size: 10px
      padding: 0 5px
      width: 30px
      color: transparent

    &:hover > .time
      color: var(--text)

.theme-picker
  position: relative
  margin-top: 10px

  .theme-inputs
    display: flex
    justify-content: space-between
    padding: 5px 0