\:root, [data-theme="quasar"]
  // Base colors
  --primary0: #ffffff
  --primary1: #efeff0
  --primary2: #dbdbdd
  --primary3: #c4c5c9
  --primary4: #aeaeb4
  --primary0-alt: #ffffff
  --primary1-alt: #efeff0
  --primary2-alt: #dbdbdd
  --primary3-alt: #c4c5c9
  --primary4-alt: #aeaeb4
  --red: #bf616a
  --green: #a3be8c
  --blue: #81a1c1

  // Layout
   // Page background
  --bg: #ffffff
  /* Pane background */
  --bg2: #efeff0
  /* Subpane background */
  --bg3: #dfdfe1
  /* Highlights, such as tags.*/
  --bg4: #e1e8f5
  --text: #2e3338
  --text-lc: #4c566a
  --text-hc: #2e3338
  --text-alt: #2e3338
  --text-alt-hc: #2e3338
  --text-link: #0067e0
  --highlight: #3490ce
  --pane-title: #2e3338
  --pane-title-border: #cfcfd2
  --pane-title-link: #0067e0
  --pane-title-bg: transparent
  --pane-bg: #ffffff
  --pane-bg-highlight: #e6e6e6
  --header-bg: #e3e5e8
  --shadow: #c4c5c9
  --soft-shadow: #c4c5c9
  --grad1: #dbdbdd
  --grad2: #c4c5c9
  --grad3: transparent
  --input-light: #ffffff
  --input-dark: #dbdbdd

  // Misc overrides
  --theoretical-turn: #a3be8c
  --practical-turn: #d08770
  --theoretical-practical-turn: #ebcb8b
  --room-type-1-color: #7a6d99
  --room-type-1-shadow: #8f7fb3
  --room-type-2-color: #99776d
  --room-type-2-shadow: #99776d
  --room-type-3-color: #99886d
  --room-type-3-shadow: #b39f7f
  --room-type-4-color: #81996d
  --room-type-4-shadow: #97b381
  --room-type-5-color: #6d8899
  --room-type-5-shadow: #7f9eb3
  --room-type-6-color: #8b8c5b
  --room-type-6-shadow: #b0b37f
  --room-type-7-color: #6d9995
  --room-type-7-shadow: #7fb3ae

  // TODO merge this to the inputs
  --select2-light: #ffffff
  --select2-dark: #dbdbdd

[data-theme="tokamak"]
  // Base colors
  --primary0: #ffffff
  --primary1: #efeff0
  --primary2: #dbdbdd
  --primary3: #c4c5c9
  --primary4: #aeaeb4
  --primary0-alt: #10101d
  --primary1-alt: #15151b
  --primary2-alt: #323138
  --primary3-alt: #53535d
  --primary4-alt: #74737f
  --red: #bf616a
  --green: #a3be8c
  --blue: #81a1c1

  // Layout
  --bg: #717180
  --bg2: #e5e9f0
  --text: #2e3338
  --text-lc: #4c566a
  --text-hc: #2e3338
  --text-alt: #8c8b99
  --text-alt-hc: #cccccc
  --text-link: #0080ad
  --highlight: #3490ce
  --pane-bg: #eceff4
  --pane-bg-highlight: #f2f4f8
  --pane-title: #cccccc
  --pane-title-border: #10101d
  --pane-title-bg: #53535d
  --pane-title-link: #3e92b3
  --header-bg: #e3e5e8
  --shadow: #323138
  --grad1: #323138
  --grad2: #53535d
  --input-light: #e5e9f0
  --input-dark: #74737f

[data-theme="nebula"]
  // Base colors
  --primary0: #10101d
  --primary1: #15151b
  --primary2:  #323138
  --primary3: #53535d
  --primary4: #74737f
  --primary0-alt: #10101d
  --primary1-alt: #15151b
  --primary2-alt:  #323138
  --primary3-alt: #53535d
  --primary4-alt: #74737f
  --red: #990011
  --green: #075900
  --blue: #192a76

  // Layout
  --bg: #000
  --bg2: #323138
  --bg4: #53535d
  --text: #8c8b99
  --text-lc: #8c8b99
  --text-hc: #cccccc
  --text-alt: #8c8b99
  --text-alt-hc: #cccccc
  --text-link: #0080ad
  --highlight: #004766
  --pane-title: #8c8b99
  --pane-title-border: #10101d
  --pane-title-link: #3a7a96
  --pane-bg: #323138af
  --pane-bg-highlight: #32313850
  --header-bg: #3231387f
  --shadow: #15151b
  --soft-shadow: #323138
  --grad1: #323138
  --grad2: #53535d
  --input-light: #323138
  --input-dark: #15151b

  // Misc overrides
  --theoretical-turn: #6e805e
  --practical-turn: #996551
  --theoretical-practical-turn: #bfa571