@import "variables"

html, body
  height: 100%
  margin: 0
  font-family: 'Open Sans', sans-serif

body
  display: flex
  flex-direction: column
  background-color: var(--bg)
  color: var(--text)
  overflow-x: hidden

a
  color: var(--text-link)
  text-decoration: none

h1
  margin: 10px 0

h2
  margin: 8px 0

h3
  margin: 5px 0

h4
  margin: 3px 0

img
  max-width: 100%

input[type=text],
input[type=password],
input[type=search],
input[type=url],
input[type=button],
input[type=submit],
.ui-btn
  border: 0
  border-radius: 5px
  padding: 0 10px
  background-color: var(--input-light)
  color: var(--text-hc)
  font-size: 22px
  line-height: 30px
  box-shadow: 0 0 2px var(--primary4)

input[type=text],
input[type=password],
input[type=search],
input[type=url]
  box-shadow: inset 0 0 2px var(--primary4)

textarea
  background-color: var(--input-light)
  color: var(--text-hc)
  border: 1px solid var(--primary1)
  border-radius: 5px
  width: 100%
  height: 8em

blockquote
  background: var(--primary2)
  border-left: 10px solid #ccc
  margin: 1.5em 10px
  padding: 0.5em 10px
  quotes: "\201C""\201D""\2018""\2019"
  color: var(--text-hc)

blockquote:before
  color: #ccc
  content: open-quote
  font-size: 4em
  line-height: 0.1em
  margin-right: 0.25em
  vertical-align: -0.4em

blockquote p:first-child
  display: inline

.nowrap
  flex-wrap: nowrap !important

.disabled
  text-decoration: line-through !important

.hidden
  display: none !important

@media #{$lowres}
  .midhighres
    display: none !important

@media #{$highres}
  .lowmidres
    display: none !important

@media #{$lowmidres}
  .highres
    display: none !important

@media #{$midhighres}
  .lowres
    display: none !important

.flex-wrapper
  display: flex
  flex-wrap: wrap
  align-items: baseline

.flex-grid-item
  display: flex
  flex-direction: column
  justify-content: space-between
  background-size: cover
  background-position: center
  background-repeat: no-repeat
  flex-grow: 1
  border-radius: 5px
  margin: 10px
  width: 220px
  height: 150px
  vertical-align: center
  text-align: center
  font-weight: bold
  font-size: 1.2em
  background-color: white
  box-shadow: 0 0 5px var(--primary4)
  color: white
  border: 2px solid var(--primary4)

.flex-grid-item-top, .flex-grid-item-bottom
  text-shadow: 0 0 2px #000000
  background-color: #74737f44

.flex-grid-item-bottom
  display: flex
  flex-direction: row
  justify-content: space-evenly
  align-items: center

  img
    max-height: 18px
    vertical-align: middle

.hidden
  display: none

.shown
  display: block

.flex-box
  border-radius: 5px
  padding: 10px 20px
  margin: 10px

.flex-line-break
  display: inline-block
  flex-basis: 100% !important

.marker
  color: var(--text-hc)
  background-color: #333300

.spinner
  display: block
  margin: auto

form hr
  color: var(--primary2)
  margin: 0

  .errors
    text-decoration-color: var(--highlight)
    font-weight: bold

.form-row
  padding: 10px

.form-row:hover
  color: var(--text-hc)
  background-color: var(--pane-bg-highlight)

.form-row-top
  display: flex
  justify-content: space-between
  align-items: flex-end

table.stylized
  thead
    background-color: var(--primary2)
    font-weight: 700

  tbody tr:nth-of-type(odd)
    background-color: var(--primary1)

  tbody tr:nth-of-type(even)
      background-color: var(--primary0)

  &.grow
    width: 100%


.clearfix
  content: ""
  display: table
  clear: both