@import "variables"

#layout
  display: grid
  grid-template-areas: "header header" "sidebar content"
  grid-template-rows: 0fr 1fr
  grid-template-columns: 0fr 1fr


  @media #{$midhighres}
    height: 100%

#header
  grid-area: header
  display: grid
  grid-template-areas: "logo none actions user"
  grid-template-columns: 0fr 1fr 0fr 0fr
  min-height: $top-height
  border-bottom: 2px solid var(--nav-border)
  background-color: var(--nav-bg)
  color: var(--text-alt)
  position: relative
  z-index: 3
  white-space: nowrap

  a
    color: var(--text-alt)
    text-decoration: none
    font-size: 18px

#wrapper
  grid-area: header

#logo
  grid-area: logo
  display: grid
  grid-template-rows: 1fr 0fr
  grid-template-columns: 115px 0fr
  width: 280px
  position: relative
  overflow: hidden

  img
    grid-row: 1/3
    grid-column: 1/3
    width: 280px
    top: -10px
    position: absolute
    max-width: unset
    display: none

    [data-theme="quasar"] &.light-only
      display: block

    [data-theme="tokamak"] &.dark-only, [data-theme="nebula"] &.dark-only
      display: block

#slogan
  grid-area: slogan
  grid-row: 2/3
  grid-column: 2/3
  color: var(--text-alt-hc)
  white-space: nowrap
  font-size: 12px

#actions
  grid-area: actions
  display: grid
  grid-template-areas: "search theme notifications"
  align-content: center

.user
  grid-area: user
  display: grid
  align-items: center
  justify-content: space-between
  background-color: var(--nav-bg-alt)
  grid-template-columns: 42px auto 50px
  padding-left: 10px
  font-weight: bold

  &.lowres
    grid-area: unset
    align-items: stretch

  .pic
    vertical-align: middle
    display: inline-block
    width: 42px
    height: 42px
    clip-path: circle(21px at center)
    background-size: cover
    background-position: center
    background-image: url("../img/user.svg")
    margin-right: 10px

  .name
    font-weight: 700
    font-size: 16px
    padding: 10px

  .login, .logout
    background-color: var(--red)
    display: flex
    justify-content: center
    height: 100%

    img
      width: 24px
      height: 24px
      align-self: center

  .login
    background-color: var(--green)

.action
  width: 32px
  height: 32px
  filter: brightness(var(--icon-brightness))
  background-size: contain !important
  background: transparent no-repeat center
  background-origin: content-box
  border: none
  padding: 10px
  margin-right: 5px
  box-shadow: unset


#hamburger
  align-self: center
  margin: 10px
  background-image: url("/static/img/icons/menu.svg")

#search
  grid-area: search
  background-image: url("/static/img/icons/search.svg")
//background-size: contain

#theme
  grid-area: theme
  background-image: url("/static/img/icons/dim.svg")


#notifications
  grid-area: notifications
  display: flex
  align-items: center

#notification-btn
  position: relative

  // Needed until backdrop-feature finds its way to the mainstream browsers
  &:after
    position: absolute
    display: inline-block
    left: 0
    width: calc(100% - 20px)
    height: calc(100% - 20px)
    background: transparent url("../img/icons/bell.svg") no-repeat center
    background-size: contain
    content: ''
    z-index: -1
    filter: brightness(var(--icon-brightness))

#notification-count
  position: absolute
  bottom: 0
  right: 0
  font-size: 10px
  border-radius: 6px
  min-width: 12px
  height: 12px
  padding: 1px
  background-color: red
  color: white
  text-align: center
  visibility: hidden

#notification-list
  font-size: unset
  border-radius: 5px
  max-width: 500px

  a
    font-size: unset
    font-weight: normal
    display: block
    padding: 10px 5px

  a:hover
    background-color: var(--pane-bg-highlight)

  .clear
    color: var(--red)
    text-align: center
    font-weight: bold

  // Needed until backdrop-feature finds its way to the mainstream browsers
  &:after
    position: absolute
    display: inline-block
    top: 0
    left: 0
    width: 100%
    height: 100%
    content: ''
    border-radius: 5px
    z-index: -1
    background-color: var(--pane-bg)

.notification > span
  display: flex
  justify-content: space-between

#main-wrapper
  grid-area: content
  display: flex
  flex-grow: 1
  width: 100%
  // v Needed for Safari v
  flex-shrink: 0

#nav-column
  grid-area: sidebar
  background-color: var(--nav-bg)
  color: var(--text-alt-hc)
  display: flex
  flex-direction: column
  justify-content: space-between

  @media #{$midres}
    flex-basis: 0

  @media #{$midhighres}
    width: 200px
    position: relative
    z-index: 2
    box-shadow: 2px 0 5px var(--shadow)

  a
    text-decoration: none
    color: var(--text-alt-hc)

  ul
    list-style: none
    border-left: solid 2px var(--highlight)
    padding-left: 0
    overflow: hidden

  > ul
    padding-left: 0
    background-color: unset
    border-left: none


  li
    padding: 10px
    font-weight: bold

  > li
    background-color: unset

  input[type=checkbox]
    display: none

  li.collapse ul
    visibility: hidden
    opacity: 0
    max-height: 0
    transition: all 0.5s

  label
    position: relative
    display: block
    width: 100%
    cursor: pointer
    line-height: 32px

  .collapse > label::after
    content: "\25b6"
    position: absolute
    top: 0
    right: 0
    transition: all 0.5s

  li.collapse input:checked ~ ul
    visibility: visible
    opacity: 1
    max-height: 900px

  li.collapse input:checked ~ label::after
    transform: rotate(90deg)

  li.active
    background-color: var(--selected-menu-bg)

    a
      color: var(--text-alt-hc)

#nav-end
  padding: 10px

  .tiny-btn-widget:first-child
    margin-right: 10px

#license-img
  max-width: 100%
  filter: brightness(var(--icon-brightness))

#content-column
  grid-area: content
  display: flex
  flex-flow: column
  flex-grow: 1

  @media #{$lowres}
    overflow: auto

  .main-footer
    padding: 10px
    box-shadow: 0 0 20px var(--bg)
    background-color: var(--bg)
    max-height: 100px
    opacity: 0.4

#breadcrumbs
  font-size: 1.0em
  font-weight: bold
  border-bottom: 2px solid var(--nav-border)
  box-shadow: 0 3px 5px var(--shadow)
  background-color: var(--breadcrumbs-bg)

  @media #{$lowmidres}
    display: none

  a
    color: var(--text-alt)
    text-decoration: none
    outline: none
    display: block
    float: left
    line-height: 37px
    padding: 0 10px 0 30px
    position: relative
    background-color: var(--breadcrumbs-bg)

  a:first-child
    padding-left: 20px

  a:after
    box-shadow: 2px -2px 0 2px rgba(0, 0, 0, 0.4), 3px -3px 0 2px rgba(255, 255, 255, 0.1)
    content: ''
    position: absolute
    top: 0
    right: -18px
    width: 36px
    height: 36px
    transform: scale(0.707) rotate(45deg)
    z-index: 1
    border-radius: 0 5px 0 50px
    background: var(--breadcrumbs-bg)

  a:hover
    color: var(--text-link)
    background-color: var(--selected-menu-bg)

  a:hover:after
    background: var(--selected-menu-bg)

.col
  display: flex
  flex-flow: column
  flex-grow: 1
  max-width: 100%

  &.padded
    padding: 10px

  &.nogrow
    flex-grow: 0

  &.noshrink
    flex-shrink: 0

.pane
  display: grid
  grid-template-rows: 0fr 1fr
  // v Needed for theme prompt
  color: var(--text)
  border-radius: 6px
  background-color: var(--pane-bg)
  margin: 10px
  box-shadow: 1px 1px 5px var(--shadow)
  max-width: 100%

  &.simple
    grid-template-rows: unset

.row
  display: flex
  flex-flow: row
  flex-wrap: wrap

  > .grow
    flex-grow: 1

  &.padded
    padding: 10px

  &.baseline
    align-items: baseline

  > .pane
    min-width: $small-pane-width

  > .small
    flex-basis: $small-pane-width

  > .medium
    flex-basis: $medium-pane-width

  > .big
    flex-basis: $big-pane-width

  > .full
    flex-basis: 100%

    &.nowrap
      overflow: auto
      scroll-snap-type: x mandatory

.pane-title
  border-bottom: 2px solid var(--pane-title-border)
  padding: 5px 10px
  border-top-left-radius: 5px
  border-top-right-radius: 5px
  color: var(--pane-title)
  background-color: var(--pane-title-bg)
  // v FIXME Needs a separate var. Misc issues.
  //text-shadow: -1px -1.5px 0 var(--separator)
  display: flex
  justify-content: space-between

  a
    color: var(--pane-title-link)

  h2
    margin: 0
    font-family: 'Merriweather', serif

  .close
    background-color: var(--red)
    box-shadow: 2px 2px 2px var(--soft-shadow-alt)
    border-radius: 5px
    width: 32px
    text-align: center
    text-shadow: none
    font-family: sans-serif
    font-size: 22px
    cursor: pointer
    background-image: url("/static/img/icons/close.svg")
    background-size: cover

.pane-content
  padding: 5px 10px 10px 10px
  line-height: 1.5
  font-size: 16px

  &.construction
    display: flex
    justify-content: center
    min-height: 300px
    background: no-repeat center / contain url("/static/img/construction.png")
    background-size: contain

.indented
  margin-left: 10px

.caption
  list-style: none
  display: flex
  flex-direction: row
  flex-wrap: wrap
  margin: 0
  padding: 0

  > li
    display: inline-block
    padding: 4px 15px

/* Content decorator styles */
.header-decorator
  background-color: var(--header-bg)
  position: relative
  display: flex
  flex-direction: row
  flex-wrap: wrap
  align-items: center
  padding: 10px 20px
  box-shadow: 0 0 3px var(--shadow)

  h1, h2, h3, a
    color: var(--text-hc)

  h1
    font-size: 3em
    display: inline

    /* TODO remove */
    > img
      width: 100px
      height: 100px
      clip-path: circle(50px at center)
      vertical-align: middle
      padding: 0 10px

  h3
    font-size: 2em

  .avatar
    width: 100px
    height: 100px
    clip-path: circle(50px at center)
    vertical-align: middle
    padding: 0 10px


  @media #{$highres}
    min-height: 150px


.header-background
  background-color: var(--header-bg)
  background-repeat: no-repeat
  position: relative

  &.right:after
    background-position: right

  &.contain:after
    background-size: contain

  @media #{$midhighres}
    > .header-decorator
      background-color: unset
      z-index: 2

    &:after
      content: ' '
      position: absolute
      top: 0
      left: 0
      width: 100%
      height: 100%
      background-repeat: no-repeat
      background-size: cover
      background-position: center

    &.faded:after
      opacity: 0.3

.header-decorator-options
  position: absolute
  right: 0
  top: 0
  border-bottom-left-radius: 5px
  border-left: 2px solid var(--nav-border)
  border-bottom: 2px solid var(--nav-border)
  background-color: var(--header-options-bg)
  font-weight: bold

  a
    color: var(--text-hc)

  ul
    list-style: none
    padding-left: 0
    margin: 0

  li
    display: inline-block
    padding: 5px 10px
    border-right: 2px solid var(--nav-border)

  li:last-child
    border-right: 0

#particles
  z-index: -1
  left: 0
  right: 0
  top: 0
  bottom: 0
  position: fixed

.overlay
  position: fixed
  z-index: 10000
  width: 100%
  height: 100%
  background-color: #333335cf

  > div
    margin-left: auto
    margin-right: auto
    width: max-content
    max-height: calc(100% - 100px)

.search
  max-width: min(1100px, 100%)
  transition: 1s

  .pane-content
    display: grid
    grid-template-areas: "categories" "inputs" "results"
    //grid-template-columns: 128px auto
    grid-template-rows: 0fr 30px 0fr
    overflow: auto

  .categories
    grid-area: categories
    display: flex
    flex-wrap: wrap
    font-size: 14px
    justify-content: space-between

  .category
    cursor: pointer
    display: flex
    flex-direction: column
    border: 2px solid var(--pane-bg-highlight)
    border-radius: 10px
    text-align: center
    min-width: 120px
    margin: 10px
    flex-grow: 1

    &.set
      background-color: var(--pane-bg-highlight)

    &.disabled
      filter: blur(2px)
      cursor: not-allowed

    img
      width: 64px
      height: 64px
      align-self: center
      position: relative
      bottom: -5px

  .inputs
    display: flex
    grid-area: inputs

    input[type=search]
      flex-grow: 9

    input[type=button]
      flex-grow: 1

  .results
    padding: 10px
    grid-area: results
    border: 2px solid var(--pane-bg-highlight)
    border-top: 0
    border-bottom-right-radius: 5px
    display: none

  .result
    display: grid
    grid-template-areas: "pic title" "pic subtitle"
    grid-template-columns: 64px auto
    grid-template-rows: 1fr 0fr
    align-items: center

    h3
      grid-area: title

    img
      grid-area: pic
      width: 56px
      padding: 4px
      background-size: contain

      &.circle
        border-radius: 24px

    span
      grid-area: subtitle

@media #{$lowres}
  #header
    grid-template-areas: "hamburger none logo none2 actions"
    grid-template-columns: 0fr 1fr 0fr 1fr 0fr
    min-height: unset

  #logo
    overflow: unset
    width: 150px
    grid-template-columns: unset

    img
      width: unset
      position: unset
      height: 100%
      max-width: 100%

  #slogan
    display: none

  .user
    grid-area: user-alt !important

  .action
    width: 32px
    height: 32px
    padding: 5px

  #notification-btn:after
    width: calc(100% - 10px)
    height: calc(100% - 10px)

  #main-wrapper
    scroll-snap-type: x mandatory

  #nav-column
    display: none
    position: fixed
    z-index: 9999
    top: $top-height
    bottom: 0
    left: 0
    right: 0
    overflow-y: auto

  .header-decorator
    background-color: var(--header-bg) !important
    background-image: none !important

    h1
      font-size: 2.2em

    h3
      font-size: 1.6em

  .pane
    margin: 10px 5px 10px 5px
    width: calc(100vw - 10px)

  .col
    padding: 0 !important
    max-width: 100vw
    scroll-snap-align: none start

  .row
    padding: 0 !important

  .search
    .picked
      .category
        display: none

      .set
        display: block !important

    .category
      font-size: 14px

      img
        width: 42px
        height: 42px