.captcha
  padding: 0 !important
  margin: 0
  vertical-align: middle

.pt-line
  display: flex
  flex-wrap: nowrap
  margin-bottom: 5px
  color: var(--text-hc)

  span
    display: inline-block
    padding: 5px
    font-weight: 700
    border: 2px solid var(--primary3)
    background-color: var(--primary2)
    margin: 0

  .number
    border-top-left-radius: 5px
    border-bottom-left-radius: 5px
    color: var(--text-alt-hc)

  .time
    border-left: 0
    border-right: 0

  .direction
    border-top-right-radius: 5px
    border-bottom-right-radius: 5px
    flex-grow: 1

.pt-line.bus .number
  background-color: var(--blue)

.pt-line.metro .number
  background-color: var(--green)
  padding-left: 25px

.pane-content.news
  display: flex
  flex-wrap: wrap

.news-list-item
  display: flex
  flex-direction: row
  margin: 5px
  flex-basis: 500px
  min-width: 300px
  flex-grow: 1
  padding: 5px 10px

  h3 > a
    color: var(--text-hc)

  img
    max-width: 100px
    max-height: 100px
    flex-basis: 100px
    background-size: cover
    flex-shrink: 0
    margin-right: 10px
    background-color: lightgrey

  div
    display: flex
    flex-direction: column
    justify-content: space-between
    width: 100%

    span:last-child
      align-self: flex-end

.profile
  .students
    color: var(--text-hc)
    background-color: var(--primary0)
    border-radius: 5px

    div
      padding: 5px

    div:first-child
      border: solid 2px var(--primary1)
      background-color: var(--primary2)
      border-radius: 5px
      color: var(--text-hc) !important

  .group
    display: block
    max-height: 50px
    border: 2px solid var(--primary1)
    border-radius: 5px
    padding-left: 5px
    background-color: black
    background-position: right
    background-size: contain
    background-repeat: no-repeat
    box-shadow: 0 0 5px var(--primary4)
    font-weight: bold
    font-size: 2em
    text-shadow: 0 0 2px var(--primary1)
    color: var(--primary1)

.meals
  > span:first-child
    font-weight: bold
    padding-bottom: 10px
    font-size: 1.1em
    display: block

  > div
    border-top: 2px solid var(--primary1)
    padding: 5px 0

  img
    max-width: 32px
    vertical-align: middle

#weather
  .y-axis line
    opacity: .1

  .y-axis path
    display: none

  .line
    fill: none
    stroke-width: 1.5px
    opacity: .75

  .overlay
    fill: none
    pointer-events: all

  .lineHoverText
    filter: brightness(300%) saturate(120%)

  .hoverCircle
    opacity: .75

.boinc
  th
    text-align: left
    color: var(--text-hc)

  img
    width: 20px
    height: 20px

.pane-content
  ul.menu
    padding: 0
    margin: 0

    li
      list-style: none
      display: block
      font-size: 1.1em
      font-weight: bold

.room-type-1
  box-shadow: 0 0 2px var(--room-type-1)
  border: 2px solid var(--room-type-1-shadow) !important

.room-type-2
  box-shadow: 0 0 2px var(--room-type-2)
  border: 2px solid var(--room-type-2-shadow) !important

.room-type-3
  box-shadow: 0 0 2px var(--room-type-3)
  border: 2px solid var(--room-type-3-shadow) !important

.room-type-4
  box-shadow: 0 0 2px var(--room-type-4)
  border: 2px solid var(--room-type-4-shadow) !important

.room-type-5
  box-shadow: 0 0 2px var(--room-type-5)
  border: 2px solid var(--room-type-5-shadow) !important

.room-type-6
  box-shadow: 0 0 2px var(--room-type-6)
  border: 2px solid var(--room-type-6-shadow) !important

.room-type-7
  box-shadow: 0 0 2px var(--room-type-7)
  border: 2px solid var(--room-type-7-shadow) !important


.room-list
  display: flex
  flex-wrap: wrap

  a
    display: inline-block
    font-size: 1.2em
    font-weight: bold
    padding: 3px 6px
    margin: 5px 5px
    border-radius: 5px
    border: 2px solid #aaa
    color: var(--text-hc)
    background: var(--input-light)

.schedule
  min-width: 100%
  height: 100%
  border: none
  border-spacing: 0

  td
    padding: 0

  tr:first-child
    background-color: var(--primary2) !important
    color: var(--text-hc)

  th
    border: 2px solid var(--primary4)
    border-right: 0

  th:first-child
    border-left: 0

  td:first-child
    width: 50px
    font-weight: bold
    background-color: var(--primary3)
    color: var(--text-hc)
    line-height: 15px
    text-align: right
    border-bottom: 2px solid #8b9e9d

  tr:nth-of-type(odd)
    background-color: var(--primary3)

.turn-container
  border: 1px solid var(--primary2)
  background-color: var(--primary1)

.turn-t
  background-color: var(--theoretical-turn) !important

.turn-p
  background-color: var(--practical-turn) !important

.turn-tp
  background-color: var(--theoretical-practical-turn) !important

.turn-info
  color: var(--text-hc)
  display: flex
  flex-direction: column
  text-align: center
  font-weight: bold

  > a:first-child
    padding: 2px
    color: var(--text-link)
    font-size: 1.2em

.end-time
  font-size: 0.7em

.empty_time_slot
  background-color: #2fa40c

.busy_time_slot
  background-color: #c90014

.unknown_time_slot
  background-color: #c9b616

.schedule_wrapper
  overflow-x: auto

.building_schedule_map
  border-spacing: 0

  td, th
    margin: 0
    border-bottom: 2px solid black
    white-space: nowrap
    border-top-width: 0
    min-width: 25px

  th
    border-left: 2px solid white

  td:nth-of-type(odd)
    border-left: 2px solid #ffffff
    border-right: 2px dotted #666666

  tr:first-child
    background-color: #ccc !important

  th:first-child
    background-color: #777 !important
    color: white !important
    font-size: 1.2em

  th:first-child a
    color: white !important

#calendar
  //TODO https://github.com/nhn/tui.calendar/issues/268
  min-height: calc(100% - 5px)

#cal-range-label
  color: var(--text-hc)
  font-size: 32px

#cal-ctls .ui-btn
  min-height: 32px
  min-width: 32px
  background-size: contain
  background-repeat: no-repeat

  &.hid
    visibility: hidden

#cal-next
  background: url("/static/img/icons/arrow-right.svg")

#cal-prev
  background: url("/static/img/icons/arrow-left.svg")


.ui-tag

  &.schedulecreation
    background-color: var(--red)

  &.schedulecreation:before
    content: "Agenda"

  &.announcement
    background-color: var(--green)

  &.announcement:before
    content: "Anúncio"

.exercise-answer
  color: var(--text)
  background-color: var(--text)
  margin-left: 20px


.exercise-answer:hover
  color: inherit
  background-color: transparent


.subexercises
  margin-left: 10px
  padding-left: 10px
  border-left: 2px solid var(--highlight)
