$small-pane-width: 300px
$medium-pane-width: 400px
$big-pane-width: 600px

$mobile-max-width: 900px
$compact-max-width: 950px

$lowres: "screen and (max-width: #{$mobile-max-width})"
$midres: "screen and (min-width: #{$mobile-max-width + 1} and max-width: #{$compact-max-width})"
$highres: "screen and (min-width: #{$compact-max-width + 1})"

$lowmidres: "screen and (max-width: #{$compact-max-width})"
$midhighres: "screen and (min-width: #{$mobile-max-width + 1})"

$top-height: 55px

\:root, [data-theme="quasar"]
  // Base colors
  --primary0: #ffffff
  --primary1: #efeff0
  --primary2: #dbdbdd
  --primary3: #c4c5c9
  --primary4: #aeaeb4
  --red: #d6999f
  --green: #c1d2b1
  --blue: #a1b5ce

  // Layout
  --bg: #ffffff
  --text: #2e3338
  --text-hc: #2e3338
  --text-alt: #2e3338
  --text-alt-hc: #2e3338
  --text-link: #0067e0
  --highlight: #3490ce
  --pane-title: #2e3338
  --pane-title-link: #3e92b3
  --pane-title-bg: transparent
  --pane-bg: #efeff0
  --header-bg: #e3e5e8
  --shadow: #c4c5c9
  --grad1: #dbdbdd
  --grad2: #c4c5c9
  --grad3: transparent
  --input-light: #ffffff
  --input-dark: #dbdbdd

  // Misc overrides
  --theoretical-turn: #1f3333
  --practical-turn: #2d382e
  --theoretical-practical-turn: #383b23
  --room-type-1-color: #7a6d99
  --room-type-1-shadow: #8f7fb3
  --room-type-2-color: #99776d
  --room-type-2-shadow: #99776d
  --room-type-3-color: #99886d
  --room-type-3-shadow: #b39f7f
  --room-type-4-color: #81996d
  --room-type-4-shadow: #97b381
  --room-type-5-color: #6d8899
  --room-type-5-shadow: #7f9eb3
  --room-type-6-color: #8b8c5b
  --room-type-6-shadow: #b0b37f
  --room-type-7-color: #6d9995
  --room-type-7-shadow: #7fb3ae

  // TODO merge this to the inputs
  --select2-light: #323138
  --select2-dark: #15151b

[data-theme="tokamak"]
  // Base colors
  --primary0: #10101d
  --primary1: #15151b
  --primary2: #323138
  --primary3: #53535d
  --primary4: #74737f

  // Layout
  --bg: #53535d
  --text: #2e3338
  --text-hc: #2e3338
  --text-alt: #8c8b99
  --text-alt-hc: #cccccc
  --text-link: #0067e0
  --highlight: #3490ce
  --pane-bg: #eceff4
  --pane-title: #cccccc
  --pane-title-bg: #53535d
  --pane-title-link: #3e92b3
  --header-bg: #e3e5e8
  --red: #990011
  --green: #075900
  --blue: #192a76
  --shadow: #323138
  --grad1: #323138
  --grad2: #323138
  --input-light: #e5e9f0
  --input-dark: #74737f

[data-theme="nebula"]
  // Base colors
  --primary0: #10101d
  --primary1: #15151b
  --primary2:  #323138
  --primary3: #53535d
  --primary4: #74737f
  --red: #990011
  --green: #075900
  --blue: #192a76

  // Layout
  --text: #8c8b99
  --text-hc: #cccccc
  --text-alt: #8c8b99
  --text-alt-hc: #cccccc
  --link: #0080ad
  --highlight: #004766
  --pane-title: #8c8b99
  --pane-title-link: #3a7a96
  --bg: #000
  --pane-bg: #323138af
  --header-bg: #3231387f
  --shadow: #15151b
  --grad1: #323138
  --grad2: #53535d
  --grad3: transparent
  --input-light: #323138
  --input-dark: #15151b