$small-pane-width: 300px
$medium-pane-width: 400px
$big-pane-width: 600px

$mobile-max-width: 900px
$compact-max-width: 950px

$lowres: "screen and (max-width: #{$mobile-max-width})"
$midres: "screen and (min-width: #{$mobile-max-width + 1} and max-width: #{$compact-max-width})"
$highres: "screen and (min-width: #{$compact-max-width + 1})"

$lowmidres: "screen and (max-width: #{$compact-max-width})"
$midhighres: "screen and (min-width: #{$mobile-max-width + 1})"

$top-height: 55px

\:root, [data-theme="dark"]
  --primary-0: #74737f
  --primary-1: #53535d
  --primary-2:  #323138
  --primary-3: #15151b
  --primary-4: #10101d
  --text: #74737f
  --text-hc: #a8a8ad
  --text-alt: #74737f
  --text-alt-hc: #a8a8ad
  --link: #0080ad
  --highlight: #004766
  --pane-title: #74737f
  --pane-title-link: #3A7A96
  --bg: #15151b
  --pane-bg: #3231387f
  --header-bg: #3231387f
  --red: #990011
  --green: #075900
  --blue: #192a76
  --theoretical-turn: #1f3333
  --practical-turn: #2d382e
  --theoretical-practical-turn: #383b23
  --room-type-1-color: #7a6d99
  --room-type-1-shadow: #8f7fb3
  --room-type-2-color: #99776d
  --room-type-2-shadow: #99776d
  --room-type-3-color: #99886d
  --room-type-3-shadow: #b39f7f
  --room-type-4-color: #81996d
  --room-type-4-shadow: #97b381
  --room-type-5-color: #6d8899
  --room-type-5-shadow: #7f9eb3
  --room-type-6-color: #8b8c5b
  --room-type-6-shadow: #b0b37f
  --room-type-7-color: #6d9995
  --room-type-7-shadow: #7fb3ae
  --select2-light: #323138
  --select2-dark: #15151B

[data-theme="hybrid"]
  --primary-0: #D2D2D7
  --primary-1: #BABAC3
  --primary-2: #A4A4AF
  --primary-3: #9292A0
  --primary-4: #818291
  --text: #2e3338
  --text-hc: #2e3338
  --text-alt: #74737f
  --text-alt-hc: #74737f
  --text-link: #0067e0
  --pane-title: #2e3338
  --pane-bg: #fff
  --header-bg: #e3e5e8
  --red: #e53346
  --green: #179211
  --blue: #2a46ad

[data-theme="light"]
  --primary-0: #FFFFFF
  --primary-1: #EFEFF0
  --primary-2: #DBDBDD
  --primary-3: #C4C5C9
  --primary-4: #AEAEB4
  --bg: white
  --text: #2e3338
  --text-hc: #2e3338
  --text-alt: #2e3338
  --text-alt-hc: #2e3338
  --text-link: #0067e0
  --highlight: #3490ce
  --pane-title: #2e3338
  --pane-bg: #EFEFF0
  --header-bg: #e3e5e8
  --red: #d5011e
  --green: #179211
  --blue: #2a46ad
