__pycache__
migrations
supernova/static/supernova/images/
*.svg
*.jpg
*.png
*.woff2
*.css
*.map
/venv/
ignore.py
settings.json
_build
_static
_templates
.sass-cache
*/static/
dev/
data/
log/
*.log
conf/
.idea
database
ckeditor
docker*.yml