#top-container {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

#top-container > a {
    display: inline-block;
    padding: 8px 20px;
    background-color: #eee;
    font-size: 1.2em;
    font-weight: bold;
    border-right: 2px solid #b7ccb1;
    border-top: 2px solid #b7ccb1;
    border-bottom: 0;
}

#top-container > a:hover {
    background-color: #c9de96;
}

#top-container a {
    color: #999;
}

#top-container a:first-child {
    border-top-left-radius: 10px;
    border-left: 2px solid #b7ccb1;
}

#top-container a:last-child {
    border-top-right-radius: 10px;
}

#top-container a.selected {
    background-color: #aaa;
    color: white;
}

.map {
    width: 100%;
    height: 70vh;
    min-height: 400px;
}

.caption {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.caption > li {
    display: inline-block;
    padding: 4px 15px;
    background-color: #f5f5f5;
    border-bottom: 2px solid #b7ccb1;
}

.caption > li:first-child {
    border-bottom-left-radius: 10px;
    border-left: 2px solid #b7ccb1;
}

.caption > li:last-child {
    border-bottom-right-radius: 10px;
    border-right: 2px solid #b7ccb1;
}




.place {
    display: inline-block;
    padding: 8px;
    border-radius: 10px;
    border: 2px solid #777;
}

#side-extra ul {
    padding: 0;
}

#side-extra li {
    list-style: none;
    margin-left: 5px;
    margin-bottom: 5px;
}

/* Campus Map */

/*Transportation Map */
.MTS, .TST, .FER, .SFT, .ML, .CP, .TT, .TCB {
    width: 30px;
    height: 12px;
    display: inline-block;
    border-left: 0 !important;
    border-right: 0 !important;
}

.MTS {
    background-color: #00ccff;
    border: 3px solid #a05a2c;
}

.TST {
    background-color: #06f;
    border: 3px solid white;
}

.FER {
    background-color: #a40c0c;
    border: 3px solid #003860;
}

.SFT {
    background-color: #aa87de;
    border: 3px solid white;
}

.TT {
    background-color: white;
    border: 3px solid red;
}

.ML {
    background: linear-gradient(to right, #ff0000 25%, #ffff00 25%, #ffff00 50%, #57d300 50%, #57d300 75%, #0657ff 75%);
    border: 3px solid #a05a2c;
    display: inline-block;
}

.CP {
    background-color: #2fa40c;
    border: 3px solid #003860;
}

.TCB {
    background-color: #8dd35f;
    border: 3px solid white;
}

