{% extends 'kleep/content_navigation.html' %}

{% load static %}

{% block content %}
    <h1><i class="far fa-newspaper"></i> Notícias</h1>
    {% for news_item in news %}
        <div>
            <a href="{% url 'news:news_item' news_item.id %}"><h2>{{ news_item.title }}</h2></a>
            <span>{{ news_item.summary }}</span>
        </div>
    {% endfor %}
{% endblock %}

{% block navigation %}
    <a class="menu_entry selected">Todas</a>
    <a class="disabled menu_entry">Campus</a>
    <a class="disabled menu_entry">Minhas cadeiras</a>
    <a class="disabled menu_entry">Subscrições</a>
    <a class="disabled menu_entry">Generalistas</a>
{% endblock %}

{% block side_extra %}
    <div id="side_extra">
        <a class="disabled menu_entry">Gerir feed</a>
        <a class="disabled menu_entry">Gerir subscrições</a>
    </div>
{% endblock %}