<h1 style="display: inline-block"><i class="fas fa-users"></i> {{ title }}</h1>
<div style="float: right;">
    {% if group.non_member_permission <= group.CLOSED_PRIVATE %}
        <i class="fas fa-lock"></i> Admissão por convite
    {% elif group.non_member_permission == group.OPEN %}
        <i class="fas fa-lock-open"></i> <input type="button" value="Entrar">
    {% else %}
        <i class="fas fa-lock-open"></i> <input type="button" value="Solicitar admissão">
    {% endif %}
    <input type="button" value="Subscrever">
</div>