{% extends 'supernova/base.html' %}
{% load static %}
{% block head %}
  <link rel="stylesheet" type="text/css" href="https://uicdn.toast.com/tui-calendar/latest/tui-calendar.css"/>
  <script src="{% static 'js/calendar.js' %}"></script>
{% endblock %}

{% block content_wrapper %}
  <div class="col calendar">
    <div class="header-decorator">
      <div>
        <h1>Calendário de {{ user.get_full_name }}</h1>
        <div id="cal-ctls">
          <span id="cal-prev" class="ui-btn hid" onclick="calendarPrev();"></span>
          <span id="cal-range-label"></span>
          <span id="cal-next" class="ui-btn" onclick="calendarNext();"></span>
          {#          <span class="ui-btn" onclick="calendar.today();">Hoje</span>#}
        </div>
      </div>
    </div>
    <div>
      <div id="calendar" style="height: 800px"></div>
    </div>
  </div>
  <script src="https://uicdn.toast.com/tui.code-snippet/latest/tui-code-snippet.js"></script>
  <script src="https://uicdn.toast.com/tui.dom/v3.0.0/tui-dom.js"></script>
  <script src="https://uicdn.toast.com/tui-calendar/latest/tui-calendar.js"></script>
  <script src="https://momentjs.com/downloads/moment-with-locales.min.js"></script>
  <script>
      let currentDate = new Date(Date.now());
      loadCalendar(
          '#calendar',
          "{% url 'user_schedule' profile_user.nickname 'from' 'to'%}",
          currentDate, 28, 'week');
  </script>
{% endblock %}