{% extends 'supernova/base.html' %}
{% load static %}
{% block head %}
  <script src="{% static 'js/lib/fullcalendar/main.min.js' %}"></script>
  <script src="{% static 'js/lib/fullcalendar/locales/pt-br.js' %}"></script>
  <link rel="stylesheet" type="text/css" href="{% static 'js/lib/fullcalendar/main.min.css' %}"/>
  <script src="{% static 'js/calendar.js' %}"></script>
{% endblock %}

{% block content_wrapper %}
  <div class="col">
    <div class="header-decorator">
      <div class="header-decorator-options">
        <ul>
          <li><a href="{% url 'users:calendar_manage' profile_user.nickname %}">Editar agenda</a></li>
        </ul>
      </div>
      <div><h1>Calendário</h1></div>
    </div>
    <div class="simple pane">
      <div class="pane-content">
        <div id="calendar"></div>
      </div>
    </div>
  </div>
  <script>loadCalendar("{{ profile_user.nickname }}");</script>
{% endblock %}