{% extends 'supernova/base.html' %}

{% block content_wrapper %}
  <div class="col">
    <div class="header-decorator">
      <h1>Convites emitidos por {{ profile_user.get_full_name }}</h1>
    </div>
    <div class="col padded">
      <div class="flex-pane">
        <div class="pane-title bg-grad"></div>
        <div class="pane-content col">
          <table style="min-width: 100%">
            <tr>
              <th>Convite</th>
              <th>Gerado a</th>
              <th>Data de validade</th>
              <th>Link</th>
            </tr>
            {% for invite in profile_user.invites.all %}
              <tr>
                <td>{{ invite.token }}</td>
                <td>De {{ invite.created }}</td>
                  <td>Até {{ invite.expiration }}</td>
                {% if invite.registration %}
                  <td>Utilizado</td>
                {% elif invite.expired %}
                  <td>Caducado</td>
                {% else %}
                  <td><a href="{% url 'registration' %}?t={{ invite.token }}">Link de registo</a></td>
                {% endif %}
              </tr>
            {% endfor %}
          </table>
          {% if profile_user.invites.all|length == 0 %}
            <span>Sem convites emitidos.</span>
          {% endif %}
          {% if profile_user == request.user %}
            <a class="ui-btn end" href="{% url 'users:create_invite' profile_user.nickname %}">Criar novo</a>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
{% endblock %}