{% extends 'supernova/base.html' %}

{% block content_wrapper %}
  <div class="col">
    <div class="header-decorator">
      <h1>Convites emitidos por {{ profile_user.name }}</h1>
    </div>
    <div class="col padded">
      <div class="pane">
        <div class="pane-title"></div>
        <div class="pane-content col">
          <table class="stylized grow">
            <thead>
            <tr>
              <th>Convite</th>
              <th class="highres">Gerado a</th>
              <th>Data de validade</th>
              <th>Link</th>
            </tr>
            </thead>
            <tbody>
            {% for invite in profile_user.invites.all %}
              <tr>
                <td>{{ invite.token }}</td>
                <td class="highres">{{ invite.created }}</td>
                <td>{{ invite.expiration }}</td>
                <td>
                  {% if invite.registration %}
                    Utilizado
                  {% elif invite.expired %}
                    Caducado
                  {% else %}
                    <a href="{% url 'registration' %}?t={{ invite.token }}">Aluno</a> /
                    <a href="{% url 'registration' %}?t={{ invite.token }}&professor">Docente</a>
                  {% endif %}
                </td>
              </tr>
            {% endfor %}
          </table>
          </tbody>
          {% if profile_user.invites.all|length == 0 %}
            <p>Sem convites emitidos.</p>
          {% endif %}
          {% if profile_user == request.user %}
            <a class="ui-btn end" href="{% url 'users:create_invite' profile_user.nickname %}">Criar novo</a>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
{% endblock %}