{% extends 'supernova/base.html' %}

{% block head %}
  <style>
    #login-form input[type=text], #login-form input[type=password] {
      margin-bottom: 10px;
    }
  </style>
{% endblock %}

{% block content_wrapper %}
  <div class="row padded">
    <div class="col nogrow">
      <div class="flex-pane">
        <div class="pane-title bg-grad"><h2>Autenticação</h2></div>
        <div class="pane-content">
          <span style="font-size: 1.2em; font-weight: bold; color: red;">{{ login_form.non_field_errors }}</span>
          <form id="login-form" class="col" method="post" action="{{ request.get_full_path }}">
            {% csrf_token %}
            {% if login_form.username.errors %}
              {{ login_form.username.errors }}<br>
            {% endif %}
            {{ login_form.username.label }}<br>
            {{ login_form.username }}
            {% if login_form.password.errors %}
              {{ login_form.password.errors }}<br>
            {% endif %}
            {{ login_form.password.label }}<br>
            {{ login_form.password }}<br>
            <input type="submit" value="Entrar">
          </form>
        </div>
      </div>
    </div>
    <div class="col nogrow">
      <div class="flex-pane">
        <div class="pane-title bg-grad"><h2>Sem conta?</h2></div>
        <div class="pane-content">
          Podes criar uma <a href="{% url 'registration' %}">aqui</a>.
        </div>
      </div>
      <div class="flex-pane">
        <div class="pane-title bg-grad"><h2>Não consigo entrar!</h2></div>
        <div class="pane-content">
          Pois... isso parece ser um problema.<br>
          Contacta-nos, nós ajudamos-te.
        </div>
      </div>
    </div>
  </div>
{% endblock %}