{% extends 'supernova/base.html' %}

{% block content_wrapper %}
  <div class="col">
    <div class="header-decorator">
      <h1>Notificações de {{ user.name }}</h1>
    </div>
    <div class="col padded">
      <div class="pane">
        <div class="pane-title"></div>
        <div class="pane-content col padded">
          <ul>
            {% for notification in notifications %}
              <li><a{% if notification.to_url %} href="{{ notification.to_url }}" {% endif %}>{{ notification }}</a> - {{ notification.issue_timestamp }}</li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  </div>
{% endblock %}