{% extends 'supernova/base.html' %}

{% load static %}

{% block head %}
  {{ block.super }}
  <script src="https://cdn.jsdelivr.net/npm/jquery@3/dist/jquery.min.js"></script>
  <script type="text/javascript" src="{% static 'users/socialNetworks.js' %}"></script>

  <link rel="stylesheet" type="text/css" href="{% static 'users/profile.css' %}"/>
{% endblock %}

{% block content_wrapper %}
  <div class="col profile">
    <div class="header-decorator">
      <h1>Definições de {{ profile_user.nickname }}</h1>
    </div>
    <div class="col padded">
      <div class="flex-pane">
        <div class="pane-title bg-grad"><h2>Informação pessoal</h2></div>
        <div class="pane-content">
          <form class="col" action="{% url 'users:settings' profile_user.nickname %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ settings_form.errors }}
            <div class="form-block">
              <div class="form-row">
                <div class="form-row-top">
                  <h4>Alcunha (Opcional)</h4>
                  {{ settings_form.nickname }}
                </div>
                <div class="form-row-description">
                  Um identificador da tua conta para os restantes utilizadores.<br>
                  Pode ou não ser o nome de utilizador da conta.
                  Não pode conter espaços ou carateres especiais.
                  Só pode ser alterada uma vez a cada 6 meses.
                </div>
              </div>
              <hr>
              <div class="form-row">
                <div class="form-row-top">
                  <h4>Foto (Opcional)</h4>
                </div>
                <div class="form-row-description">
                  Uma imagem do teu agrado, preferêncialmente tua, que aches que te representa ou torna
                  identificavel perante os restantes.
                </div>
                <div style="display: flex">
                  {% if profile_user.picture %}
                    <div style="margin-right: 10px">
                      Fotografia atual:<br>
                      <img alt="Fotografia de perfil" src="{% get_media_prefix %}{{ profile_user.picture }}"
                           style="max-width: 500px; max-height: 300px;">
                    </div>
                  {% endif %}
                  {{ settings_form.picture }}
                </div>
              </div>
              <hr>
              <div class="form-row">
                <div class="form-row-top">
                  <h4>Sobre mim (Opcional)</h4>
                </div>
                <div class="form-row-description">
                  Um texto que te descreva. Podes utilizar markdown na escrita.<br>
                  Não podes colocar links externos nem conteúdo de legalidade dúbia.
                </div>
                {{ settings_form.about }}
              </div>
              <hr>
              <div class="form-row">
                <div class="form-row-top">
                  <h4>Residência (Opcional)</h4>
                  {{ settings_form.residence }}
                </div>
                <div class="form-row-description">
                  O teu local de habitação, com a especificidade que quiseres. (tanto "Lisboa" como "Cova da Piedade,
                  Almada" está bom).<br>
                  Não sejas demasiado especifico sob pena de ganhares amigos novos à porta.
                </div>
              </div>
              <hr>
              <div class="form-row">
                <div class="form-row-top">
                  <h4>Página Web (Opcional)</h4>
                  {{ settings_form.webpage }}
                </div>
                <div class="form-row-description">
                  A tua página pessoal na internet.
                  É uma pagina do teu controlo, não uma rede social ou site de apostas em que participas.<br>
                  É mandatório que respeite a lei (p.ex RGPD).
                </div>
              </div>
              <hr>
              <div class="form-row">
                <div class="form-row-top">
                  <h4>Data de nascimento (Opcional)</h4>
                  <div>{{ settings_form.birth_date }}</div>
                </div>
              </div>
              <hr>
              <div class="form-row">
                <div class="form-row-top">
                  <h4>Genero (Opcional)</h4>
                  <div>
                    {{ settings_form.gender.0 }}
                    {{ settings_form.gender.1 }}
                    {{ settings_form.gender.2 }}
                    {{ settings_form.gender.3 }}
                  </div>
                </div>
              </div>
              <hr>
              <div class="form-row">
                <div class="form-row-top">
                  <h4>Visibilidade do perfil</h4>
                  {{ settings_form.profile_visibility }}
                </div>
                <div class="form-row-description">
                  Indica quem é que pode abrir a tua página de perfil.<br>
                  Por si só, esta permissão apenas revela o teu nome completo.
                </div>
              </div>
              <hr>
              <div class="form-row">
                <div class="form-row-top">
                  <h4>Visibilidade de descritivos</h4>
                  {{ settings_form.info_visibility }}
                </div>
                <div class="form-row-description">
                  Indica quem é que pode ver o teu painel de informação.
                </div>
              </div>
              <hr>
              <div class="form-row">
                <div class="form-row-top">
                  <h4>Visibilidade da auto-descrição</h4>
                  {{ settings_form.about_visibility }}
                </div>
                <div class="form-row-description">
                  Indica quem é que pode ver a tua auto-descrição.
                </div>
              </div>
              <hr>
              <div class="form-row">
                <div class="form-row-top">
                  <h4>Visibilidade das redes sociais</h4>
                  {{ settings_form.social_visibility }}
                </div>
                <div class="form-row-description">
                  Indica quem é que pode ver as tuas redes sociais.
                </div>
              </div>
              <hr>
              <div class="form-row">
                <div class="form-row-top">
                  <h4>Visibilidade das filiações</h4>
                  {{ settings_form.groups_visibility }}
                </div>
                <div class="form-row-description">
                  Indica quem é que pode ver os grupos dos quais fazes parte.
                </div>
              </div>
              <hr>
              <div class="form-row">
                <div class="form-row-top">
                  <h4>Visibilidade das inscrições</h4>
                  {{ settings_form.enrollments_visibility }}
                </div>
                <div class="form-row-description">
                  Indica quem é que pode ver as tuas inscrições.
                </div>
              </div>
              <hr>
              <div class="form-row">
                <div class="form-row-top">
                  <h4>Visibilidade do horário</h4>
                  {{ settings_form.schedule_visibility }}
                </div>
                <div class="form-row-description">
                  Indica quem é que pode ver o teu horário. Afetado pela permissão anterior.
                </div>
              </div>
              <hr>
              <div class="form-row">
                <div class="form-row-top">
                  <h4>Mudar palavra-passe (Opcional)</h4>
                  <div>Nova: {{ settings_form.new_password }}
                    Confirmação: {{ settings_form.new_password_confirmation }}</div>
                </div>
                <div class="form-row-description">Preenche caso queiras alterar a tua palavra-passe.</div>
              </div>
              <hr>
              <div class="form-row">
                <div class="form-row-top">
                  <h4>Palavra-passe atual</h4>
                  {{ settings_form.old_password }}
                </div>
                <div class="form-row-description">
                  Insere a tua palavra-passe para confirmares que és tu quem está a fazer as alterações.
                </div>
              </div>
            </div>
            <input class="ui-btn end" type="submit" value="Guardar">
            {{ settings_form.media }}
          </form>
        </div>
      </div>
      <div class="flex-pane">
        <div class="pane-title bg-grad"><h2>Redes sociais</h2></div>
        <div class="pane-content">
          <div>
            <ul id="social-network-list">
            </ul>
            <select id="network">
              {% for network in social_networks %}
                <option value="{{ network.0 }}" selected="">{{ network.1 }}</option>
              {% endfor %}
            </select>
            <input id="network-link" type="text" placeholder="Endreço do perfil">
            <input type="button" value="Adicionar" onclick="addNetwork()"><br>
            Entra em contacto connosco caso aches que falta alguma plataforma que queiras adicionar.<br>
            Tem em conta que não vamos adicionar plataformas parasiticas cujo modelo de negócio seja o comércio de dados
            privados.
          </div>
          <script>
              let apiURL = "{% url 'api:social_networks' profile_user.nickname %}";
              populateSocialNetworks(apiURL, edit = true);
          </script>
          <script type="text/javascript" src="{% static 'autocomplete_light/jquery.init.js' %}"></script>
        </div>
      </div>
      {% if permissions_form %}
        <div class="flex-pane">
          <div class="pane-title bg-grad"><h2>Permissões</h2></div>
          <div class="pane-content">
            <form id="test" class="col" action="{% url 'users:settings' profile_user.nickname %}?permissions=" method="post">
              {% csrf_token %}
              {{ permissions_form.errors }}
              <div class="form-block">
                <div class="form-row">
                  <div class="form-row-top">
                    <h4>Ver dados académicos</h4>
                    {{ permissions_form.can_view_college_data }}
                  </div>
                  <div class="form-row-description">
                    Pode aceder à informação académica enquanto estudante.
                  </div>
                </div>
                <hr>
                <div class="form-row">
                  <div class="form-row-top">
                    <h4>Criar convites</h4>
                    {{ permissions_form.can_add_invites }}
                  </div>
                  <div class="form-row-description">
                    Pode criar convites para registo.
                  </div>
                </div>
                <hr>
                <div class="form-row">
                  <div class="form-row-top">
                    <h4>Criar sínteses</h4>
                    {{ permissions_form.can_add_synopsis_sections }}
                  </div>
                  <div class="form-row-description">
                    Pode criar secções de sintese.
                  </div>
                </div>
                <hr>
                <div class="form-row">
                  <div class="form-row-top">
                    <h4>Editar sínteses</h4>
                    {{ permissions_form.can_change_synopsis_sections }}
                  </div>
                  <div class="form-row-description">
                    Pode editar secções de sintese.
                  </div>
                </div>
                <hr>
                <div class="form-row">
                  <div class="form-row-top">
                    <h4>Criar exercícios</h4>
                    {{ permissions_form.can_add_exercises }}
                  </div>
                  <div class="form-row-description">
                    Pode inserir novos exercicios.
                  </div>
                </div>
                <hr>
                <div class="form-row">
                  <div class="form-row-top">
                    <h4>Editar exercícios</h4>
                    {{ permissions_form.can_change_exercises }}
                  </div>
                  <div class="form-row-description">
                    Pode editar exercícios existentes.
                  </div>
                </div>
              </div>
              <input class="ui-btn end" type="submit" value="Guardar">
              {{ permissions_form.media }}
            </form>
          </div>
        </div>
      {% endif %}
    </div>
  </div>
{% endblock %}