{% extends 'supernova/base.html' %}

{% load static %}

{% block head %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/balloon.min.css' %}"/>
  <script src="{% static 'js/lib/fullcalendar/main.min.js' %}"></script>
  <script src="{% static 'js/lib/fullcalendar/locales/pt-br.js' %}"></script>
  <link rel="stylesheet" type="text/css" href="{% static 'js/lib/fullcalendar/main.min.css' %}"/>
  <script src="{% static 'js/calendar.js' %}"></script>
{% endblock %}

{% block content_wrapper %}
  <div class="col profile">
    <div class="header-decorator">
      <div class="header-decorator-options">
        <ul>
          {% if request.user == profile_user or request.user.is_staff %}
            {% if perms.users.add_invite %}
              <li><a href="{% url 'users:invites' profile_user.nickname %}">Convites</a></li>
            {% endif %}
            <li><a href="{% url 'users:settings' profile_user.nickname %}">Definições</a></li>
          {% endif %}
        </ul>
      </div>
      <h1>
        <img class="highres" src="{% if profile_user.picture %}{{ profile_user.picture_medium.url }}{% else %}{% static 'img/user.svg' %}{% endif %}">
        {{ profile_user.name }}
      </h1>
    </div>
    <div class="row padded nowrap">
      <div class="col nogrow noshrink" style="flex-basis: 350px;">
        {% if permissions.info_visibility %}
          <div class="flex-pane">
            <div class="pane-title bg-grad"><h2>Informação</h2></div>
            <div class="pane-content">
              <div class="students">
                {% for student in primary_students %}
                  <div>
                    <b>CLIP ID: </b>{{ student.abbreviation }}<br>
                    <b>Numero: </b><a href="{{ student.get_absolute_url }}">{{ student.number }}</a><br>
                    {% if student.course %}
                      <b>Curso: </b>
                      <a href="{{ course.get_absolute_url }}">{{ student.course.abbreviation }}</a>
                    {% endif %}
                  </div>
                {% endfor %}
                {% for teacher in profile_user.teachers.all %}
                    <div>
                    <b>{% if teacher.rank %}{{ teacher.rank.name }}{% else %}Cargo desconhecido{% endif %}</b>
                    <br>
                      <a href="{{ teacher.get_absolute_url }}">Ver página de docente</a>
                    </div>
                {% endfor %}
                {% for student in secondary_students %}
                  {% if student != primary_student %}
                    <div>
                      <b>Numero: </b>{{ student.number }}<br>
                      {% if student.course %}
                        <b>Curso: </b>
                        <a href="{{ course.get_absolute_url }}">{{ student.course.abbreviation }}</a>
                      {% endif %}
                    </div>
                  {% endif %}
                {% endfor %}
              </div>
              {% if age %}
                <h4>Idade:</h4>
                <span class="indented">{{ age }} anos</span>
              {% endif %}
              {% if profile_user.residence %}
                <h4>Zona de residência:</h4>
                <span class="indented">{{ profile_user.residence }}</span>
              {% endif %}
              {% if profile_user.webpage %}
                <h4>Página:</h4>
                <a class="indented" href="{{ profile_user.webpage }}">{{ profile_user.webpage }}</a>
              {% endif %}
              <h4>Utilizador desde:</h4>
              <span class="indented">{{ profile_user.date_joined }}</span>
              <h4>Última atividade:</h4>
              <span class="indented">{{ profile_user.last_activity }}</span>
            </div>
          </div>
        {% endif %}
        {% if permissions.about_visibility and profile_user.about %}
          <div class="flex-pane">
            <div class="pane-title bg-grad"><h2>Sobre mim</h2></div>
            <div class="pane-content">
              {{ profile_user.about_html | safe }}
            </div>
          </div>
        {% endif %}
        {% if profile_user.awards.exists %}
          <div class="flex-pane">
            <div class="pane-title bg-grad">
              <h2>Prémios</h2>
            </div>
            <div class="pane-content">
              <ul>
                {% for award in profile_user.awards.all %}
                  <span class="archievement {{ award.style }}">{{ award.name }}</span>
                {% endfor %}
              </ul>
            </div>
          </div>
        {% endif %}
        {% if permissions.groups_visibility and profile_user.groups_custom.exists %}
          <div class="flex-pane">
            <div class="pane-title bg-grad"><h2>Grupos</h2></div>
            <div class="pane-content">
              {% for group in profile_user.groups_custom.all %}
                <a href="{{ group.get_absolute_url }}">
                <span class="group"{% if group.icon %} style="background-image: url({{ group.icon_small.url }})"{% endif %}>
                  {{ group.abbreviation }}
                </span>
                </a>
              {% endfor %}
            </div>
          </div>
        {% endif %}
        {% if permissions.social_visibility and profile_user.external_pages.exists %}
          <div class="flex-pane">
            <div class="pane-title bg-grad">
              <h2>Páginas externas</h2>
            </div>
            <div class="pane-content">
              <ul id="social-network-list" class="menu">
                {% for page in profile_user.external_pages.all %}
                  <li><a href="{{ page.url }} ">{{ page.title_short }}</a></li>
                {% endfor %}
              </ul>
            </div>
          </div>
        {% endif %}
      </div>
      <div class="col">
        <div class="row">
          <div class="col" style="flex-basis: 500px">
            {% if permissions.schedule_visibility %}
              <div class="flex-pane">
                <div class="pane-title bg-grad">
                  <h2>Horário</h2>
                </div>
                <div class="pane-content">
                  <div id="schedule"></div>
                  <script>loadSchedule("{{ profile_user.nickname }}", true)</script>
                </div>
              </div>
            {% endif %}
          </div>
          <div class="col" style="max-width: 500px">
            {% if permissions.enrollments_visibility and current_class_instances.exists %}
              <div class="flex-pane">
                <div class="pane-title bg-grad">
                  <h2>Inscrições atuais</h2>
                </div>
                <div class="pane-content">
                  <ul class="entity-list">
                    {% for instance in current_class_instances %}
                      <li class="entity"><a href="{{ instance.get_absolute_url }}">{{ instance.parent.name }}</a></li>
                    {% endfor %}
                  </ul>
                </div>
              </div>
            {% endif %}
            {% if permissions.enrollments_visibility and past_classes.exists %}
              <div class="flex-pane">
                <div class="pane-title bg-grad">
                  <h2>Inscrições prévias</h2>
                </div>
                <div class="pane-content">
                  <ul class="entity-list">
                    {% for class in past_classes %}
                      <li class="entity"><a href="{{ class.get_absolute_url }}">{{ class.name }}</a></li>
                    {% endfor %}
                  </ul>
                </div>
              </div>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
    {% if request.user.is_staff %}
      <div class="flex-pane">
        <div class="pane-title bg-grad">
          <h2>Debug</h2>
        </div>
        <div class="pane-content">
          <h3>Perms</h3>
          <span class="indented"><b>Is staff?</b> {{ profile_user.is_staff }}</span>
          <span class="indented"><b>Is student?</b> {{ profile_user.is_student }}</span>
          <span class="indented"><b>Is teacher?</b> {{ profile_user.is_teacher }}</span>
          <ul>
            {% for perm in profile_user.user_permissions.all %}
              <li>{{ perm }}</li>
            {% endfor %}
          </ul>
          <h3>Attributes</h3>
          <span class="indented"><b>Points</b> {{ profile_user.points }}</span>
        </div>
      </div>
    {% endif %}
  </div>
{% endblock %}