{% extends 'supernova/base.html' %}

{% load static %}

{% block content_wrapper %}
  <div class="col main profile">
    <div class="header-decorator">
      <div class="header-decorator-options">
        <ul>
          <li>
            <a href="{% url 'users:settings' profile_user.nickname %}">Definições</a>
          </li>
        </ul>
      </div>
      <h1>
        {% if profile_user.picture %}
          <img src="{% get_media_prefix %}{{ profile_user.picture }}">
        {% else %}
          <img src="{% static 'supernova/user.svg' %}">
        {% endif %}
        {{ profile_user.get_full_name }}
      </h1>
    </div>
    <div class="row padded">
      {% if profile_user.groups.exists %}
        <div class="flex-pane">
          <div class="pane-title bg-grad"><h2>Grupos</h2></div>
          <div class="pane-content">
            {% for group in profile_user.group_set.all %}
              <a href="{% url 'group' group.id %}">
                <span class="group" style="background-image: url({% get_media_prefix %}{{ group.image }}">
                  {{ group.abbreviation }}</span></a>
            {% endfor %}
          </div>
        </div>
      {% endif %}
      <div class="flex-pane">
        <div class="pane-title bg-grad"><h2>Sobre</h2></div>
        <div class="pane-content">
          <div class="students">
            <div>
              <b>CLIP ID: </b>{{ primary_student.abbreviation }}<br>
              <b>Numero: </b>{{ primary_student.number }}<br>
              <b>Curso: </b>
              <a href="{% url 'college:course' primary_student.course.id %}">
                {{ primary_student.course.abbreviation }}
              </a>
            </div>
            {% for student in secondary_students.all %}
              <div>
                <b>Numero: </b>{{ student.number }}<br>
                <b>Curso: </b>
                <a href="{% url 'college:course' student.course.id %}">
                  {{ student.course.abbreviation }}
                </a>
              </div>
            {% endfor %}
          </div>
          {% if profile_user.residence %}
            <b>Residência:</b> {{ profile_user.residence }}<br>
          {% endif %}
          <b>Ultima atividade:</b> TODO<br>
          {% if profile_user.webpage %}
            <b>Página:</b> <a href="{{ profile_user.webpage }}">{{ profile_user.webpage }}</a><br>
          {% endif %}
        </div>
      </div>
      {% if current_class_instances.exists %}
        <div class="flex-pane">
          <div class="pane-title bg-grad">
            <h2>Inscrições</h2>
          </div>
          <div class="pane-content">
            <ul>
              {% for instance in current_class_instances %}
                <li><a href="{% url 'college:class_instance' instance.id %}">{{ instance.parent.name }}</a></li>
              {% endfor %}
            </ul>
          </div>
        </div>
      {% endif %}
      {% if profile_user.badges.exists %}
        <div class="flex-pane">
          <div class="pane-title bg-grad">
            <h2>Conquistas</h2>
          </div>
          <div class="pane-content">
            <ul>
              {% for badge in profile_user.badges.all %}
                <span class="archievement {{ badge.style }}">{{ badge.name }}</span>
              {% endfor %}
            </ul>
          </div>
        </div>
      {% endif %}
      {% if profile_user.social_networks.exists %}
        <div class="flex-pane">
          <div class="pane-title bg-grad">
            <h2>Social</h2>
          </div>
          <div class="pane-content">
            <ul id="social-network-list">
              {% for social_network in profile_user.social_networks.all %}
                <li>{{ social_network }}</li>
              {% endfor %}
            </ul>
          </div>
        </div>
      {% endif %}
    </div>
  </div>
{% endblock %}