{% extends 'supernova/content_only_formatted.html' %}

{% block title %}<h2>Validar registo</h2>{% endblock %}
{% block content %}
  <div style="margin-left: 10px">
    <p>
      Procura no teu email por um link de validação.<br>
      Se vires o email mas o link não for visivel podes inserir aqui o token recebido:
    </p>
    <div id="content_form">
      <form method="get" action="{{ request.get_full_path }}">
        {{ form.as_p }}
        <input type="submit" value="Validar registo">
      </form>
    </div>
  </div>
{% endblock %}