{% extends 'supernova/base.html' %}

{% block content_wrapper %}
  <div class="col padded">
    <div class="flex-pane">
      <div class="pane-title bg-grad"><h2>Informação dramática</h2></div>
      <div class="pane-content">
        Este serviço <b style="color: red">NÃO</b> é o CLIP.
        Apesar de fazer muito do que o CLIP faz por ti, estás numa plataforma diferente.<br>
        Não és obrigado a registar-te com a password do CLIP, até porque <b>não se reutilizam passwords</b>.<br><br>
        Lê os <a href="{% url 'terms' %}">termos de serviço</a> e a <a href="{% url 'privacy' %}">politica de
        privacidade</a> antes de te
        registares. Se prosseguires é assumido o teu consentimento.<br>
        (Resumidamente: Esta plataforma não tem propósito comercial nem te vai vender a alma, mas não somos responsáveis
        se te roubarem o queijo do frigorífico).<br>
        Se não concordas ou o que querias mesmo era ter o CLIP bonito, espreita a aplicação do NEEC.
      </div>
    </div>
    <div class="flex-pane">
      <div class="pane-title bg-grad"><h2>Criar conta</h2></div>
      <div class="pane-content">
        <form class="col" method="post" action="{{ request.get_full_path }}">
          {% csrf_token %}
          <div class="form-block">
            {{ creation_form.non_field_errors }}
            <div class="form-row">
              <div class="form-row-top">
                <h4>Código do convite</h4>
                {{ creation_form.invite }}
              </div>
              {% if  invite_used %}
                <hr>
                O código inserido já foi utilizado. Introduz um novo código.
                <hr>
              {% endif %}
              {% if  invite_expired %}
                <hr>
                O código inserido já excedeu a validade. Introduz um novo código.
                <hr>
              {% endif %}
              {% if  invite_unknown %}
                <hr>
                O código inserido está incorreto.
                <hr>
              {% endif %}
              {{ creation_form.username.errors }}
              <div class="form-row-description">
                Um código que te foi cedido para te registares.<br>
                Sem um código não serás capaz de concluir o registo.
              </div>
            </div>
            <hr>
            <div class="form-row">
              <div class="form-row-top">
                <h4>Nome de utilizador</h4>
                {{ creation_form.username }}
              </div>
              {{ creation_form.username.errors }}
              <div class="form-row-description">
                A credencial utilizada para aceder à conta.
              </div>
            </div>
            <hr>
            <div class="form-row">
              <div class="form-row-top">
                <h4>Alcunha (Opcional)</h4>
                {{ creation_form.nickname }}
              </div>
              {{ creation_form.nickname.errors }}
              <div class="form-row-description">
                Uma alcunha que será exibida aos restantes enquanto referência ao perfil.<br>
                Caso opte por não providênciar uma, o nome de utilizador será utilizado como alcunha.<br>
                A alcunha pode ser alterada posteriormente (até uma vez por semestre).<br>
                O seu perfil será <code>/u/alcunha</code>.
              </div>
            </div>
            <hr>
            <div class="form-row">
              <div class="form-row-top">
                <h4>Identificador do CLIP</h4>
                {{ creation_form.clip_identifier }}
              </div>
              {{ creation_form.clip_identifier.errors }}
              <div class="form-row-description">
                O identificador, típicamente alfanumérico, que utiliza para aceder ao CLIP. (p.ex c.pereira)
              </div>
            </div>
            <hr>
            <div class="form-row">
              <div class="form-row-top">
                <h4>Email</h4>
                {{ creation_form.email }}
              </div>
              {{ creation_form.email.errors }}
              <div class="form-row-description">
                O email <b>académico</b>. Será utilizado para confirmação de identidade.<br>
                Típicamente será <code>identificador.do.clip@campus.fct.unl.pt</code>.<br>
                Para já só se aceitam endreços <code>@campus.fct.unl.pt</code>.
              </div>
            </div>
            <hr>
            <div class="form-row">
              <div class="form-row-top">
                <h4>Palavra-passe</h4>
                <div>
                  Palavra-passe:
                  {{ creation_form.password }}
                  Confirmação:
                  {{ creation_form.password_confirmation }}
                </div>
              </div>
              {{ creation_form.password.errors }}
              {{ creation_form.password_confirmation.errors }}
              <div class="form-row-description">
                Uma palavra-passe razoavelmente longa e preferêncialmente diversa (letras, numeros, pontuação).<br>
                O registo falha se a palavra-passe for excessivamente curta e pouco diversa.
              </div>
            </div>
          </div>
          <input class="ui-btn end" type="submit" value="Registar">
        </form>
      </div>
    </div>
  </div>
  </div>
  <script>
      let emailModified = false;

      function studentIDChanged(student) {
          if (emailModified) return;
          let element = document.getElementById('id_email');
          element.value = student.value + "@campus.fct.unl.pt"
      }
  </script>
{% endblock %}