{% extends 'supernova/base.html' %}

{% load static %}

{% block content_wrapper %}
  <div class="col padded">
    <div class="pane">
      <div class="pane-title"><h2>Pressupostos</h2></div>
      <div class="pane-content col">
        <p>Este serviço <b style="color: red">NÃO</b> é o CLIP.
          Apesar de fazer muito do que o CLIP faz por ti, estás numa plataforma diferente.<br>
          Não és obrigado a registar-te com a password do CLIP.
        </p>
        <p>
          Lê os <a href="{% url 'terms' %}">termos de serviço</a> e a <a href="{% url 'privacy' %}">politica de
          privacidade</a> antes de te registares. Se prosseguires é assumido o teu consentimento.
        </p>
        <input class="ui-btn end" type="button" value="Prosseguir" onclick="registrationProceed(this)">
      </div>
    </div>
    <div id="registration-form" class="pane" style="display: none">
      <div class="pane-title"><h2>Criar conta</h2></div>
      <div class="pane-content">
        <form class="col" method="post" action="{{ request.get_full_path }}">
          {% csrf_token %}
          <div class="form-block">
            {{ creation_form.non_field_errors }}
            <div class="form-row{% if creation_form.invite.errors %} error{% endif %}">
              <div class="form-row-top">
                <h4>Código do convite</h4>
                {{ creation_form.invite }}
              </div>
              {{ creation_form.invite.errors }}
              <div class="form-row-description">
                Um código que te foi cedido para te registares.<br>
                Sem um código não serás capaz de concluir o registo.
              </div>
            </div>
            <hr>
            <div class="form-row{% if creation_form.username.errors %} error{% endif %}">
              <div class="form-row-top">
                <h4>Nome de utilizador</h4>
                {{ creation_form.username }}
              </div>
              {{ creation_form.username.errors }}
              <div class="form-row-description">
                A credencial utilizada para aceder à conta.
              </div>
            </div>
            <hr>
            <div class="form-row{% if creation_form.nickname.errors %} error{% endif %}">
              <div class="form-row-top">
                <h4>Alcunha (Opcional)</h4>
                {{ creation_form.nickname }}
              </div>
              {{ creation_form.nickname.errors }}
              <div class="form-row-description">
                Uma alcunha que será exibida aos restantes enquanto referência ao perfil.<br>
                A sua página de perfil será em https://supernova.nunl.pt/u/[alcunha]<br>
                Caso opte por não providênciar uma alcunha, o nome de utilizador será utilizado como alcunha.<br>
                A alcunha pode ser alterada posteriormente (até uma vez por semestre).
              </div>
            </div>
            <hr>
            {% if creation_form.requested_teacher %}
              <div class="form-row{% if creation_form.requested_teacher.errors %} error{% endif %}">
                <div class="form-row-top">
                  <h4>Docente</h4>
                  {{ creation_form.requested_teacher }}
                </div>
                {{ creation_form.requested_teacher.errors }}
                <div class="form-row-description">
                  O nome do professor, para solicitação de contas de professor.<br>
                  Não é mutuamente exclusivo com a solicitação de um aluno (inclusive ex-alunos).
                </div>
              </div>
              <hr>
            {% endif %}
            <div class="form-row{% if creation_form.requested_student.errors %} error{% endif %}">
              <div class="form-row-top">
                <h4>Estudante{% if student_optional %} (Opcional){% endif %}</h4>
                {{ creation_form.requested_student }}
              </div>
              {{ creation_form.requested_student.errors }}
              <div class="form-row-description">
                {% if creation_form.requested_teacher %}
                  O identificador ou número de aluno; Para docentes que também tem/tiveram uma conta de estudante.
                {% else %}
                  O identificador ou número de aluno.
                {% endif %}
              </div>
            </div>
            <hr>
            <div class="form-row{% if creation_form.email.errors %} error{% endif %}">
              <div class="form-row-top">
                <h4>Email</h4>
                {{ creation_form.email }}
              </div>
              {{ creation_form.email.errors }}
              <div class="form-row-description">
                O email <b>académico</b>. Será utilizado para confirmação de identidade.<br>
                Só se aceitam endereços no domínio <code>unl.pt</code>.
              </div>
            </div>
            <hr>
            <div class="form-row{% if creation_form.password.errors or creation_form.password_confirmation.errors %} error{% endif %}">
              <div class="form-row-top">
                <h4>Palavra-passe</h4>
                <div>
                  Palavra-passe:
                  {{ creation_form.password }}
                  Confirmação:
                  {{ creation_form.password_confirmation }}
                </div>
              </div>
              {% if creation_form.password.errors or creation_form.password_confirmation.errors %}
                {{ creation_form.password.errors }}
                {{ creation_form.password_confirmation.errors }}
              {% endif %}
              <div class="form-row-description">
                Uma palavra-passe razoavelmente longa e preferencialmente diversa (letras, números, pontuação).<br>
                Não pode ser excessivamente curta, pouco diversa ou estar fortemente relacionada com um dos atributos
                públicos da conta.
              </div>
            </div>
          </div>
          {{ creation_form.media }}
          <input class="ui-btn end" type="submit" value="Registar">
        </form>
      </div>
    </div>
  </div>
  <script>
      function registrationProceed(e) {
          e.closest('.pane').remove();
          $('#registration-form').css('display', 'block');
      }
  </script>
{% endblock %}