{% extends 'kleep/content_only.html' %}


{% block content %}
    <h1>Excelentíssimo <s>desesperado</s> colega</h1>
    <p>
        Este serviço funciona porque uma alminha assim o quis, para te ajudar, para tornar a FCT num sitio melhor!<br>
        Não te está a ser exigido nada em troca mas está a ser gasto material, eletricidade e uma valente quantidade de
        tempo, e por questão de principio este sitio é livre de anúncios.<br>
    </p>
    <p>
        Tens hardware que já não usas e está para ir para o lixo? Aceita-se!<br>
        Queres ajudar com a eletricidade, uns cêntimos que sejam? Aceita-se!<br>
        Gostas de pagar cafés? Não recuso!<br>
        Não tens nada que possas contribuir? Um "obrigado" serve. Eu não mordo, prometo!<br>
        Até mesmo as tuas ideias são bem vindas! Algo em falta? Informação para contribuir? Um fundo novo? Tudo serve!
    </p>
    <p>
        Espreita <a href="{% url 'about' %}">aqui</a> para saberes mais!
    </p>
{% endblock %}