{% extends 'kleep/class_instance_base.html' %}

{% load static %}
{% block head %}
    {{ block.super }}
    <style>
        table {
            height: 100%;
            border: none;
        }

        td {
            height: 100% !important;
            min-width: 50px;
            padding: 0;
        }

        tr:first-child {
            background-color: #8b9e9d !important;
            color: white;
        }

        th {
            border: 2px solid #777;
            border-right: 0;
        }

        th:first-child {
            border-left: 0;
        }

        td:first-child {
            width: 50px;
            font-weight: bold;
            background-color: #777;
            color: white;
            line-height: 15px;
            text-align: right;
            border-bottom: 2px solid #8b9e9d;

        }

        tr:nth-of-type(odd) {
            background-color: #e1e1e1;
        }

        .turn {
            justify-content: center;
            flex-direction: column;
            border: 1px solid #b0b0b0;
            background-color: #53cc4c;
            text-align: center;
        }

        .turn > a {
            padding: 2px;
            color: black;
        }

        .end-time {
            font-size: 0.7em;
        }

        .turn-theoretical {
            background-color: #97d5ff;
        }

        .turn-practical {
            background-color: #acff70;
        }
    </style>
{% endblock %}

{% block content %}
    <h1>Horário de {{ parent_class.name }}</h1>
    <h3>Departamento de {{ department.name }}, {{ occasion }}</h3>
    <div style="overflow-x: scroll;">
        <table cellpadding="0" cellspacing="0">
            <tr>
                <th>Hora</th>
                <th colspan="{{ weekday_spans.0 }}">Segunda-feira</th>
                <th colspan="{{ weekday_spans.1 }}">Terça-feira</th>
                <th colspan="{{ weekday_spans.2 }}">Quarta-feira</th>
                <th colspan="{{ weekday_spans.3 }}">Quinta-feira</th>
                <th colspan="{{ weekday_spans.4 }}">Sexta-feira</th>
            </tr>
            {% for row in schedule %}
                <tr>
                    <td>{{ row.0|safe }}</td>
                    {% for element in row.1 %}
                        {% if element %}
                            <td class='turn turn-{{ element.turn.turn.turn_type.name|lower }}'
                                rowspan="{{ element.rowspan }}">
                                {{ element.turn.turn.class_instance.parent.abbreviation }}<br>
                                {{ element.turn.turn.turn_type|upper }}{{ element.turn.turn.number }}<br>
                                <a href="{% url 'classroom' element.turn.classroom.id %}">
                                    {{ element.turn.classroom.short_str }}</a>
                            </td>
                        {% else %}
                            <td></td>
                        {% endif %}
                    {% endfor %}
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}