{% extends 'supernova/base.html' %}

{% load static %}

{% block head %}
  <script src="{% static  'users/management.js' %}"></script>
  <link href="{% static  'vendor/select2/dist/css/select2.min.css' %}" type="text/css" media="screen" rel="stylesheet">
  <link href="{% static  'admin/css/autocomplete.css' %}" type="text/css" media="screen" rel="stylesheet">
  <link href="{% static  'autocomplete_light/select2.css' %}" type="text/css" media="screen" rel="stylesheet">
  <script src="{% static  'admin/js/vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static  'autocomplete_light/jquery.init.js' %}"></script>
  <script src="{% static  'vendor/select2/dist/js/select2.full.min.js' %}"></script>
  <script src="{% static  'vendor/select2/dist/js/i18n/pt.js' %}"></script>
  <script src="{% static  'autocomplete_light/autocomplete.init.js' %}"></script>
  <script src="{% static  'autocomplete_light/forward.js' %}"></script>
  <script src="{% static  'autocomplete_light/select2.js' %}"></script>
  <script src="{% static  'autocomplete_light/jquery.post-setup.js' %}"></script>
{% endblock %}

{% block content_wrapper %}
  {% csrf_token %}
  <div class="row padded">
    <div class="col">
      <div class="flex-pane">
        <div class="pane-title bg-grad"><h2>Últimos registos</h2></div>
        <div class="pane-content">
          <table class="stylized grow">
            <tr>
              <th>Username</th>
              <th>Alcunha</th>
              <th>Estudante</th>
              <th>Professor</th>
              <th>Email</th>
              <th>F</th>
              <th>Convidante</th>
              <th>Data</th>
            </tr>
            {% for registration in latest_registrations %}
              <tr>
                <td>
                  {% if registration.resulting_user %}
                    <a href="{{ registration.resulting_user.get_absolute_url }}">{{ registration.username }}</a>
                  {% else %}
                    {{ registration.username }}
                  {% endif %}
                </td>
                <td>{% if registration.nickname and registration.nickname != '' %}{{ registration.nickname }}{% else %}-{% endif %}</td>
                <td>{{ registration.requested_student.abbreviation }}</td>
                <td>{% if registration.requested_teacher %}<a href="{{ registration.requested_teacher.get_absolute_url }}">Link</a>{% endif %}</td>
                <td>{{ registration.email|cut:"campus.fct.unl.pt" }}</td>
                <td>{{ registration.failed_attempts }}</td>
                <td>{% if registration.invite %}<a href="{{ registration.invite.issuer.get_absolute_url }}">{{ registration.invite.issuer.nickname }}</a>{% else %} - {% endif %}</td>
                <td>{{ registration.creation|date:'Y/m/d H:i' }}</td>
              </tr>
            {% endfor %}
          </table>
        </div>
      </div>
      <div class="flex-pane">
        <div class="pane-title bg-grad"><h2>Atribuições docentes pendentes</h2></div>
        <div class="pane-content">
          <table class="stylized grow">
            <tr>
              <th>Username</th>
              <th>Alcunha</th>
              <th>Professor</th>
              <th>Email</th>
              <th>Data</th>
            </tr>
            {% for registration in registrations_with_claimed_teachers %}
              <tr>
                <td>
                  {% if registration.resulting_user %}
                    <a href="{{ registration.resulting_user.get_absolute_url }}">{{ registration.username }}</a>
                  {% else %}
                    {{ registration.username }}
                  {% endif %}
                </td>
                <td>
                  {% if registration.nickname and registration.nickname != '' %}
                    {{ registration.nickname }}
                  {% else %}-{% endif %}
                </td>
                <td>
                  {% if registration.requested_teacher %}
                    <a href="{{ registration.requested_teacher.get_absolute_url }}">
                      {{ registration.requested_teacher.name }}
                    </a>
                  {% endif %}
                </td>
                <td>{{ registration.email|cut:"fct.unl.pt" }}</td>
                <td>{{ registration.creation|date:'Y/m/d H:i' }}</td>
              </tr>
            {% endfor %}
          </table>
        </div>
      </div>
      <div class="flex-pane">
        <div class="pane-title bg-grad"><h2>Utilizadores</h2></div>
        <div class="pane-content stylized grow">
          <table class="stylized grow">
            <thead>
            <tr>
              <th>Username</th>
              <th>Alcunha</th>
              <th>Points</th>
            </tr>
            </thead>
            <tbody>
            {% for other_user in users %}
              <tr>
                <td>{{ other_user.username }}</td>
                <td><a href="{% url 'users:profile' other_user.nickname %}">{{ other_user.nickname }}</a></td>
                <td>{{ other_user.points }}</td>
              </tr>
            {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="flex-pane">
        <div class="pane-title bg-grad"><h2>Utilizadores suspensos</h2></div>
        <div class="pane-content" data-endpoint="{% url 'api:user_moderation' 0 %}">
          {% if suspended_users|length == 0 %}
            Sem utilizadores suspensos.
          {% else %}
            <table>
              <tr>
                <th>Utilizador</th>
                <th>Até</th>
                <th></th>
              </tr>
              {% for user in suspended_users %}
                <tr data-id="{{ user.id }}">
                  <td><a href="{% url 'users:profile' user.nickname %}">{{ user.nickname }}</a></td>
                  <td>-</td>
                  <td><a onclick="removeSuspension(this, {{ user.id }})">Anular</a></td>
                </tr>
              {% endfor %}
            </table>
          {% endif %}
          <h4>Suspender:</h4>
          <select name="section" required id="suspension-selector" data-autocomplete-light-url="/u/ac/nickname/"
                  data-autocomplete-light-function="select2"></select>
          <input type="button" value="Confirmar" onclick="suspend()">
        </div>
      </div>
      <div class="flex-pane">
        <div class="pane-title bg-grad"><h2>Emitir diferencial de pontos</h2></div>
        <div class="pane-content">
          <form method="post" action="{% url 'management:users' %}?reputation_offset=">
            {% csrf_token %}
            {{ reputation_offset_form.as_p }}
            <input style="float: right" type="submit" value="Emitir">
          </form>
        </div>
      </div>
      <div class="flex-pane">
        <div class="pane-title bg-grad"><h2>Atribuir professor</h2></div>
        <div class="pane-content">
          <form class="col" method="post" action="{% url 'management:users' %}?assign_teacher=">
            {% csrf_token %}
            {{ assign_teacher_form.as_p }}
            <input class="end" type="submit" value="Atribuir">
          </form>
        </div>
      </div>
      <div class="flex-pane">
        <div class="pane-title bg-grad"><h2>Atribuir aluno</h2></div>
        <div class="pane-content">
          <form class="col" method="post" action="{% url 'management:users' %}?assign_student=">
            {% csrf_token %}
            {{ assign_student_form.as_p }}
            <input class="end" type="submit" value="Atribuir">
          </form>
        </div>
      </div>
      <div class="flex-pane">
        <div class="pane-title bg-grad"><h2>Alterar password</h2></div>
        <div class="pane-content">
          <form class="col" method="post" action="{% url 'management:users' %}?password_reset=">
            {% csrf_token %}
            {% if new_password %}
              Password gerada: <b>{{ new_password }}</b>
            {% else %}
              {{ password_reset_form.as_p }}
              <input class="end" type="submit" value="Gerar nova">
            {% endif %}
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock %}