{% extends 'supernova/base.html' %}

{% load static %}

{% block head %}
  <link rel="stylesheet" type="text/css" href="{% static 'synopses/synopses.css' %}"/>
  <style>
    .flex-wrapper > div {
      margin: 10px 20px;
      flex-basis: 475px;
    }

    {% if area.img_url %}
      .header-decorator:after {
        background-image: url("{{ area.img_url}}")
      }
    {% endif %}

    .flex-grid-item {
      background-size: cover;
      background-position: center
    }
  </style>
{% endblock %}

{% block content_wrapper %}
  <div class="col">
    <div class="header-decorator">
      <h1>{{ area.name }}</h1>
    </div>
    <div class="col padded">
      <div class="flex-pane">
        <div class="pane-title bg-grad"><h2>Categorias</h2></div>
        <div class="pane-content">
          <div class="flex-wrapper">
            {% for subarea in subareas %}
              <a href="{% url 'synopses:subarea' subarea.id %}">
                {% if subarea.img_url %}
                  <div class="flex-grid-item" style="background-image: url({{ subarea.img_url }})">
                {% else %}
                  <div class="flex-grid-item">
                {% endif %}
                <span class="flex-grid-item-top">{{ subarea.name }}</span>
                <span class="flex-grid-item-bottom">{{ subarea.topic_count }} tópico(s)</span>
                </div>
              </a>
            {% endfor %}
            {% if not area.subareas.exists %}
              <h2>Categoria sem subcategorias.</h2>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{#{% block content-bottom %}#}
{#    <nav id="bot-container" class="float-right">#}
{#        <a class="menu-entry selected">Contribuir:</a>#}
{#        {% if user.is_authenticated %}#}
{#            <a class="menu-entry" href="{% url 'synopses:subarea_create' area.id %}">Criar categoria</a>#}
{#        {% else %}#}
{#            <a class="menu-entry selected">Autentique-se para poder efetuar alterações.</a>#}
{#        {% endif %}#}
{#    </nav>#}
{#{% endblock %}#}