{% extends 'supernova/base.html' %}

{% load static %}

{% block head %}
  <link rel="stylesheet" type="text/css" href="{% static 'synopses/synopses.css' %}"/>
{% endblock %}

{% block content_wrapper %}
  <div class="col padded">
  <b style="color: red">O conteúdo atual é ilustrativo.
    Não foi verificado por professores e muito possivelmente está errado.</b>
    <div class="flex-pane">
      <div class="pane-title bg-grad">
        <h2>Areas de estudo</h2>
      </div>
      <div class="pane-content">
        <div class="flex-wrapper">
          {% for area in areas %}
            <a href="{% url 'synopses:area' area.id %}">
              {% if area.img_url %}
                <div class="flex-grid-item"
                     style="background-image:url({{ area.img_url }}); background-size:cover">
              {% else %}
                <div class="flex-grid-item">
              {% endif %}
              <span class="flex-grid-item-top">{{ area.name }}</span>
              <span class="flex-grid-item-bottom">{{ area.subareas.count }} categoria(s)</span>
              </div>
            </a>
          {% endfor %}
        </div>
      </div>
    </div>
    <div class="flex-pane">
      <div class="pane-title bg-grad">
        <h2>Cadeiras</h2>
      </div>
      <div class="pane-content">
        <div class="flex-wrapper" style="align-items: start;">
          {% for class_synopsis in class_synopses %}
            <a class="class-synopsis" href="{% url 'synopses:class' class_synopsis.corresponding_class.id %}">
              <span style="font-size: 2em">{{ class_synopsis.corresponding_class.name }}</span>
              <br>
              <span style="font-size: 1.2em;margin-right: 20px">
                    {{ class_synopsis.corresponding_class.classsection_set.count }} secções,
                        {{ class_synopsis.corresponding_class.department.name }}
                </span>
            </a>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
{% endblock %}