{% extends 'supernova/base.html' %}

{% block content_wrapper %}
  <div class="header-decorator">
    <div>
      <h1>Síntese de <a href="{% url 'college:class' synopsis_class.id %}">{{ synopsis_class.name }}</a></h1>
      <h3>Departamento de {{ synopsis_class.department.name }}</h3>
    </div>
  </div>
  <div class="col padded">
    <div class="flex-pane">
      <div class="pane-title bg-grad">
        <h2>Conteúdos</h2>
      </div>
      <div class="pane-content">
        {% if not sections.exists %}
          Esta cadeira não tem conteudo na tua sintese.<br>
          Se já existir conteudo, podes adiciona-lo.
        {% endif %}
        <ul class="menu">
          {% for section in sections %}
            <li><a href="{% url 'synopses:class_section' synopsis_class.id section.id %}">{{ section.name }}</a></li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
{% endblock %}

{#{% block content-bottom %}#}
{#  <nav id="bot-container" class="float-right">#}
{#    <a class="menu-entry selected">Contribuir:</a>#}
{#    {% if user.is_authenticated %}#}
{#      <a class="menu-entry" href="{% url 'synopses:class_manage' synopsis_class.id %}">Gerir secções</a>#}
{#    {% else %}#}
{#      <a class="menu-entry selected">Autentique-se para poder efetuar alterações.</a>#}
{#    {% endif %}#}
{#  </nav>#}
{#{% endblock %}#}