{% extends 'supernova/base.html' %}

{% load static %}

{% block head %}
  <style>
    {% if  area.img_url %}
      .header-decorator:after {
        background-image: url("{{ subarea.img_url}}");
      }
    {% endif %}
  </style>
{% endblock %}

{% block content_wrapper %}
  <div class="col">
    <div class="header-decorator">
      <div class="header-decorator-options">
        <ul>
          <li><a href="{% url 'synopses:subarea_section_create' subarea.id %}">Criar nova secção</a></li>
          <li><a href="{% url 'synopses:subarea_edit' subarea.id %}">Editar</a></li>
        </ul>
      </div>
      <div>
        <h1>{{ subarea.name }}</h1>
        <h3><a href="{% url 'synopses:area' area.id %}">{{ area }}</a></h3>
      </div>
    </div>
    <div class="col padded">
      <div class="flex-pane">
        <div class="pane-title bg-grad"><h2>Descrição</h2></div>
        <div class="pane-content">{{ subarea.description|safe }}</div>
      </div>
      <div class="flex-pane">
        <div class="pane-title bg-grad"><h2>Secções</h2></div>
        <div class="pane-content">
          <ul id="content-list">
            {% for section in sections %}
              <li><a href="{% url 'synopses:subarea_section' subarea.id section.id %}">{{ section.name }}</a>
                <span class="highres">({{ section.children_count }} subsecções)</span>
              </li>
            {% endfor %}
          </ul>
        </div>
      </div>
      <div class="flex-pane">
        <div class="pane-title bg-grad"><h2>Tópicos</h2></div>
        <div class="pane-content">
          <ul id="content-list">
            {% for topic in subarea.topics.all|dictsort:"index" %}
              <li><a href="{% url 'synopses:topic' topic.id %}">{{ topic.name }}</a>
                ({{ topic.sections.count }} secções)
              </li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  </div>
{% endblock %}