{% extends 'supernova/base.html' %}

{% load static %}

{% block head %}
  <link rel="stylesheet" type="text/css" href="{% static 'synopses/synopses.css' %}"/>
  <style>
    {% if  area.img_url %}
        .header-decorator:after {
            background-image: url("{{ subarea.img_url}}");
        }
    {% endif %}
  </style>
{% endblock %}

{% block content_wrapper %}
  <div class="col">
    <div class="header-decorator">
      <div class="header-decorator-options">
        <ul>
          {% if perms.synopses.change_section %}<li><a href="{% url 'synopses:subarea_section_create' subarea.id %}">Criar nova secção</a></li>{% endif %}
          {% if perms.synopses.add_section %}<li><a href="{% url 'synopses:subarea_edit' subarea.id %}">Editar</a></li>{% endif %}
        </ul>
      </div>
      <div>
        <h1>{{ subarea.title }}</h1>
        <h3><a href="{% url 'synopses:area' area.id %}">{{ area }}</a></h3>
      </div>
    </div>
    <div class="col padded">
      <div class="flex-pane">
        <div class="pane-title bg-grad"></div>
        <div class="pane-content">
          <h2>Descrição</h2>
          {{ subarea.description|safe }}
          <h2>Secções</h2>
          <ul class="content-list">
            {% for section in sections %}
              <li><a href="{% url 'synopses:subarea_section' subarea.id section.id %}">{{ section.title }}</a>
                <span class="highres">({{ section.children_count }} subsecções)</span>
              </li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  </div>
{% endblock %}