{% extends 'supernova/base.html' %}

{% load static %}

{% block head %}
  <link rel="stylesheet" type="text/css" href="{% static 'synopses/synopses.css' %}"/>
{% endblock %}

{% block content_wrapper %}
  <div class="col">
    <div class="header-decorator">
      <div>
        <h1>{{ topic.name }}</h1>
        <h3>{{ subarea.name }}, {{ area.name }}</h3>
      </div>
    </div>
    <div class="col padded">
      <div class="flex-pane">
        <div class="pane-title bg-grad"></div>
        <div class="pane-content">
          <ul id="content-list">
            {% for section in sections %}
              <li><a href="{% url 'synopses:section' section.id %}">{{ section.name }}</a></li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  </div>
{% endblock %}