@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: local('Roboto'), local('Roboto-Regular'), url('/static/supernova/fonts/document-latin.woff2') format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

.content-list {
    list-style: none;
    font-weight: bold;
    line-height: 1.8em;
    margin-top: 0;
    padding-left: 10px;
}

#contribute {
    display: flex;
    flex-wrap: wrap;
}

#contribute > a {
    margin: 0 10px;
}

#section-navigation a {
    line-height: 20px;
    background-color: #d3d3d3;
    padding: 10px;
    border-radius: 5px;
}

#section-navigation a {
    line-height: 20px;
    background-color: #d3d3d3;
    padding: 10px;
    border-radius: 5px;
}

#sortable-list {
    list-style: none;
    padding-left: 0;
}

.sortable-line {
    display: block;
    padding: 5px 10px;
    background-color: #eeeeee;
    margin-bottom: 10px;
    font-size: 1.2em;
    font-weight: bold;
    border-radius: 5px;
    border: 2px solid #5a5a5a;
}

.list-line-index {
    font-size: 1.2em;
}

.list-line-delete {
    display: inline-block;
    float: right;
    color: #ffffff;
    background-color: red;
    padding: 2px 8px;
    border-radius: 5px;
}

.save-button {
    padding: 5px 10px;
    font-size: 1.5em;
    float: right;
}

.class-synopsis {
    display: inline-block;
    margin: 10px;
    padding: 5px 10px;
    border-radius: 5px;
    border: 2px solid #AAA;
    vertical-align: top;
    box-shadow: 0 0 5px #777;
    background: linear-gradient(to bottom, #ffffff 0%, #f1f1f1 52%, #ebebeb 52%, #f6f6f6 100%);
}

.class-synopsis a {
    vertical-align: top;
    color: #333;
}