h1 {
    margin: 10px 0;
}

h2 {
    margin: 8px 0;
}

h3 {
    margin: 5px 0;
}

#topic-list {
    list-style: none;
    font-weight: bold;
    font-size: 1.5em;
    line-height: 2em;
    margin-top: 0;
    padding-left: 10px;
}

#contribute {
    display: flex;
    flex-wrap: wrap;
}

#contribute > a {
    margin: 0 10px;
}

#section-navigation a {
    line-height: 20px;
    background-color: #d3d3d3;
    padding: 10px;
    border-radius: 5px;
}