{% extends 'groups/base.html' %}

{% block group_content %}
  {% if not announcements.exists %}
    <div class="pane">
      <div class="pane-title"><h2>Anúncios</h2></div>
      <div class="pane-content">
        Este grupo nunca anunciou nada.<br>
        Talvez sejam tímidos, talvez não tenham presença no Supernova. :(
      </div>
    </div>
  {% endif %}
  {% for announcement in announcements %}
    <div class="pane">
      <div class="pane-title">
        <h2><a href="{% url 'groups:announcement' group.abbreviation announcement.id %}">{{ announcement.title }}</a></h2>
      </div>
      <div class="pane-content">
        {{ announcement.content_html | safe }}
      </div>
    </div>
  {% endfor %}
{% endblock %}