{% extends 'groups/base_simple.html' %}

{% load static %}

{% block head %}
  <script src="{% static 'js/content-rendering.js' %}"></script>
{% endblock %}

{% block group_content %}
  <div class="pane">
    <div class="pane-title"><h2>Anúnciar</h2></div>
    <div class="pane-content">
      <form class="col" method="post" action="{% url 'groups:announce' group.abbreviation %}">
        {% csrf_token %}
        {{ form.errors }}
        <div class="form-block">
          <div class="form-row">
            <div class="form-row-top">
              <h4>Título</h4>
            </div>
            {{ form.title }}
            <div class="form-row-description">
              Descrição <b>curta e clara</b> o suficiente para dar a entender do que se trata o conteúdo.<br>
              Poderá constar em locais espacialmente limitados (como numa notificação).
            </div>
          </div>
          <hr>
          <div class="form-row">
            <div class="form-row-top">
              <h4>Conteúdo</h4>
            </div>
            <div class="form-row-description">
              Informação anúnciar, verbosa se necessário.
            </div>
            {{ form.content }}
          </div>
        </div>
        <input class="ui-btn end" type="submit" value="Públicar"/>
        {{ form.media }}
      </form>
    </div>
  </div>
{% endblock %}
