{% extends 'supernova/base.html' %}

{% block head %}
  <style>
    {{ block.super }}
    {% if  group.image %}
        .header-decorator:after {
            background-image: url("{{ group.image.url}}");
            background-size: contain;
            background-position: right;
        }
    {% endif %}
  </style>
{% endblock %}

{% block content_wrapper %}
  {% csrf_token %}
  <div class="col">
    {% include 'groups/header.html' %}
    <div class="row nowrap padded">
      <div class="col">
        {% block group_content %}{% endblock %}
      </div>
      <div class="col nogrow noshrink">
        {% include 'groups/navigation.html' %}
        {% block group_sidebar %}{% endblock %}
      </div>
    </div>
  </div>
{% endblock %}