{% extends 'groups/base.html' %}

{% block group_content %}
  <div class="pane">
    <div class="pane-title"><h2>Ficheiros</h2></div>
    <div class="pane-content">
      {% for document in documents %}
        <div>
          <h2><a href="{% url 'document' document.id %}">{{ document.title }}</a></h2>
          <span>Criado em {{ document.creation }} {% if document.author_user %}por
            <a href="{% url 'users:profile' document.author_user.nickname %}">{{ document.author_user }}</a> {% endif %}
            {% if document.last_edition %}<br>Última edição em {{ document.last_edition }} por
              {{ document.last_editor }}{% endif %}</span>
        </div>
      {% endfor %}
      {% if documents|length == 0 %}<span>Sem ficheiros partilhados</span>{% endif %}
    </div>
  </div>
{% endblock %}