{% extends 'supernova/content_only_formatted.html' %}

{% load static %}

{% block head %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/balloon.min.css' %}"/>
  <style>
    .flex-grid-item {
      background-size: contain;
    }
  </style>
{% endblock %}

{% block content %}
  <div class="flex-wrapper">
    {% for group in groups %}
      {% if not type_filter or group.type == type_filter %}
        <a href="{% url 'groups:group' group.abbreviation %}">
          <div class="flex-grid-item" {% if group.image %}style="background-image: url('{{ group.image_thumbnail.url }}')"{% endif %}>
            <div class="flex-grid-item-top">
              <span>{{ group.name }}</span>
            </div>
            <div class="flex-grid-item-bottom">
              {% if not group.official %}
                <div aria-label="Sem presença oficial." data-balloon-pos="up">
                  <img src="{% static 'img/icons/warning.svg' %}">
                </div>
              {% endif %}
              <div aria-label="Membros" data-balloon-pos="up">
                <img src="{% static 'img/icons/users.svg' %}">
                {{ group.members.count }}
              </div>
              {% if group.non_member_permission < group.OPEN %}
                <img src="{% static 'img/icons/locked.svg' %}">
              {% endif %}
            </div>
          </div>
        </a>
      {% endif %}
    {% endfor %}
  </div>
{% endblock %}