{% extends 'supernova/base.html' %}

{% block head %}
  <style>
    {% if  group.image.url %}
      .header-decorator:after {
        background-image: url("{{ group.image.url}}");
        background-size: contain;
        background-position: right;
      }
    {% endif %}
  </style>

{% endblock %}

{% block content_wrapper %}
  <div class="col">
    <div class="header-decorator">
      <div>
        <h1>{{ group.name }}</h1>
        {% if group.abbreviation %}<h3>@{{ group.abbreviation }}</h3>{% endif %}
      </div>
    </div>
    <div class="row nowrap padded">
      <div class="col">
        <div class="flex-pane">
          <div class="pane-title bg-grad"><h2>Quem somos</h2></div>
          <div class="pane-content" style="flex-basis: 100px; flex-shrink: 100">
            <p>{{ group.description }}</p>
          </div>
        </div>
        <div class="flex-pane">
          <div class="pane-title bg-grad"><h2>Atividade</h2></div>
          <div class="pane-content">
            {% for announcement in announcements %}
              <a href="{% url 'groups:announcement' announcement.id %}">{{ announcement.title }}</a> em
              {{ announcement.datetime }}
            {% endfor %}
          </div>
        </div>
      </div>
      <div class="col nogrow noshrink">
        {% include 'groups/navigation.html' %}
        <div class="flex-pane">
          <div class="pane-title bg-grad"><h2>Informação</h2></div>
          <div class="pane-content">
            <ul>
              <li>Membros: 123</li>
              <li>Admissões: Por convite</li>
            </ul>
          </div>
        </div>
        {% if group.location or 1 %}
          <div class="flex-pane">
            <div class="pane-title bg-grad"><h2>Localização</h2></div>
            <div class="pane-content">
              {{ group.location }}
            </div>
          </div>
        {% endif %}
        <div class="flex-pane">
          <div class="pane-title bg-grad"><h2>Administração</h2></div>
          <div class="pane-content">
            <a class="menu-entry"> Subscrever</a>
            {% if group.non_member_permission <= group.CLOSED_PRIVATE %}
              <a class="menu-entry selected">Admissão por convite</a>
            {% elif group.non_member_permission == group.OPEN %}
              <a class="menu-entry">Entrar</a>
            {% else %}
              <a class="menu-entry">Solicitar admissão</a>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}