{% extends 'supernova/base.html' %}

{% block head %}
  <style>
    {% if  group.image.url %}
      .header-decorator:after {
        background-image: url("{{ group.image.url}}");
        background-size: contain;
        background-position: right;
      }
    {% endif %}
  </style>
{% endblock %}

{% block content_wrapper %}
  <div class="col">
    <div class="header-decorator">
      <div>
        <h1>{{ group.name }}</h1>
        <h3>@{{ group.abbreviation }}</h3>
      </div>
    </div>
    <div class="row nowrap padded">
      <div class="col">
        <div class="flex-pane">
          <div class="pane-title bg-grad"><h2>Quem somos</h2></div>
          <div class="pane-content" style="flex-basis: 100px; flex-shrink: 100">
            <p>{{ group.description_html | safe }}</p>
          </div>
        </div>
        <div class="flex-pane">
          <div class="pane-title bg-grad"><h2>Atividade</h2></div>
          <div class="pane-content">
            {% if not activities.exists %}
              Este grupo é tímido. Nunca participou... :(
            {% endif %}
            {% for activity in activities %}
              {% if activity.announcement %}
                {{ activity.datetime|date:'Y/m/d H:i' }}:
                <a href="{% url 'groups:announcement' group.abbreviation activity.id %}">
                  {{ activity.announcement.title }}
                </a>
                <span class="ui-tag green">Anúncio</span>
              {% else %}
                {{ activity }}
              {% endif %}
            {% endfor %}
          </div>
        </div>
      </div>
      <div class="col nogrow noshrink">
        {% include 'groups/navigation.html' %}
        <div class="flex-pane">
          <div class="pane-title bg-grad"><h2>Sobre</h2></div>
          <div class="pane-content">
            <ul>
              <li>Membros: {{ group.members.count }}</li>
              <li>Fundação: ???</li>
              <li>
                {% if group.outsiders_openness <= group.CLOSED_PRIVATE %}
                  Admissão por convite
                {% elif group.outsiders_openness == group.OPEN %}
                  <a>Entrar</a>
                {% else %}
                  Admissão por convite
                {% endif %}
              </li>
              <li>
                {% if group.location %}
                  {{ group.location }}
                {% else %}
                  Sem localização associada
                {% endif %}
              </li>
            </ul>
          </div>
        </div>
        <div class="flex-pane">
          <div class="pane-title bg-grad"><h2>Ações</h2></div>
          <div class="pane-content">
            <ul class="menu">
              <li><a> Subscrever</a></li>
              {% if group.outsiders_openness <= group.CLOSED %}
                <li><a>Solicitar admissão</a></li>
              {% endif %}
              <li><a href="{% url 'groups:announce' group.abbreviation %}">Anúnciar</a></li>
              <li><a href="{% url 'groups:roles' group.abbreviation %}">Gerir cargos</a></li>
              <li><a href="#">Alterar horários</a></li>
              <li><a href="{% url 'groups:settings' group.abbreviation %}">Definições</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}