{% extends 'supernova/content_only_formatted.html' %}

{% load static %}

{% block head %}
  <style>
    .flex-grid-item {
      background-size: contain;
      background-repeat: no-repeat;
    }
  </style>
{% endblock %}


{% block title %}<h2>Grupos</h2>{% endblock %}

{% block content %}
  <div class="flex-wrapper">
    {% for group in groups %}
      {% if not type_filter or group.type == type_filter %}
        <a href="{% url 'groups:group' group.abbreviation %}">
          <div class="flex-grid-item"
               style="background-image: url('{% get_media_prefix %}{{ group.image }}')">
            <div class="flex-grid-item-top">
              <span>{{ group.name }}</span>
            </div>
            <div class="flex-grid-item-bottom">
              <div>
                <img src="{% static 'img/icons/users.svg' %}">
                {{ group.members.count }}
              </div>
              {% if group.non_member_permission < group.OPEN %}
                <img src="{% static 'img/icons/locked.svg' %}">
              {% endif %}
            </div>
          </div>
        </a>
      {% endif %}
    {% endfor %}
  </div>
{% endblock %}