{% extends 'groups/base.html' %}

{% load static %}
{% load misc %}

{% block head %}
  {{ block.super }}
  <script src="{% static 'js/lib/fullcalendar/main.min.js' %}"></script>
  <script src="{% static 'js/lib/fullcalendar/locales/pt-br.js' %}"></script>
  <link rel="stylesheet" type="text/css" href="{% static 'js/lib/fullcalendar/main.min.css' %}"/>
  <script src="{% static 'js/calendar.js' %}"></script>
{% endblock %}

{% block group_content %}
  <div class="pane">
    <div class="pane-title"><h2>Sobre</h2></div>
    <div class="pane-content">
      {% if group.description %}
        <p>{{ group.description_html | safe }}</p>
      {% else %}
        <p>Sem informação</p>
      {% endif %}
    </div>
  </div>
  <div class="pane">
    <div class="pane-title"><h2>Atividade</h2></div>
    <div class="pane-content">
      {% if activities|length == 0 %}
        <p>Este grupo é tímido. Nunca participou... :(</p>
      {% else %}
        <ul>
          {% for activity in activities %}
            <li>
              {{ activity.datetime|date:'Y/m/d H:i' }}:
              {% with activity.link_to as link %}
                {% if link %}
                  <a href="{{ link }}">{{ activity }}</a>
                {% else %}
                  {{ activity }}
                {% endif %}
              {% endwith %}
              <span class="ui-tag {{ activity | class_name | lower }}"></span>
            </li>
          {% endfor %}
        </ul>
      {% endif %}
    </div>
  </div>
  <div class="pane">
    <div class="pane-title"><h2>Agenda</h2></div>
    <div class="pane-content">
      <div id="calendar"></div>
    </div>
  </div>
{% endblock %}

{% block group_sidebar %}
  <div class="pane">
    <div class="pane-title"><h2>Informação</h2></div>
    <div class="pane-content">
      <h3>Admissão</h3>
      <span class="indented">
            {% if group.outsiders_openness <= group.CLOSED %}
              Por convite
            {% elif group.outsiders_openness == group.OPEN %}
              Aberto
            {% else %}
              A pedido
            {% endif %}
          </span>
      <h3>Localização</h3>
      <span class="indented">
            {% if group.location %}
              {{ group.location }}
            {% else %}
              Sem localização associada
            {% endif %}
          </span>
      <h3>Membros</h3>
      <span class="indented">{{ group.members.count }} membros</span>
    </div>
  </div>
  <script>loadGroupCalendar("{{ group.abbreviation }}")</script>

{% endblock %}