{% load static %}

{% if group.image %}<div class="header-background faded contain right">{% endif %}
<div class="header-decorator">
  <div class="header-decorator-options">
    <ul>
      {% for action in actions %}
        <li><a href="{{ action.url }}">{{ action.name }}</a></li>
      {% endfor %}
      {% if not user.is_anonymous %}
        <li><a id="subscribe-btn" href="javascript: void(0)" data-endpoint="{% url 'api:group_subscription' group.abbreviation %}"></a></li>
      {% endif %}
    </ul>
  </div>
  <div>
    <h1>{{ group.name }}</h1>
    {% if not group.official %}
      <span style="float: right">(<img src="{% static 'img/icons/warning.svg' %}" height="16px"> Não oficial)</span>
    {% endif %}
    <h3>@{{ group.abbreviation }}</h3>
  </div>
</div>
{% if group.image %}</div>{% endif %}
<script>setSubscribeButton();</script>