{% extends 'groups/base.html' %}

{% block group_content %}
  <div class="flex-pane">
    <div class="pane-title bg-grad"><h2>Membros</h2></div>
    <div class="pane-content">
      <ul>
        {% for membership in group.memberships.all %}
          <li>
            <a href="{% url 'users:profile' membership.member.nickname %}">{{ membership.member.get_full_name }}</a>
            , enquanto {{ membership.role.name }}
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>
{% endblock %}