{% url 'groups:group' group.abbreviation  as main_url %}
{% url 'groups:announcements' group.abbreviation  as announcements_url %}
{% url 'groups:documents' group.abbreviation  as documents_url %}
{% url 'groups:group' group.abbreviation  as members_url %}
{% url 'groups:contact' group.abbreviation  as contact_url %}

<div class="flex-pane">
  <div class="pane-title bg-grad"><h2>Páginas</h2></div>
  <div class="pane-content">
    <ul class="menu">
      {% if request.path == main_url %}
        <li>Página principal</li>
      {% else %}
        <li><a href="{{ main_url }}">Página principal</a></li>
      {% endif %}

      {% if request.path == announcements_url %}
        <li>Anúncios</li>
      {% else %}
        <li><a href="{{ announcements_url }}">Anúncios</a></li>
      {% endif %}

      {% if request.path == documents_url %}
        <li>Documentos</li>
      {% else %}
        <li><a href="{{ members_url }}">Documentos</a></li>
      {% endif %}

      {% if request.path == members_url %}
        <li>Membros</li>
      {% else %}
        <li><a href="{{ members_url }}">Membros</a></li>
      {% endif %}

      {% if request.path == contact_url %}
        <li>Contactar</li>
      {% else %}
        <li><a href="{{ contact_url }}">Contactar</a></li>
      {% endif %}

      {# TODO - Schedule, Calendar#}
    </ul>
  </div>
</div>