{% url 'groups:group' group.abbreviation  as main_url %}
{% url 'groups:announcements' group.abbreviation  as announcements_url %}
{% url 'groups:documents' group.abbreviation  as documents_url %}
{% url 'groups:members' group.abbreviation  as members_url %}
{% url 'groups:conversations' group.abbreviation  as conversations_url %}

<div class="flex-pane">
  <div class="pane-title bg-grad"><h2>Páginas</h2></div>
  <div class="pane-content">
    <ul class="menu">
      {% if request.path == main_url %}
        <li>Página principal</li>
      {% else %}
        <li><a href="{{ main_url }}">Página principal</a></li>
      {% endif %}

      {% if request.path == announcements_url %}
        <li>Anúncios</li>
      {% else %}
        <li><a href="{{ announcements_url }}">Anúncios</a></li>
      {% endif %}

{#      {% if request.path == documents_url %} TODO#}
{#        <li>Documentos</li>#}
{#      {% else %}#}
{#        <li><a href="{{ documents_url }}">Documentos</a></li>#}
{#      {% endif %}#}

      {% if request.path == members_url %}
        <li>Membros</li>
      {% else %}
        <li><a href="{{ members_url }}">Membros</a></li>
      {% endif %}

      {% if request.path == conversations_url %}
        <li>Contactar</li>
      {% else %}
        <li><a href="{{ conversations_url }}">Contactar</a></li>
      {% endif %}
      {# TODO - Schedule, Calendar, Documents #}
    </ul>
  </div>
</div>

{% if is_member %}
  <div class="flex-pane">
    <div class="pane-title bg-grad"><h2>Administração</h2></div>
    <div class="pane-content">
      <ul class="menu">
        {% if  membership_perms.can_announce %}
          <li><a href="{% url 'groups:announce' group.abbreviation %}">Anúnciar</a></li>{% endif %}
        {% if  membership_perms.can_modify_roles %}
          <li><a href="{% url 'groups:roles' group.abbreviation %}">Gerir cargos</a></li>{% endif %}
        {% if  membership_perms.can_modify_roles %}
          <li><a href="{% url 'groups:candidates' group.abbreviation %}">Analisar candidaturas</a></li>{% endif %}
        {% if  membership_perms.can_change_schedule %}
          <li><a href="{% url 'groups:schedule' group.abbreviation %}">Alterar agenda</a></li>{% endif %}
        {% if  membership_perms.is_admin %}
          <li><a href="{% url 'groups:settings' group.abbreviation %}">Definições</a></li>{% endif %}
      </ul>
    </div>
  </div>
{% endif %}