{% extends 'supernova/base.html' %}

{% block head %}
  <style>
    {% if  group.image.url %}
      .header-decorator:after {
        background-image: url("{{ group.image.url}}");
        background-size: contain;
        background-position: right;
      }
    {% endif %}

    th {
      background-color: #333740;
    }

    td {
      text-align: center;
    }

    input[type=text] {
      width: 150px;
    }
  </style>
{% endblock %}

{% block content_wrapper %}
  <div class="col">
    <div class="header-decorator">
      <div>
        <h1>Cargos de {{ group.name }}</h1>
        {% if group.abbreviation %}<h3>@{{ group.abbreviation }}</h3>{% endif %}
      </div>
    </div>
    <div class="row nowrap padded">
      <div class="col">
        <div class="flex-pane">
          <div class="pane-title bg-grad"><h2>Cargos</h2></div>
          <div class="pane-content">
            <form method="post" action="{% url 'groups:roles' group.abbreviation %}">
              {% csrf_token %}
              {{ role_formset.management_form }}
              <table>
                <tr>
                  <th rowspan="2">Nome</th>
                  <th rowspan="2">Administrador</th>
                  <th rowspan="2">Anuncia</th>
                  <th colspan="2">Cargos</th>
                  <th colspan="2">Conversações</th>
                  <th colspan="2">Internas</th>
                  <th colspan="3">Documentos</th>
                  <th rowspan="2">Apagar</th>
                </tr>
                <tr>
                  <th>Modifica</th>
                  <th>Atribui</th>
                  <th>Lê</th>
                  <th>Escreve</th>
                  <th>Lê</th>
                  <th>Escreve</th>
                  <th>Lê privados</th>
                  <th>Escreve privados</th>
                  <th>Escreve públicos</th>
                </tr>
                {% for form in role_formset %}
                  {% for error in form.non_field_errors %}
                    <tr>
                      <td colspan="12">
                        {{ error }}
                      </td>
                    </tr>
                  {% endfor %}
                  {% for error in form.errors %}
                    <tr>
                      <td colspan="12">
                        {{ error }}
                      </td>
                    </tr>
                  {% endfor %}
                  <tr>
                    {{ form.id }}
                    <td>{{ form.name }}</td>
                    <td>{{ form.is_admin }}</td>
                    <td>{{ form.can_modify_roles }}</td>
                    <td>{{ form.can_assign_roles }}</td>
                    <td>{{ form.can_announce }}</td>
                    <td>{{ form.can_read_conversations }}</td>
                    <td>{{ form.can_write_conversations }}</td>
                    <td>{{ form.can_read_internal_conversations }}</td>
                    <td>{{ form.can_write_internal_conversations }}</td>
                    <td>{{ form.can_read_internal_documents }}</td>
                    <td>{{ form.can_write_internal_documents }}</td>
                    <td>{{ form.can_write_public_documents }}</td>
                    <td>{{ form.DELETE }}</td>
                  </tr>
                {% endfor %}
              </table>
              {{ membership_formset.as_p }}
              {{ membership_formset.media }}
              <input style="float: right" type="submit" value="Atualizar"/>
            </form>
          </div>
        </div>
      </div>
      <div class="col nogrow noshrink">
        {% include 'groups/navigation.html' %}
      </div>
    </div>
  </div>
{% endblock %}