{% extends 'groups/base_simple.html' %}

{% load static %}

{% block head %}
  {{ block.super }}
  <style>
      th {
          background-color: var(--bg2);
          padding: 2px;
      }

      td {
          text-align: center;
      }

      td img {
          width: 24px;
      }
  </style>
  <script src="{% static "admin/js/vendor/jquery/jquery.min.js" %}"></script>
{% endblock %}

{% block group_content %}
  <div class="flex-pane">
    <div class="pane-title bg-grad"><h2>Cargos</h2></div>
    <div class="pane-content col">
      <div style="overflow: auto">
        <table class="stylized grow">
          <tr>
            <th rowspan="2">Nome</th>
            <th colspan="2">Cargos</th>
            <th rowspan="2">Anuncia</th>
            <th colspan="2">Chat</th>
            <th colspan="2">Chat Interno</th>
            <th colspan="3">Documentos</th>
            <th rowspan="2">Edita horários</th>
          </tr>
          <tr>
            <th>Modifica</th>
            <th>Atribui</th>
            <th>Lê</th>
            <th>Escreve</th>
            <th>Lê</th>
            <th>Escreve</th>
            <th>Lê privados</th>
            <th>Escreve privados</th>
            <th>Escreve públicos</th>
          </tr>
          {% for role in group.roles.all %}
            <tr>
              {% if can_edit %}
                <th><a href="{% url 'groups:role' group.abbreviation role.id %}">{{ role.name }}</a></th>
              {% else %}
                <th>{{ role.name }}</th>
              {% endif %}
              {% if role.can_modify_roles or role.is_admin %}
                <td><img alt="Sim" src="{% static 'img/icons/checkbox.svg' %}"></td>
              {% else %}
                <td><img alt="Não" src="{% static 'img/icons/cross.svg' %}"></td>
              {% endif %}
              {% if role.can_assign_roles or role.is_admin %}
                <td><img alt="Sim" src="{% static 'img/icons/checkbox.svg' %}"></td>
              {% else %}
                <td><img alt="Não" src="{% static 'img/icons/cross.svg' %}"></td>
              {% endif %}
              {% if role.can_announce or role.is_admin %}
                <td><img alt="Sim" src="{% static 'img/icons/checkbox.svg' %}"></td>
              {% else %}
                <td><img alt="Não" src="{% static 'img/icons/cross.svg' %}"></td>
              {% endif %}
              {% if role.can_read_conversations or role.is_admin %}
                <td><img alt="Sim" src="{% static 'img/icons/checkbox.svg' %}"></td>
              {% else %}
                <td><img alt="Não" src="{% static 'img/icons/cross.svg' %}"></td>
              {% endif %}
              {% if role.can_write_conversations or role.is_admin %}
                <td><img alt="Sim" src="{% static 'img/icons/checkbox.svg' %}"></td>
              {% else %}
                <td><img alt="Não" src="{% static 'img/icons/cross.svg' %}"></td>
              {% endif %}
              {% if role.can_read_internal_conversations or role.is_admin %}
                <td><img alt="Sim" src="{% static 'img/icons/checkbox.svg' %}"></td>
              {% else %}
                <td><img alt="Não" src="{% static 'img/icons/cross.svg' %}"></td>
              {% endif %}
              {% if role.can_write_internal_conversations or role.is_admin %}
                <td><img alt="Sim" src="{% static 'img/icons/checkbox.svg' %}"></td>
              {% else %}
                <td><img alt="Não" src="{% static 'img/icons/cross.svg' %}"></td>
              {% endif %}
              {% if role.can_read_internal_documents or role.is_admin %}
                <td><img alt="Sim" src="{% static 'img/icons/checkbox.svg' %}"></td>
              {% else %}
                <td><img alt="Não" src="{% static 'img/icons/cross.svg' %}"></td>
              {% endif %}
              {% if role.can_write_internal_documents or role.is_admin %}
                <td><img alt="Sim" src="{% static 'img/icons/checkbox.svg' %}"></td>
              {% else %}
                <td><img alt="Não" src="{% static 'img/icons/cross.svg' %}"></td>
              {% endif %}
              {% if role.can_write_public_documents or role.is_admin %}
                <td><img alt="Sim" src="{% static 'img/icons/checkbox.svg' %}"></td>
              {% else %}
                <td><img alt="Não" src="{% static 'img/icons/cross.svg' %}"></td>
              {% endif %}
              {% if role.can_change_schedules or role.is_admin %}
                <td><img alt="Sim" src="{% static 'img/icons/checkbox.svg' %}"></td>
              {% else %}
                <td><img alt="Não" src="{% static 'img/icons/cross.svg' %}"></td>
              {% endif %}
            </tr>
          {% endfor %}
        </table>
      </div>
      <a class="ui-btn end" href="{% url 'groups:role' group.abbreviation 0 %}">Criar</a>
    </div>
  </div>
  <div class="flex-pane">
    <div class="pane-title bg-grad"><h2>Afiliações</h2></div>
    <div class="pane-content">
      <form class="col" method="post" action="{% url 'groups:roles' group.abbreviation %}">
        {{ membership_formset.management_form }}
        <table class="stylized grow">
          <thead>
          <th>Membro</th>
          <th>Cargo</th>
          <th>Desassociar</th>
          </thead>
          <tbody>
          {% for form in membership_formset %}
            <tr>
              {{ form.group }}
              <td>{{ form.member }}</td>
              <td>{{ form.role }}</td>
              {% if form.instance.id %}
                <td><a href="#{{ form.instance.member.nickname }}">Desassociar</a></td>{# TODO #}
              {% endif %}
            </tr>
          {% endfor %}
          </tbody>
        </table>
        {{ membership_formset.media }}
        <input class="ui-btn end" type="submit" value="Guardar">
      </form>
    </div>
  </div>
{% endblock %}