{% extends 'kleep/content_only.html' %}
{% load static %}
{% load leaflet_tags %}

{% block head %}
    {% leaflet_js %}
    {% leaflet_css %}
    <script>
        let center = [
            {{ building.location.coords.1|stringformat:"f" }},
            {{ building.location.coords.0|stringformat:"f" }}];
    </script>
    <script src="{% static 'college/map/map.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'college/college.css' %}"/>
    <style>
        .flex-wrapper > div {
            margin: 10px 20px;
            flex-basis: 475px;
        }
    </style>
{% endblock %}

{% block content %}
    <div id="content-title-decorator">
        <span class="clearfix"></span>
        <h1><i class="fas fa-map-marker"></i> {{ building.name }}</h1>
    </div>
    <div class="content-formatter">
        <div class="flex-wrapper">
            <div>
                <h2>Localização</h2>
                {% leaflet_map "campus-map" callback="initBuildingMap" %}
            </div>
            <div>
                <h2>Planta</h2>
                {% if building.map %}
                {% else %}
                        As plantas encontram-se a ser feitas à mão a partir das plantas de incêndio.<br>
                        Alguns edifícios não tem planta de incêndio e a administração recusa-se a partilhar o que quer
                        que seja não vão os malandros dos alunos andar a consultar sem permissão as salas que tem na sua
                        faculdade.<br>
                        Assim que algum escravo acabe de mapear a planta deste edifício (ou a administração decida
                        colaborar) a mesma será embutida aqui.<br>
                        Caso seja uma personalidade bem socializada com a administração tenha a amabilidade de solicitar
                        que os mesmos partilhem o que por lei é público.
                {% endif %}
            </div>
            <div>
                {% if departments.exists %}
                    <h2>Departamentos:</h2>
                    <ul style="list-style: none; padding-left: 20px;">
                        {% for department in departments.all %}
                            <li><a href="{% url 'department' department.id %}">{{ department.name }}</a></li>
                        {% endfor %}
                    </ul>
                {% endif %}
                {% if services.exists %}<h2>Serviços:</h2>
                    <ul>
                        {% for service in services.all %}
                            <li><a href="{% url 'service' service.id %}">{{ service.name }}</a></li>
                        {% endfor %}
                    </ul>
                {% endif %}
                <h2>Núcleos:</h2>
                <ul>
                    <li>TODO</li>
                </ul>
            </div>
            {% for type in rooms %}
                <div class="type-and-room-list">
                    <h2>{{ type.0 }}:</h2>
                    <div class="room-list">
                        {% for room in type.1 %}
                            <a class="room-type-{{ room.type }}" href="{% url 'room' room.id %}">
                                {{ room.name }}
                            </a>
                        {% endfor %}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
