{% extends 'kleep/content_only.html' %}
{% load static %}
{% block head %}
    <style>
        .flex-wrapper {
            display: flex;
            flex-wrap: wrap;
            align-items: baseline;
        }

        .flex-wrapper > div {
            margin: 10px 20px 10px 20px;
            flex-basis: 475px;
        }

        .flex-wrapper .svg-inline--fa {
            font-size: 2em;
        }

        .room-list {
            list-style: none;
            display: flex;
            flex-wrap: wrap;
            padding-left: 0;
        }

        .room-list li {
            display: inline-block;
            font-size: 1.2em;
            font-weight: bold;
            padding: 5px 10px;
            margin: 5px 5px;
            border-radius: 5px;
            border: 2px solid #626262;
        }

        .classroom {
            background-color: #97d5ff;
        }

        .laboratory {
            background-color: #acff70;
        }

        .auditorium {
            background-color: #ffcf78;
        }
    </style>
{% endblock %}

{% block content %}
    <h1><i class="fas fa-map-marker"></i> {{ building.name }}</h1>
    <div class="flex-wrapper">
        <div>
            <h2>Localização</h2>
            <object width="450px" height="400px" type="image/svg+xml" data="{% static 'kleep/campus.svg' %}">
                O teu navegador não suporta uma <a href="https://pt.wikipedia.org/wiki/SVG">tecnologia com 20 anos</a>...<br>
                Parece uma boa altura para <a href="https://www.mozilla.org/pt-PT/firefox/">mudar</a>!
            </object>
        </div>
        <div>
            <h2>Planta</h2>
            <object width="450px" height="400px" type="image/svg+xml" data="{% static 'kleep/vii-sample.svg' %}">
                O teu navegador não suporta uma <a href="https://pt.wikipedia.org/wiki/SVG">tecnologia com 20 anos</a>...<br>
                Parece uma boa altura para <a href="https://www.mozilla.org/pt-PT/firefox/">mudar</a>!
            </object>
        </div>

        <div>
            {% if departments.exists %}
                <h2>Departamentos:</h2>
                <ul>
                    {% for department in departments.all %}
                        <li><a href="{% url 'department' department.id %}">{{ department.name }}</a></li>
                    {% endfor %}
                </ul>

            {% endif %}
            {% if services.exists %}<h2>Serviços:</h2>
                <ul>
                    {% for service in services.all %}
                        <li><a href="{% url 'service' service.id %}">{{ service.name }}</a></li>
                    {% endfor %}
                </ul>
            {% endif %}
            <h2>Núcleos:</h2>
            <ul>
                <li>TODO</li>
            </ul>
        </div>
        <div>
            <h2>Salas de aula:</h2>
            <ul class="room-list">
                {% for room in classrooms.all %}
                    <a href="{% url 'room' room.id %}">
                        <li class="classroom">{{ room.name }}</li>
                    </a>
                {% endfor %}
            </ul>
        </div>
        <div>
            <h2>Laboratórios:</h2>
            <ul class="room-list">
                {% for room in laboratories.all %}
                    <a href="{% url 'room' room.id %}">
                        <li class="laboratory">{{ room.name }}</li>
                    </a>
                {% endfor %}
            </ul>
        </div>
        <div>
            <h2>Auditórios:</h2>
            <ul class="room-list">
                {% for room in auditoriums.all %}
                    <a href="{% url 'room' room.id %}">
                        <li class="auditorium">{{ room.name }}</li>
                    </a>
                {% endfor %}
            </ul>
        </div>
        <div>

        </div>
    </div>
{% endblock %}
