{% extends 'kleep/content_navigation.html' %}
{% load static %}
{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static 'kleep/map.css' %}"/>
    <script src="https://cdn.jsdelivr.net/npm/svg-pan-zoom@3.5.3/dist/svg-pan-zoom.min.js"></script>
    <script src="{% static 'kleep/map.js' %}"></script>
    <script>
    </script>
{% endblock %}
{% block content %}
    <div id="layers" style="display: inline-block;">
        <label for="background">Fundo</label>
        <input id="background" type="checkbox" onclick="map.toggleLayerVisibility(this);">
        <label for="roads">Estradas</label>
        <input id="roads" type="checkbox" onclick="map.toggleLayerVisibility(this);">
        <label for="parking">Estacionamentos</label>
        <input id="parking" type="checkbox" onclick="map.toggleLayerVisibility(this);">
        <label for="paths">Caminhos</label>
        <input id="paths" type="checkbox" onclick="map.toggleLayerVisibility(this);">
        <label for="labels">Etiquetas</label>
        <input id="labels" type="checkbox" onclick="map.toggleLayerVisibility(this);">
        <input id="background" type="button" value="Reiniciar" onclick="map.resetLayers()" style="margin-right: 0">
        <div>Arraste e clique para interagir com o mapa</div>
    </div>
    <object class="map" type="image/svg+xml" data="{% static 'kleep/campus.svg' %}" onload="initCampusMap(this)"
            style="top: -20px;">
        O teu navegador não suporta uma <a href="https://pt.wikipedia.org/wiki/SVG">tecnologia com 20 anos</a>...<br>
        Parece uma boa altura para <a href="https://www.mozilla.org/pt-PT/firefox/">mudar</a>!
    </object>
{% endblock %}
{% block navigation %}
    <a class="menu_entry selected">Mapa</a>
    <a class="menu_entry" href="{% url 'transportation' %}">Transportes</a>
    <a class="menu_entry" href="{% url 'available_places' %}">Espaços livres</a>
{% endblock %}
{% block side_extra %}
    <div id="side_extra">
        <span class="menu_entry selected">Legenda:</span><br>
        <ul>
            <li><span style="background-color: lawngreen" class="place">
            </span> Entrada <span style="background-color: lawngreen; border-style: dotted;"
                                  class="place dashed"></span> Pedonal
            </li>
            <li><span style="background-color: blue" class="place"></span> Serviço</li>
            <li><span style="background-color: yellow" class="place"></span> Espaço de refeição</li>
            <li><span style="background-color: red" class="place"></span> Transportes</li>
            <li><span style="background-color: orange" class="place"></span> Multibanco</li>
            <li><span style="background-color: #d42aff" class="place"></span> A.Estudantes</li>
        </ul>
        {% for building in buildings %}
            <div id="{{ building.map_tag }}" class="mapEntry">
                <a href="{% url 'building' building.id %}"><span class="menu_entry">{{ building.name }}</span></a><br>
                <div style="margin-left: 10px;">
                    <ul>
                        <span>Departamentos:</span>
                        {% for department in building.departments.all %}
                            <li>
                                <a href="{% url 'department' department.id %}">{{ department.name }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                    <b><a href="{% url 'building' building.id %}">Página do edíficio</a></b>
                </div>
            </div>
        {% endfor %}
        {% for service in services %}
            <div id="{{ service.map_tag }}" class="mapEntry">
                <span class="menu_entry">{{ service.name }}</span><br>
                <ul>
                    <li>{{ building_usage.usage }}</li>
                </ul>
            </div>
        {% endfor %}
    </div>
{% endblock %}