{% extends 'college/class_instance_base.html' %}

{% load static %}

{% block head %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static 'college/schedule.css' %}"/>
    <style>
        .flex-wrapper {
            align-items: start;
        }

        .turn {
            margin: 10px;
            padding: 5px 5px;
            border-radius: 5px;
            vertical-align: top;
            flex-basis: 320px;
            box-shadow: 0 0 5px #777;
            text-align: left;
        }

        .turn a {
            vertical-align: top;
            color: #333;
        }
    </style>
{% endblock %}

{% block content %}
    <h1>Turnos de {{ parent_class.name }}</h1>
    <h3>Departamento de {{ department.name }}, {{ occasion }}</h3>
    <div class="flex-wrapper">
        {% for turn in turns %}
            <div class="turn turn-{{ turn.type_abbreviation|lower }}" href="#">
                <a style="font-weight: bold; font-size: 3em;margin-right: 20px" href="#">
                    {{ turn.type_abbreviation }}{{ turn.number }}
                </a>
                <div style="display: inline-block;">
                    {% for instance in turn.instances.all %}
                        <span>{{ instance.weekday_pt }}, {{ instance.start_str }}-{{ instance.end_str }}</span><br>
                        {% if instance.room %}
                            <a style="border-bottom: 1px solid black" href="{% url 'college:room' instance.room.id %}">
                                {{ instance.room }}
                            </a><br>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}