{% extends 'college/class_instance_base.html' %}

{% load static %}
{% block head %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static 'college/schedule.css' %}"/>
{% endblock %}

{% block content %}
    <h1>Horário de {{ parent_class.name }}</h1>
    <h3>Departamento de {{ department.name }}, {{ occasion }}</h3>
    <div style="overflow-x: scroll;">
        <table cellpadding="0" cellspacing="0" class="schedule">
            <tr>
                <th>Hora</th>
                <th colspan="{{ weekday_spans.0 }}">Segunda-feira</th>
                <th colspan="{{ weekday_spans.1 }}">Terça-feira</th>
                <th colspan="{{ weekday_spans.2 }}">Quarta-feira</th>
                <th colspan="{{ weekday_spans.3 }}">Quinta-feira</th>
                <th colspan="{{ weekday_spans.4 }}">Sexta-feira</th>
            </tr>
            {% for row in schedule %}
                <tr>
                    <td>{{ row.0|safe }}</td>
                    {% for element in row.1 %}
                        {% if element %}
                            <td class='turn turn-{{ element.turn.turn.type_abbreviation|lower }}'
                                rowspan="{{ element.rowspan }}">
                                {{ element.turn.turn.class_instance.parent.abbreviation }}<br>
                                {{ element.turn.turn.type_abbreviation|upper }}{{ element.turn.turn.number }}<br>
                                {% if element.turn.room %}
                                    <a href="{% url 'room' element.turn.room.id %}">
                                        {{ element.turn.room.short_str }}</a>
                                {% endif %}
                            </td>
                        {% else %}
                            <td></td>
                        {% endif %}
                    {% endfor %}
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}