{% extends 'kleep/content_only.html' %}

{% load static %}
{% block head %}
{% endblock %}

{% block content %}
    <h1><i class="fas fa-graduation-cap"></i> Departamentos</h1>
    <div class="flex-wrapper">
        {% for department in departments %}
            <a href="{% url 'department' department.id %}">
                <div class="flex-grid-item" style="background-image: url({{ department.img_url }})">
                    <div class="flex-grid-item-top">
                        <span>{{ department.name }}</span>
                    </div>
                </div>
            </a>
        {% endfor %}
    </div>
{% endblock %}