{% extends 'kleep/content_only.html' %}
{% load static %}
{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static 'college/college.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'college/schedule.css' %}"/>
    <style>
        .flex-wrapper > div {
            margin: 10px 20px 10px 20px;
        }
    </style>
{% endblock %}
{% block content %}
    <div id="content-title-decorator">
        <span class="clearfix"></span>
        <h1><i class="fas fa-map-marker-alt"></i> {{ room }}</h1>
        <h3>
            <a href="{% url 'college:building' building.id %}">{{ building.name }}</a>
        </h3>
    </div>
    <div class="content-formatter">
        <div class="flex-wrapper">
            <div style="flex-basis: 475px">
                <h2>Localização</h2>

                {% if building.map %}
                {% else %}
                    As plantas encontram-se a ser feitas à mão a partir das plantas de incêndio.<br>
                    Alguns edifícios não tem planta de incêndio e a administração recusa-se a partilhar o que quer
                    que seja não vão os malandros dos alunos andar a consultar sem permissão as salas que tem na sua
                    faculdade.<br>
                    Assim que algum escravo acabe de mapear a planta deste edifício (ou a administração decida
                    colaborar) a mesma será embutida aqui.<br>
                    Caso seja uma personalidade bem socializada com a administração tenha a amabilidade de solicitar
                    que os mesmos partilhem o que por lei é público.
                {% endif %}
            </div>

            <div style="overflow-x: scroll; width: 700px;">
                <h2>Horário:</h2>
                <table class="schedule" cellpadding="0" cellspacing="0" width="700px">
                    <tr>
                        <th>Hora</th>
                        <th colspan="{{ weekday_spans.0 }}">Segunda-feira</th>
                        <th colspan="{{ weekday_spans.1 }}">Terça-feira</th>
                        <th colspan="{{ weekday_spans.2 }}">Quarta-feira</th>
                        <th colspan="{{ weekday_spans.3 }}">Quinta-feira</th>
                        <th colspan="{{ weekday_spans.4 }}">Sexta-feira</th>
                    </tr>
                    {% for row in schedule %}
                        <tr>
                            <td>{{ row.0|safe }}</td>
                            {% for element in row.1 %}

                                {% if element %}
                                    <td class='turn turn-{{ element.turn.turn.turn_type.name|lower }}'
                                        rowspan="{{ element.rowspan }}">
                                        <a href="{% url 'college:class_instance' element.turn.turn.class_instance.id %}">
                                            {{ element.turn.turn.class_instance.parent.abbreviation }}</a><br>
                                        {{ element.turn.turn.turn_type|upper }}{{ element.turn.turn.number }}<br>
                                        {{ element.turn.room.short_str }}

                                    </td>
                                {% else %}
                                    <td></td>
                                {% endif %}
                            {% endfor %}
                        </tr>
                    {% endfor %}
                </table>
            </div>
            {% if room.features.exists %}
                <div style="flex-basis: 500px">
                    {% for feature in room.features %}
                        <div>
                        <img src="{{ feature.image }}">
                        <span>{{ feature.name }}</span>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    </div>

{% endblock %}
