{% extends 'kleep/content_only.html' %}
{% load static %}
{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static 'college/college.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'college/schedule.css' %}"/>
    <style>
        .flex-wrapper {
            vertical-align: top;
        }

        .flex-wrapper > div {
            margin: 10px 20px 10px 20px;
        }

        .flex-wrapper .svg-inline--fa {
            font-size: 2em;
        }
    </style>
{% endblock %}

{% block content %}
    <h1><i class="fas fa-map-marker-alt"></i> {{ room }}</h1>
    <h3 style="margin-left: 30px; margin-bottom: 0;">{{ building.name }}</h3>

    <div class="flex-wrapper">
        <div>
            <h2>Localização</h2>
            <object width="450px" height="400px" type="image/svg+xml" data="{% static 'kleep/vii-sample.svg' %}">
                O teu navegador não suporta uma <a href="https://pt.wikipedia.org/wiki/SVG">tecnologia com 20 anos</a>...<br>
                Parece uma boa altura para <a href="https://www.mozilla.org/pt-PT/firefox/">mudar</a>!
            </object>
        </div>

        <div style="overflow-x: scroll; width: 700px;">
            <h2>Horário:</h2>
            <table class="schedule" cellpadding="0" cellspacing="0" width="700px">
                <tr>
                    <th>Hora</th>
                    <th colspan="{{ weekday_spans.0 }}">Segunda-feira</th>
                    <th colspan="{{ weekday_spans.1 }}">Terça-feira</th>
                    <th colspan="{{ weekday_spans.2 }}">Quarta-feira</th>
                    <th colspan="{{ weekday_spans.3 }}">Quinta-feira</th>
                    <th colspan="{{ weekday_spans.4 }}">Sexta-feira</th>
                </tr>
                {% for row in schedule %}
                    <tr>
                        <td>{{ row.0|safe }}</td>
                        {% for element in row.1 %}

                            {% if element %}
                                <td class='turn turn-{{ element.turn.turn.turn_type.name|lower }}'
                                    rowspan="{{ element.rowspan }}">
                                    <a href="{% url 'class_instance' element.turn.turn.class_instance.id %}">
                                        {{ element.turn.turn.class_instance.parent.abbreviation }}</a><br>
                                    {{ element.turn.turn.turn_type|upper }}{{ element.turn.turn.number }}<br>
                                    {{ element.turn.room.short_str }}

                                </td>
                            {% else %}
                                <td></td>
                            {% endif %}
                        {% endfor %}
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>

{% endblock %}
