{% extends 'supernova/base.html' %}

{% block content_wrapper %}
  <div class="col">
    <div class="header-decorator">
      <div>
        <h1>Espaços disponíveis</h1>
        <h4>Previsão para {{ date }}</h4>
      </div>
    </div>
    <div class="col padded">
      {% if weekend %}
        <div class="pane">
          <div class="pane-title"></div>
          <div class="pane-content">
            Em dias de fim-de-semana apenas o edifício VII se encontra aberto.<br>
            É ainda possível entrares no edifício do teu departamento mediante utilização do
            cartão de estudante nas portas automáticas.
          </div>
        </div>
      {% else %}
        {% for building, room_occupation in occupation.items %}
          <div class="pane">
            <div class="pane-title">
              {% block title %}
                <h2><a href="{% url 'college:building' building.id %}">{{ building }}</a></h2>
              {% endblock %}
            </div>
            <div class="pane-content">
              {% include 'college/occupation_table.html' %}
            </div>
          </div>
        {% endfor %}
      {% endif %}
    </div>
  </div>
{% endblock %}