{% extends 'supernova/base.html' %}
{% load static %}
{% load leaflet_tags %}

{% block head %}
  {% leaflet_js %}
  {% leaflet_css %}
  <script>
      let center = [
          {{ building.location.coords.1|stringformat:"f" }},
          {{ building.location.coords.0|stringformat:"f" }}];
  </script>
  <script src="{% static 'college/map/map.js' %}"></script>
  <link rel="stylesheet" type="text/css" href="{% static 'college/college.css' %}"/>
  {% if  building.picture %}
    <style>
      .header-decorator {
        background-image: url("{{ building.picture.url }}");
      }
    </style>
  {% endif %}
{% endblock %}

{% block content_wrapper %}
  <div class="col">
    <div class="content-title-decorator">
      <h1>{{ building.name }}</h1>
    </div>
    <div class="row padded">
      <div class="flex-pane big">
        <div class="pane-title bg-grad"><h2>Localização</h2></div>
        <div class="pane-content">{% leaflet_map "campus-map" callback="initBuildingMap" %}</div>
      </div>
      <div class="flex-pane big">
        <div class="pane-title bg-grad"><h2>Planta</h2></div>
        <div class="pane-content">
          {% if building.map %}
          {% else %}
            Sem planta.
          {% endif %}
        </div>
      </div>
      <div class="col">
        <div class="flex-pane">
          <div class="pane-title bg-grad"><h2>Departamentos</h2></div>
          <div class="pane-content">
            <ul style="list-style: none; padding-left: 20px;">
              {% for department in departments.all %}
                <li><a href="{% url 'college:department' department.id %}">{{ department.name }}</a></li>
              {% endfor %}
            </ul>
          </div>
        </div>
        <div class="flex-pane">
          <div class="pane-title bg-grad"><h2>Núcleos</h2></div>
          <div class="pane-content">
            <ul>
              <li>TODO</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="row full">
        {% for type in rooms %}
          <div class="flex-pane type-and-room-list">
            <div class="pane-title bg-grad"><h2>{{ type.0 }}:</h2></div>
            <div class="pane-content room-list">
              {% for room in type.1 %}
                <a class="room-type-{{ room.type }}" href="{% url 'college:room' room.id %}">
                  {{ room.name }}
                </a>
              {% endfor %}
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
{% endblock %}
