{% extends 'supernova/base.html' %}
{% load static %}

{% block head %}
  <script src="{% static 'js/lib/leaflet.js' %}"></script>
  <link rel="stylesheet" type="text/css" href="{% static 'css/lib/leaflet/leaflet.css' %}"/>
  <script src="{% static 'college/map/fct.js' %}"></script>
  <link rel="stylesheet" type="text/css" href="{% static 'college/map/map.css' %}"/>
  <script src="{% static 'college/map/map.js' %}"></script>
{% endblock %}

{% block content_wrapper %}
  <div class="col padded">
    <div class="pane" style="display:flex; flex-grow: 1; flex-direction: column">
      <div class="pane-title"></div>
      <div id="campus-map"></div>
    </div>
    <div class="pane">
      <div class="pane-title"></div>
      <div class="pane-content">
        <ul class="caption" style="font-weight: bold">
          <li><span style="background-color: #8Af" class="place"></span> Edifício letivo</li>
          <li><span style="background-color: #999" class="place"></span> Hangar</li>
          <li><span style="background-color: #7d9" class="place"></span> Serviço</li>
          <li><span style="background-color: #ffb366" class="place"></span> Lazer</li>
          <li><span style="background-color: #fff" class="place"></span> Outros</li>
        </ul>
      </div>
    </div>
  </div>
  <script>initCampusMap();</script>
{% endblock %}

