{% extends 'supernova/base.html' %}

{% load static %}

{% block head %}
  <style>
    .flex-wrapper {
      align-items: start;
    }

    .shift-list {
      margin: 10px;
      padding: 5px 5px;
      border-radius: 5px;
      vertical-align: top;
      flex-basis: 320px;
      box-shadow: 0 0 5px #777;
      text-align: left;
    }

    .shift-list a {
      vertical-align: top;
      color: #333;
    }
  </style>
{% endblock %}

{% block content_wrapper %}
  <div class="col">
  {% include 'college/class_decorator.html' %}
    <div class="row nowrap padded">
      <div class="col">
        <div class="flex-pane">
          <div class="pane-title bg-grad"><h2>Turnos</h2></div>
          <div class="pane-content flex-wrapper">
            {% for turn in turns %}
              <div class="shift-list turn-{{ shift.type_abbreviation|lower }}" href="#">
                <a style="font-weight: bold; font-size: 3em;margin-right: 20px" href="#">
                  {{ shift.type_abbreviation }}{{ shift.number }}
                </a>
                <div style="display: inline-block;">
                  {% for instance in shift.instances.all %}
                    <span>{{ instance.weekday_pt }}, {{ instance.start_str }}-{{ instance.end_str }}</span><br>
                    {% if instance.room %}
                      <a style="border-bottom: 1px solid black"
                         href="{% url 'college:room' instance.room.id %}">
                        {{ instance.room.schedule_str }}
                      </a><br>
                    {% endif %}
                  {% endfor %}
                </div>
              </div>
            {% endfor %}
          </div>
        </div>
        <div class="flex-pane">
          <div class="pane-title bg-grad"><h2>Horário</h2></div>
          <div class="pane-content" style="overflow-x: auto;">
            {% include 'college/schedule.html' %}
          </div>
        </div>
      </div>
      <div class="col nogrow noshrink">
        {% include 'college/class_navigation.html' %}
        {% include 'college/class_editions.html' %}
      </div>
    </div>
  </div>
{% endblock %}