{% extends 'supernova/base.html' %}

{% load static %}

{% block content_wrapper %}
  <div class="col">
    <div class="header-decorator">
      <div>
        <h1>{{ class_obj.name }}</h1>
        <h3><a href="{% url 'college:department' department.id %}">Departamento de {{ department.name }}</a></h3>
      </div>
    </div>
    <div class="row padded">
      <div class="col big">
        <div class="flex-pane">
          <div class="pane-title bg-grad"><h2>Descrição</h2></div>
          <div class="pane-content">
            {{ class_obj.description }}
          </div>
        </div>
        <div class="flex-pane">
          <div class="pane-title bg-grad"><h2>Atual plano curricular</h2></div>
          <div class="pane-content">
            TODO
          </div>
        </div>
      </div>
      <div class="col nogrow">
        <div class="flex-pane">
          <div class="pane-title bg-grad"><h2>Edições</h2></div>
          <div class="pane-content">
            {% if perms.users.full_student_access %}
              <ul class="menu">
                {% for instance in instances %}
                  <li>
                    <a href="{% url 'college:class_instance' instance.id %}">{{ instance.occasion }}</a>
                  </li>
                {% endfor %}
              </ul>
            {% else %}
              A consulta de edições está restrita a alunos e docentes.
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}