{% extends 'supernova/base.html' %}

{% load static %}

{% block content_wrapper %}
  <div class="col">
    {% include 'college/class_decorator.html' %}
    <div class="row nowrap padded">
      <div class="col">
        <div class="flex-pane">
          <div class="pane-title bg-grad"><h2>Inscritos</h2></div>
          <div class="pane-content">
            <table class="stylized grow">
              <thead>
              <tr>
                <th>Numero</th>
                <th>Nome</th>
                <th class="midhighres">Identificador</th>
                <th class="midhighres">Curso</th>
                <th>Resultado</th>
              </tr>
              </thead>
              {% for enrollment in enrollments %}
                <tr>
                  <td>{% if enrollment.student.number %}<a href="{{ enrollment.student.get_absolute_url }}">{{ enrollment.student.number }}</a>{% endif %}</td>
                  <td>
                    {% if enrollment.student.user %}
                      <a href="{{ enrollments.student.user.get_absolute_url }}">
                        {{ enrollment.student.user.get_full_name }}
                      </a>
                    {% else %}
                      {{ enrollment.student.name }}
                    {% endif %}
                  </td>
                  <td class="midhighres">{% if enrollment.student.abbreviation %}{{ enrollment.student.abbreviation }}{% endif %}</td>
                  <td class="midhighres">{% if enrollment.student.course %}<a href="{{ enrollment.student.course.get_absolute_url }}">{{ enrollment.student.course.abbreviation }}</a>{% endif %}</td>
                  <td>{% if enrollment.grade %}{{ enrollment.grade }}{% else %}?{% endif %}</td>
                </tr>
              {% endfor %}
            </table>
          </div>
        </div>
      </div>
      <div class="col nogrow noshrink">
        {% include 'college/class_navigation.html' %}
        {% include 'college/class_editions.html' %}
      </div>
    </div>
  </div>
{% endblock %}