{% extends 'supernova/base.html' %}

{% load static %}

{% block content_wrapper %}
  <div class="col">
  {% include 'college/class_decorator.html' %}
    <div class="row nowrap padded">
      <div class="col">
        <div class="pane">
          <div class="pane-title"><h2>Turnos</h2></div>
          <div class="pane-content flex-wrapper">
            {% for shift in shifts %}
              <div class="shift-list shift-{{ shift.type_abbreviation|lower }}">
                <a style="font-weight: bold; font-size: 3em;margin-right: 20px" href="{{ shift.get_absolute_url }}">
                  {{ shift.type_abbreviation }}{{ shift.number }}
                </a>
                <div style="display: inline-block;">
                  {% for instance in shift.instances.all %}
                    <span>{{ instance.weekday_pt }}, {{ instance.start_str }}-{{ instance.end_str }}</span><br>
                    {% if instance.room %}
                      <a style="border-bottom: 1px solid black"
                         href="{% url 'college:room' instance.room.id %}">
                        {{ instance.room.schedule_str }}
                      </a><br>
                    {% endif %}
                  {% endfor %}
                </div>
              </div>
            {% endfor %}
          </div>
        </div>
        <div class="pane">
          <div class="pane-title"><h2>Horário</h2></div>
          <div class="pane-content" style="overflow-x: auto;">
            {% include 'college/schedule.html' %}
          </div>
        </div>
      </div>
      <div class="col nogrow noshrink">
        {% include 'college/class_navigation.html' %}
        {% include 'college/class_editions.html' %}
      </div>
    </div>
  </div>
{% endblock %}