{% extends 'supernova/base.html' %}

{% load static %}

{% block head %}
  <style>
    .dllink > span {
      background-image: url("{% static 'img/icons/download.svg' %}");
    }

    .viewlink > span {
      background-image: url("{% static 'img/icons/magnify.svg' %}");
    }
  </style>
{% endblock %}

{% block content_wrapper %}
  <div class="col">
    {% include 'college/class_decorator.html' %}
    <div class="row nowrap padded">
      <div class="col">
        <div class="flex-pane">
          <div class="pane-title bg-grad"><h2>Ficheiros</h2></div>
          <div class="pane-content">
            <div class="file-list">
              {% for ifile in instance_files %}
                <div class="file" data-mime="{{ ifile.file.mime }}">
                  <div class="file-body">
                    <h4><a href="{% url 'college:class_instance_file_download' instance.id ifile.file.hash %}">{{ ifile.name }}</a></h4>
                    <span>
                      ({% if ifile.file.size < 1024 %}{{ ifile.file.size }} Bytes
                       {% elif ifile.file.size < 1048576 %}{% widthratio ifile.file.size 1024 1 %} KB
                       {% else %}{% widthratio ifile.file.size 1048576 1 %} MB{% endif %})
                    </span>
                    <div class="info">
                      {% if ifile.type %} <span class="ui-tag">{{ ifile.get_type_display }}</span>{% endif %}
                      {% if ifile.uploader %}
                        Por <span>{{ ifile.uploader.name }}</span>
                      {% elif ifile.uploader_teacher %}
                        Por <span>{{ ifile.uploader_teacher.short_name }}</span>
                      {% endif %}
                      em <span>{{ ifile.upload_datetime | date:"SHORT_DATETIME_FORMAT" }}</span>
                    </div>
                    <div class="preview"></div>
                    <span class="clearfix"></span>
                  </div>
                  <div class="actions highres">
                    {% if ifile.file.can_preview %}
                      <a class="viewlink" href="javascript:void(0)" onclick='showFilePreview(this);'>
                        <span></span>
                      </a>
                    {% endif %}
                    <a class="dllink"
                       href="{% url 'college:class_instance_file_download' instance.id ifile.file.hash %}">
                      <span></span>
                    </a>
                  </div>

                </div>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
      <div class="col nogrow noshrink">
        {% include 'college/class_navigation.html' %}
        {% include 'college/class_editions.html' %}
      </div>
    </div>
  </div>
{% endblock %}