{% extends 'supernova/base.html' %}

{% load static %}

{% block content_wrapper %}
  <div class="header-decorator">
    <div class="header-decorator-options">
      <ul>
        <li><a href="{% url 'college:file_upload' %}?i={{ instance.id }}">Inserir</a></li>
        <li><a href="{% url 'college:class_instance_file_attach' instance.id %}">Importar</a></li>
      </ul>
    </div>
    <div>
      <h1>{{ instance.parent.name }}</h1>
      <h3>{{ instance.occasion }}</h3>
    </div>
  </div>
  <div class="col padded">
    <div class="flex-pane">
      <div class="pane-title bg-grad"><h2>Editar ficheiros</h2></div>
      <div class="pane-content">
        <form class="col" method="post" action="{% url 'college:class_instance_files_edit' instance.id %}">
          {% csrf_token %}
          {{ formset.management_form }}
          {% for form in formset %}
            <div class="form-block">
              <h3>{{ form.instance.name }} </h3>
              {{ form.non_field_errors }}
              <div class="form-row">
                <div class="form-row-top"><h4>Nome</h4>{{ form.name }}</div>
                {{ form.name.errors }}
              </div>
              <div class="form-row">
                <div class="form-row-top"><h4>Categoria</h4>{{ form.category }}</div>
                {{ form.category.errors }}
              </div>
              <div class="form-row">
                <div class="form-row-top"><h4>Visibilidade</h4>{{ form.visibility }}</div>
                {{ form.visibility.errors }}
              </div>
            </div>
            <a href="{% url 'college:class_instance_file_edit' instance.id form.instance.id %}">Ver mais</a>
            <hr>
          {% endfor %}
          {{ formset.media }}
          <input class="ui-btn end" type="submit" value="Gravar"/>
        </form>
      </div>
    </div>
  </div>
{% endblock %}