{% url 'college:class_instance' instance.id as info_url %}
{% url 'college:class_instance_shifts' instance.id as shifts_url %}
{% url 'college:class_instance_enrolled' instance.id as enrolled_url %}
{% url 'college:class_instance_events' instance.id as events_url %}
{% url 'college:class_instance_files' instance.id as files_url %}
{% url 'college:class_questions' instance.parent.id as questions_url %}
{% url 'learning:class' instance.parent.id as synopsis_url %}


<div class="flex-pane">
  <div class="pane-title bg-grad"><h2>Conteúdo</h2></div>
  <div class="pane-content">
    <ul class="menu">
      <li>
        {% if info_url == request.path %}
          Info
        {% else %}
          <a class="menu-entry" href="{{ info_url }}">Info</a>
        {% endif %}
      </li>
      <li>
        {% if shifts_url in request.path %}
          Turnos
        {% else %}
          <a class="menu-entry" href="{{ shifts_url }}">Turnos</a>
        {% endif %}
      </li>
      <li>
        {% if events_url in request.path %}
          Eventos
        {% else %}
          <a class="menu-entry" href="{{ events_url }}">Eventos</a>
        {% endif %}
      </li>
      <li>
        {% if enrolled_url in request.path %}
          Inscritos
        {% else %}
          <a class="menu-entry" href="{{ enrolled_url }}">Inscritos</a>
        {% endif %}
      </li>
      <li>
        {% if files_url in request.path %}
          Ficheiros
        {% else %}
          <a class="menu-entry" href="{{ files_url }}">Ficheiros</a>
        {% endif %}
      </li>
      <li><a class="menu-entry" href="{{ questions_url }}">Dúvidas</a></li>
      <li><a class="menu-entry" href="{{ synopsis_url }}">Síntese</a></li>
      {# TODO summaries & evaluations #}
    </ul>
  </div>
</div>