{% extends 'supernova/base.html' %}

{% block content_wrapper %}
  <div class="col">
    {% include 'college/class_decorator.html' %}
    <div class="row nowrap padded">
      <div class="col">
        <div class="flex-pane">
          <div class="pane-title bg-grad"><h2>Informação</h2></div>
          <div class="pane-content">
            {% if instance.information.upstream.description and instance.information.upstream.description.pt %}
              <h3>Descrição</h3>
              {{ instance.information.upstream.description.pt|safe }}
            {% endif %}
            {% if instance.information.upstream.evaluation and instance.information.upstream.evaluation.pt %}
              <h3>Avaliação</h3>
              {{ instance.information.upstream.evaluation.pt|safe }}
            {% endif %}
            {% if instance.information.upstream.objectives and instance.information.upstream.objectives.pt %}
              <h3>Objetivos</h3>
              {{ instance.information.upstream.objectives.pt|safe }}
            {% endif %}
            {% if instance.information.upstream.program and instance.information.upstream.program.pt %}
              <h3>Programa</h3>
              {{ instance.information.upstream.program.pt|safe }}
            {% endif %}
            {% if instance.information.upstream.requirements and instance.information.upstream.requirements.pt %}
              <h3>Requisitos</h3>
              {{ instance.information.upstream.requirements.pt|safe }}
            {% endif %}
            {% if instance.information.upstream.teaching_methods and instance.information.upstream.teaching_methods.pt %}
              <h3>Métodos de ensino</h3>
              {{ instance.information.upstream.teaching_methods.pt|safe }}
            {% endif %}
            {% if instance.information.upstream.assistance and instance.information.upstream.assistance.pt %}
              <h3>Horário de atendimento</h3>
              {{ instance.information.upstream.assistance.pt|safe }}
            {% endif %}
            {% if instance.information.upstream.bibliography and instance.information.upstream.bibliography.pt %}
              <h3>Bibliografia</h3>
              {{ instance.information.upstream.bibliography.pt|safe }}
            {% endif %}
          </div>
        </div>
        <div class="flex-pane">
          <div class="pane-title bg-grad">
            <h2><a href="{% url 'college:class_instance_reviews' instance.id %}">Opiniões</a></h2>
          </div>
          <div class="pane-content">
            {% include 'feedback/reviews_widget.html' %}
            {% if reviews|length == 0 %}
              Sem opiniões. <a href="{% url 'college:class_instance_review_create' instance.id %}">Adiciona a tua</a>.
            {% endif %}
          </div>
        </div>
      </div>
      <div class="col nogrow noshrink">
        {% include 'college/class_navigation.html' %}
        <div class="flex-pane">
          <div class="pane-title bg-grad"><h2>Informação</h2></div>
          <div class="pane-content">
            <h3>Departamento</h3>
            {% if instance.department %}
              <a class="entity indented" href="{% url 'college:department' instance.department.id %}">Departamento de {{ instance.department.name }}</a>
            {% else %}
              <span class="indented">Desconhecido</span>
            {% endif %}
            <h3>Regente</h3>
            <span class="indented">Desconhecido</span>
            <h3>Docentes</h3>
            <ul class="entity-list">
              {% for teacher in teachers %}
                <li><a href="{% url 'college:teacher' teacher.id %}">{{ teacher.name }}</a></li>
              {% endfor %}
            </ul>
            <h3>Inscritos</h3>
            <span class="indented">{{ instance.enrolled_count }} alunos inscritos {% if instance.course_count == 1%}(curso único){% else %}(entre {{ instance.course_count }} cursos){% endif %}</span>
          </div>
        </div>
        {% include 'college/class_editions.html' %}
      </div>
    </div>
  </div>
{% endblock %}