{% extends 'supernova/base.html' %}

{% load static %}

{% block content_wrapper %}
  <div class="header-decorator">
    <div class="header-decorator-options">
      <ul>
        {% if file %}<li><a href="{% url 'college:file_edit' file.hash %}">Editar raiz</a></li>{% endif %}
      </ul>
    </div>
    <div>
      <h1>{{ instance.parent.name }}</h1>
      <h3>{{ instance.occasion }}</h3>
    </div>
  </div>
  <div class="col padded">
    <div class="pane">
      <div class="pane-title"><h2>Anexar ficheiro</h2></div>
      <div class="pane-content">
        <form class="col" method="post" action="{{ request.get_full_path }}">
          {% csrf_token %}
          <div class="form-block">
            {% if form.file %}
              <div class="form-row">
                <div class="form-row-top">
                  <h4>Ficheiro</h4>{{ form.file }}
                </div>
                {{ form.file.errors }}
                <div class="form-row-description">
                  O identificador do ficheiro a anexar.
                </div>
              </div>
            {% endif %}
            <div class="form-row">
              <div class="form-row-top">
                <h4>Nome</h4>{{ form.name }}
              </div>
              {{ form.name.errors }}
              <div class="form-row-description">
                O nome a apresentar neste ficheiro.
              </div>
            </div>
            <div class="form-row">
              <div class="form-row-top">
                <h4>Categoria</h4>{{ form.category }}
              </div>
              {{ form.category.errors }}
              <div class="form-row-description">
                A categoria em que o ficheiro se insere.
              </div>
            </div>
            <div class="form-row">
              <div class="form-row-top">
                <h4>Visibilidade</h4>{{ form.visibility }}
              </div>
              {{ form.visibility.errors }}
              <div class="form-row-description">
                A audiência que consegue visualizar este ficheiro.
              </div>
            </div>
          </div>
          {% if form.instance.external %}
            {% include 'college/importable_edit.html' %}
          {% endif %}
          <input class="ui-btn end" type="submit" value="Anexar"/>
          {{ form.media }}
        </form>
      </div>
    </div>
  </div>
{% endblock %}