{% extends 'supernova/base.html' %}

{% load static %}

{% block content_wrapper %}
  <div class="header-decorator">
    <div class="header-decorator-options">
      <ul>
        <li><a href="{% url 'college:class_instance_file_edit' class_file.class_instance.id class_file.id %}">Editar edição</a></li>
        <li><a href="{% url 'college:file_edit_view' class_file.file.hash %}">Editar raiz</a></li>
      </ul>
    </div>
    <div>
      <h1>{{ instance.parent.name }}</h1>
      <h3>{{ instance.occasion }}</h3>
    </div>
  </div>
  <div class="col padded">
    <div class="flex-pane">
      <div class="pane-title bg-grad"><h2>{{ class_file.name }}</h2></div>
      <div class="pane-content">
        {% if class_file.file.can_preview %}.
          <object href="{% url 'college:class_instance_file_download' class_file.class_instance.id class_file.file.hash %}?inline="></object>
        {% endif %}
        <a class="ui-btn" href="{% url 'college:class_instance_file_download' class_file.class_instance.id class_file.file.hash %}">Download</a>
      </div>
    </div>
    <div class="flex-pane">
      <div class="pane-title bg-grad"><h2>Metadados</h2></div>
      <div class="pane-content">
        <form class="col">
          <div class="form-block">
            <div class="form-row">
              <div class="form-row-top"><h4>MIME</h4>{{ class_file.file.mime }}</div>
            </div>
            <div class="form-row">
              <div class="form-row-top"><h4>SHA-1</h4>{{ class_file.file.hash }}</div>
            </div>
            <div class="form-row">
              <div class="form-row-top">
                <h4>Dimensão</h4>
                {% with class_file.file.size as size %}
                  {% if size < 1024 %}{{ size }} Bytes
                    {% elif size < 1048576 %}{% widthratio size 1024 1 %} KB
                    {% else %}{% widthratio size 1048576 1 %} MB{% endif %}
                {% endwith %}
              </div>
            </div>
            <div class="form-row">
              <div class="form-row-top">
                <h4>Autor</h4>
                {% if class_file.file.author_str %}{{ class_file.file.author }}{% elif class_file.file.author_str %}{{ class_file.file.author_str }}{% else %}Desconhecido{% endif %}
              </div>
              <div class="form-row-description">
                O utilizador que detem autoria deste conteúdo.
              </div>
            </div>
            <div class="form-row">
              <div class="form-row-top">
                <h4>Licensa</h4>
                {{ class_file.file.get_license_display }}
              </div>
              <div class="form-row-description">
                Licensa de utilização deste conteúdo.
              </div>
            </div>
            <div class="form-row">
              <div class="form-row-top">
                <h4>DOI</h4>
                {{ class_file.file.doi }}
              </div>
              <div class="form-row-description">
                O digital object identifier deste conteúdo.
              </div>
            </div>
            <div class="form-row">
              <div class="form-row-top">
                <h4>Disponíbilidade</h4>
                {{ class_file.get_visibility_display }}
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
{% endblock %}