{% extends 'supernova/content_only_formatted.html' %}

{% load static %}
{% block head %}
{% endblock %}

{% block content-top %}
  {% include 'college/campus_navigation.html' %}
{% endblock %}

{% block content %}
  <h1><i class="fas fa-graduation-cap"></i> Faculdade</h1>
  <ul style="list-style: none; font-size: 1.2em">
    <li><a href="{% url 'college:departments' %}">Departamentos</a></li>
{#    <li><a href="{% url 'college:teachers' %}">Professores</a></li>#}
{#    <li><a href="{% url 'college:courses' %}">Cursos</a></li>#}
    <li><a href="{% url 'news_index' %}">Notícias</a></li>
    <li>Campus</li>
    <ul style="list-style: none">
      <li><a href="{% url 'college:buildings' %}">Edificios</a></li>
      <li><a href="{% url 'college:map' %}">Mapa</a></li>
      <li><a href="{% url 'college:transportation' %}">Transportes</a></li>
      <li><a href="{% url 'college:available_places' %}">Espaços disponíveis</a></li>
    </ul>
  </ul>
{% endblock %}