{% extends 'supernova/base.html' %}

{% load static %}

{% block content_wrapper %}
  <div class="header-decorator">
    {% if perms.college.change_course %}
      <div class="header-decorator-options">
        <ul>
          <li><a href="{% url 'college:course_edit' course.id %}">Editar</a></li>
        </ul>
      </div>
    {% endif %}
    <div>
      <h1>{{ course }}</h1>
      {% if course.department is None %}
        <h3>Sem departamento associado</h3>
      {% else %}
        <h3>
          <a href="{% url 'college:department' course.department.id %}">Departamento de {{ course.department }}</a>
        </h3>
      {% endif %}
    </div>
  </div>
  <div class="row nowrap padded">
    <div class="col">
      <div class="flex-pane">
        <div class="pane-title bg-grad"><h2>Descrição</h2></div>
        <div class="pane-content">
          <p>{{ course.description_html | safe }}</p>
        </div>
      </div>
      <div class="flex-pane">
        <div class="pane-title bg-grad"><h2>Estrutura Curricular</h2></div>
        <div class="pane-content construction"></div>
      </div>
    </div>
    <div class="col nogrow noshrink">
      <div class="flex-pane">
        <div class="pane-title bg-grad"><h2>Navegação</h2></div>
        <div class="pane-content">
          <ul class="menu">
            <li><a class="disabled" href="{% url 'college:course_curriculum' course.id %}">Programa curricular</a>
            </li>
            <li><a href="{% url 'college:course_students' course.id %}">Alunos</a></li>
            <li><a class="disabled">Núcleo do curso</a></li>
            <li><a class="disabled">Concelho pedagógico</a></li>
          </ul>
        </div>
      </div>
      <div class="flex-pane">
        <div class="pane-title bg-grad"><h2>Informação</h2></div>
        <div class="pane-content">
          <h3>Total alunos</h3>
          <span class="indented">{{ student_count }}</span>
          <h3>Alunos ativos</h3>
          <span class="indented">{{ active_student_count }}</span>
          <h3>Novos alunos</h3>
          <span class="indented">{{ new_students_count }}</span>
          {# <h3>Média dos alunos:</h3>#}
          {# <span class="info-entry">TODO</span>#}
          {# <h3>Taxa de desistências:</h3>#}
          {# <span class="info-entry">TODO</span>#}
        </div>
      </div>
    </div>
  </div>
{% endblock %}