{% extends 'supernova/base.html' %}

{% block content_wrapper %}
  <div class="col">
    {% for degree in degrees %}
      <div class="flex-pane">
        <div class="pane-title bg-grad"><h2>{{ degree.0 }}</h2></div>
        <div class="pane-content">
          {% for course in degree.1 %}
            <div style="padding-left: 10px">
              <h3><a href="{% url 'college:course' course.id %}"><span>{{ course.name }}</span></a></h3>
            </div>
          {% endfor %}
        </div>
      </div>
    {% endfor %}
  </div>
{% endblock %}