{% extends 'supernova/base.html' %}

{% load static %}

{% block content_wrapper %}
  <div class="col padded">
    <div class="pane">
      <div class="pane-title"><h2>Estudantes de {{ course }}</h2></div>
      <div class="pane-content">
        <table class="stylized grow">
          <thead>
          <tr>
            <th>Numero</th>
            <th>Nome</th>
            <th class="midhighres">Desde</th>
            <th class="midhighres">Até</th>
            <th class="midhighres">Ano</th>
            <th class="midhighres">ECTS</th>
          </tr>
          </thead>
          <tbody>
          {% for student in students %}
            <tr>
              <td><a href="{{ student.get_absolute_url }}">{{ student.number }}</a></td>
              <td>
                {% if student.user %}
                  <a href="{{ student.user.get_absolute_url }}">{{ student.name }}</a>
                {% else %}
                  {{ student.name }}
                {% endif %}
              </td>
              <td class="midhighres">{% if student.first_year %}{{ student.first_year|add:"-1" }}{% else %}?{% endif %}</td>
              <td class="midhighres">{% if student.last_year %}{{ student.last_year }}{% else %}?{% endif %}</td>
              <td class="midhighres">{% if student.year %}{{ student.year }}{% else %}?{% endif %}</td>
              <td class="midhighres">{% if student.ects %}{{ student.ects }}{% else %}?{% endif %}</td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
{% endblock %}
