{% extends 'supernova/base.html' %}
{% load static %}
{% block head %}
  <style>
    .flex-wrapper {
      display: flex;
      flex-wrap: wrap;
      align-items: baseline;
      justify-content: space-between;
    }

    .flex-wrapper > div {
      margin: 10px 20px 10px 20px;
    }

    tr:nth-of-type(odd) {
      background-color: #333;
    }
  </style>
{% endblock %}

{% block content_wrapper %}
  <div class="col main" style="padding: 10px">

    <h1>Alunos de {{ course }}</h1>
    {% if course.department %}
      <h3 style="margin-left: 20px">Departamento de
        <a href="{% url 'college:department' course.department.id %}">{{ course.department }}</a>
      </h3>
    {% endif %}
    <div class="flex-pane">
      <div class="pane-title bg-grad"><h2>Estudantes</h2></div>
      <div class="pane-content">
        <table>
          <tr>
            <th>Numero</th>
            <th>Nome</th>
            <th>Matriculas</th>
            <th>ECTS</th>
            <th>Perfil</th>
          </tr>
          {% for student in students %}
            <tr>
              <td>{{ student.number }}</td>
              <td>{{ student.user.get_full_name }}</td>
              <td>TODO</td>
              <td>TODO</td>
              <td><a href="{% url 'users:profile' student.user.nickname %}">Perfil</a></td>
            </tr>
          {% endfor %}
        </table>
      </div>
    </div>
    <div class="flex-pane">
      <div class="pane-title bg-grad"><h2>Estudantes não registados</h2></div>
      <div class="pane-content">
        <table>
          <tr>
            <th>Numero</th>
            <th>Nome</th>
            <th>Matriculas</th>
            <th>ECTS</th>
          </tr>
          {% for student in unregistered_students %}
            <tr>
              <td>{{ student.iid }}</td>
              <td>{{ student.name }}</td>
              <td>TODO</td>
              <td>TODO</td>
            </tr>
          {% endfor %}
        </table>
      </div>
    </div>
  </div>
{% endblock %}
