{% extends 'supernova/base.html' %}
{% load static %}

{% block content_wrapper %}
  <div class="col padded">
    <div class="flex-pane">
      <div class="pane-title bg-grad"><h2>Estudantes de {{ course }}</h2></div>
      <div class="pane-content">
        <table class="stylized">
          <tr>
            <th>Numero</th>
            <th>Nome</th>
            <th>Desde</th>
            <th>Até</th>
            <th>Matriculas</th>
            <th>ECTS</th>
          </tr>
          {% for student in students %}
            {% if student.user_id %}
              <tr>
                <td>{{ student.number }}</td>
                <td><a href="{% url 'users:profile' student.user.nickname %}">{{ student.user.get_full_name }}</a></td>
                <td>{{ student.first_year|add:"-1" }}</td>
                <td>{{ student.last_year }}</td>
                <td>TODO</td>
                <td>TODO</td>
              </tr>
            {% else %}
              <tr>
                <td>{{ student.number }}</td>
                <td>{{ student.clip_student.name }}</td>
                <td>{{ student.first_year|add:"-1" }}</td>
                <td>{{ student.last_year }}</td>
                <td>TODO</td>
                <td>TODO</td>
              </tr>
            {% endif %}
          {% endfor %}
        </table>
      </div>
    </div>
  </div>
{% endblock %}
