{% load misc %}

{% if level.type == 'block' %}
  <div class="block" onclick="showChildren(this)">
    <div style="display: flex; justify-content: space-between">
      {% with component=curriculum_components|dict_key:level.id %}
        <h4>{{ level.name }}</h4>
        <div class="attrs">
          {% if level.min_year %}
            <div>
              <small class="attr">Requisito</small>
              <span class="val">
                {{ level.min_year }}º ano
            </span>
            </div>
          {% endif %}
          {% if level.suggested_year %}
            <div>
              <small class="attr">Sugerido</small>
              <span class="val">
                {% if level.suggested_year %}
                  {{ level.suggested_year }}º ano
                  {% if level.suggested_period %}
                    {# FIXME, not nearly ideal #}
                    {% if component.suggested_period %}{{ component.get_suggested_period_display }}{% else %}?
                    {% endif %}
                  {% endif %}
                {% else %}
                  ---
                {% endif %}
              </span>
            </div>
          {% endif %}
          {% if level.min_credits or level.min_components %}
            <div>
              <small class="attr">Objectivos</small>
              <span class="val">
              {% if level.min_credits %}
                {{ level.min_credits }} <small>ECTS</small>
                {% if level.min_components %}
                  / {{ level.min_components }} <small>escolhas</small>
                {% endif %}
              {% else %}
                {{ level.min_components }} <small>escolhas</small>
              {% endif %}
            </span>
            </div>
          {% endif %}
        </div>
      {% endwith %}
    </div>
    <div class="indented" style="display: none;">
      {% for child in level.children %}
        {% with level=child variant=None %}
          {% include 'college/curriculum_level.html' %}
        {% endwith %}
      {% endfor %}
    </div>
  </div>
{% elif level.type == 'block_variant' %}
  {% with variant=curriculum_components|dict_key:level.id level=level.block %}
    {% include 'college/curriculum_level.html' %}
  {% endwith %}
{% elif level.type == 'class' %}
  <div class="class">
    {% with component=curriculum_components|dict_key:level.id  class=curriculum_classes|dict_key:level.class %}
      <h4>
        <a href="{{ class.get_absolute_url }}">{{ class.name }}</a>
        <sup class="midhighres">({{ class.iid }})</sup>
      </h4>
      <div class="attrs">
        {% if component.min_year %}
          <div>
            <small class="attr">Requisito</small>
            <span class="val">{{ component.min_year }}º ano</span>
          </div>
        {% endif %}
        {% if component.suggested_year and component.suggested_year != component.min_year or component.suggested_period %}
          <div>
            <small class="attr">Sugerido</small>
            <span class="val">
                {% if  component.suggested_year != component.min_year %}{{ component.suggested_year }}º ano{% endif %}
                {% if component.suggested_period %}{{ component.get_suggested_period_display }}{% endif %}
              </span>
          </div>
        {% endif %}
        <div>
          <small class="attr">ECTS</small>
          <span class="val">
              {% if class.ects %}
                {{ class.ects }}
              {% else %}
                ---
              {% endif %}
            </span>
        </div>
      </div>
    {% endwith %}
  </div>
{% endif %}