{% extends 'supernova/content_only_formatted.html' %}

{% load static %}
{% block head %}
{% endblock %}

{% block content %}
  <style>
    .flex-wrapper {
      display: flex;
      flex-wrap: wrap;
      align-items: baseline;
      justify-content: space-between;
    }
  </style>
  <h1>Departamento de {{ department.name }}</h1>
  <div class="flex-wrapper">
    <div style="flex-basis: 500px">
      <h2>Informação</h2>
      <div style="margin-left: 10px;">
        <h3>Localização:</h3>
        <a style="margin-left: 10px" href="{% url 'college:building' department.building.id %}">{{ department.building }}</a>
{#        <h3>Descrição:</h3>#}
{#        {{ department.description }}#}
      </div>
      <h2>Cursos</h2>
      <div style="margin-left: 10px">
        {% for degree in courses %}
          <h3 class="degree">{{ degree.0 }}</h3>
          <ul style="list-style: none; padding-left: 10px;">
            {% for course in degree.1 %}
              <li><a class="course" href="{% url 'college:course' course.id %}">{{ course }}</a></li>
            {% endfor %}
          </ul>
        {% endfor %}
      </div>
    </div>
    <div style="margin-right: 50px">
      <h2>Cadeiras</h2>
      <ul style="list-style: none; padding-left: 10px;">
        {% for class in classes %}
          <li>
            <a href="{% url 'college:class' class.id %}">{{ class.name }} ({{ class.abbreviation }})</a>
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>
{% endblock %}