{% extends 'supernova/base.html' %}

{% block content_wrapper %}
  <div class="header-decorator">
    <h1>Departamento de {{ department.name }}</h1>
  </div>
  <div class="col padded">
    <div class="pane">
      <div class="pane-title"><h2>Editar departamento</h2></div>
      <div class="pane-content">
        <form class="col" method="post" action="{% url 'college:department_edit' department.id %}">
          {% csrf_token %}
          <div class="form-block">
            <h3>Informação</h3>
            <div class="form-row">
              <div class="form-row-top">
                <h4>Descrição do departamento (Markdown)</h4>
              </div>
              <div>{{ form.description }}</div>
            </div>
            <div class="form-row">
              <div class="form-row-top">
                <h4>Imagem</h4>
              </div>
              <div>{{ form.picture }}</div>
            </div>
            <div class="form-row">
              <div class="form-row-top">
                <h4>Edifício</h4>
                {{ form.building }}
              </div>
              <div class="form-row-description">Edifício em que este departamento se encontra sediado.</div>
            </div>
            <div class="form-row">
              <div class="form-row-top">
                <h4>Página oficial</h4>
                {{ form.url }}
              </div>
              <div class="form-row-description">Página oficial deste departamento nos portais da universidade.</div>
            </div>
            <div class="form-row">
              <div class="form-row-top">
                <h4>Telefone</h4>
                {{ form.phone }}
              </div>
              <div class="form-row-description">
                O contacto telefónico oficial deste departamento, no formato [+351 número][,extensão].
              </div>
            </div>
            <div class="form-row">
              <div class="form-row-top">
                <h4>Email</h4>
                {{ form.email }}
              </div>
              <div class="form-row-description">
                O contacto de correio eletrónico oficial deste departamento.
              </div>
            </div>
            <div class="form-row">
              <div class="form-row-top">
                <h4>Presidente</h4>
                {{ form.president }}
              </div>
              <div class="form-row-description">
                O docente que atualmente preside o departamento.
              </div>
            </div>
          </div>
          {% include 'college/importable_edit.html' %}
          <input class="ui-btn end" type="submit" value="Gravar"/>
        </form>
      </div>
    </div>
  </div>
{% endblock %}