{% extends 'supernova/base.html' %}

{% block content_wrapper %}
  <div class="header-decorator">
    {% if perms.college.change_department %}
      <div class="header-decorator-options">
        <ul>
          <li><a href="{% url 'college:department_edit' department.id %}">Editar</a></li>
        </ul>
      </div>
    {% endif %}
    <h1>Departamento de {{ department.name }}</h1>
  </div>
  <div class="row padded nowrap">
    <div class="col">
      <div class="pane">
        <div class="pane-title">
          <h2>Cadeiras</h2>
        </div>
        <div class="pane-content">
          {% if classes|length == 0 %}
            <span>Sem unidades curriculares associadas.</span>
          {% endif %}
          <ul class="menu">
            {% for class in classes %}
              <li>
                <a href="{% url 'college:class' class.id %}">{{ class.name }} ({{ class.abbreviation }})</a>
                {% if class.iid %}<sup>{{ class.iid }}</sup>{% endif %}
              </li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
    <div class="col nogrow noshrink" style="flex-basis: 400px;">
      <div class="pane">
        <div class="pane-title">
          <h2>Informação</h2>
        </div>
        <div class="pane-content">
          <h3>Descrição</h3>
          <span class="indented">
            {% if department.description %}
              {{ department.description }}
            {% else %}
              Sem descrição.
            {% endif %}
          </span>
          {% if department.building %}
            <h3>Localização</h3>
            <a class="indented entity" href="{{ department.building.get_absolute_url }}">{{ department.building }}</a>
          {% endif %}
          {% if department.url %}git s
            <h3>Página oficial</h3>
            <a class="indented" href="{{ department.url }}">Link</a>
          {% endif %}
        </div>
      </div>
      <div class="pane">
        <div class="pane-title">
          <h2>Cursos</h2>
        </div>
        <div class="pane-content">
          {% for degree in courses %}
            <h3 class="degree">{{ degree.0 }}:</h3>
            <ul class="menu" style="margin-left: 5px">
              {% for course in degree.1 %}
                <li><a class="course" href="{% url 'college:course' course.id %}">{{ course }}</a></li>
              {% endfor %}
            </ul>
          {% endfor %}
        </div>
      </div>
      <div class="pane">
          <div class="pane-title">
            <h2>Professores</h2>
          </div>
          <div class="pane-content">
            {% if perms.users.student_access %}
              <ul class="menu">
                {% for teacher in teachers %}
                  <li><a href="{% url 'college:teacher' teacher.id %}">{{ teacher.name }}</a></li>
                {% endfor %}
              </ul>
            {% else %}
              A consulta de docentes está restrita a alunos e docentes.
            {% endif %}
          </div>
        </div>
    </div>
  </div>
{% endblock %}