{% extends 'supernova/base.html' %}

{% block content_wrapper %}
  <div class="header-decorator">
    <h1>Departamento de {{ department.name }}</h1>
  </div>
  <div class="row nowrap padded">
    <div class="col nogrow noshrink">
      <div class="flex-pane">
        <div class="pane-title bg-grad">
          <h2>Informação</h2>
        </div>
        <div class="pane-content">
          <h3>Descrição:</h3>
          <div style="margin-left: 5px">
            {% if department.description %}
              {{ department.description }}
            {% else %}
              Este departamento não tem uma descrição associada
            {% endif %}
          </div>
          <h3>Localização:</h3>
          <a style="margin-left: 5px"
             href="{% url 'college:building' department.building.id %}">{{ department.building }}</a>
        </div>
      </div>
      <div class="flex-pane">
        <div class="pane-title bg-grad">
          <h2>Cursos</h2>
        </div>
        <div class="pane-content">
          {% for degree in courses %}
            <h3 class="degree">{{ degree.0 }}:</h3>
            <ul class="menu" style="margin-left: 5px">
              {% for course in degree.1 %}
                <li><a class="course" href="{% url 'college:course' course.id %}">{{ course }}</a></li>
              {% endfor %}
            </ul>
          {% endfor %}
        </div>
      </div>
    </div>
    <div class="col noshrink">
      <div class="flex-pane">
        <div class="pane-title bg-grad">
          <h2>Cadeiras</h2>
        </div>
        <div class="pane-content">
          <ul class="menu">
            {% for class in classes %}
              <li>
                <a href="{% url 'college:class' class.id %}">{{ class.name }} ({{ class.abbreviation }})</a>
                {% if class.iid %}<sup>{{ class.iid }}</sup>{% endif %}
              </li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="flex-pane">
        <div class="pane-title bg-grad">
          <h2>Professores</h2>
        </div>
        <div class="pane-content">
          {% if perms.users.full_student_access %}
            <ul class="menu">
              {% for teacher in teachers %}
                <li><a href="{% url 'college:teacher' teacher.id %}">{{ teacher.name }}</a></li>
              {% endfor %}
            </ul>
          {% else %}
            A consulta de docentes está restrita a alunos e docentes.
          {% endif %}
        </div>
      </div>
    </div>
  </div>
{% endblock %}