{% extends 'supernova/content_only_formatted.html' %}

{% load static %}

{% block title %}<h2>Departamentos</h2>{% endblock %}
{% block content %}
  <div class="flex-wrapper">
    {% for department in departments %}
      <a href="{% url 'college:department' department.id %}">
        {% if department.picture %}
          <div class="flex-grid-item" style="background-image: url({{ department.picture_thumbnail.url }})">
            <div class="flex-grid-item-top">
              <span>{{ department.name }}</span>
            </div>
          </div>
        {% else %}
          <div class="flex-grid-item">
            <div class="flex-grid-item-top">
              <span>{{ department.name }}</span>
            </div>
          </div>
        {% endif %}
      </a>
    {% endfor %}
  </div>
{% endblock %}