{% extends 'supernova/base.html' %}

{% load static %}

{% block content_wrapper %}
  <div class="col padded">
    <div class="pane">
      <div class="pane-title"></div>
      <div class="pane-content col">
        <div class="preview"></div>
        <div style="align-self: end">
{#          {% if file.can_preview %}<a class="ui-btn" href="{% url 'college:class_instance_file_download' class_file.class_instance.id file.hash %}">Prever</a>{% endif %}#}
{#          <a class="ui-btn" href="{% url 'college:class_instance_file_download' class_file.class_instance.id file.hash %}">Download</a>#}
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="pane">
          <div class="pane-title"><h2>Nomes conhecidos</h2></div>
          <div class="pane-content">
            {% if class_files|length == 0 %}
              <span class="indented">Ficheiro sem nomes conhecidos.</span>
            {% else %}
              <ul class="entity-list">
                {% for class_file in class_files %}
                  <li><a href="{{ class_file.get_absolute_url }}">{{ class_file.name }}</a></li>
                {% endfor %}
              </ul>
            {% endif %}
          </div>
        </div>
        <div class="pane">
          <div class="pane-title"><h2>Unidades curriculares</h2></div>
          <div class="pane-content">
            {% if class_files|length == 0 %}
              <span class="indented">Ficheiro sem unidades curriculares.</span>
            {% else %}
              <ul class="entity-list">
                {% for class_file in class_files %}
                  <li><a href="{{ class_file.class_instance.get_absolute_url }}">{{ class_file.class_instance.full_str }}</a></li>
                {% endfor %}
              </ul>
            {% endif %}
          </div>
        </div>
      </div>
      {% include 'college/file_meta.html' %}
    </div>

  </div>
{% endblock %}