{% spaceless %}
  <table class="schedule">
  <tr>
    <th>Hora</th>
    <th colspan="{{ weekday_spans.0 }}">Segunda-feira</th>
    <th colspan="{{ weekday_spans.1 }}">Terça-feira</th>
    <th colspan="{{ weekday_spans.2 }}">Quarta-feira</th>
    <th colspan="{{ weekday_spans.3 }}">Quinta-feira</th>
    <th colspan="{{ weekday_spans.4 }}">Sexta-feira</th>
  </tr>
  {% for row in schedule %}
    <tr>
      <td>{{ row.0|safe }}</td>
      {% for element in row.1 %}
        {% if element %}
          <td class="shift-container shift-{{ element.shift.shift.type_abbreviation|lower }}" rowspan="{{ element.rowspan }}">
            <div class="shift-info">
              <a href="{% url 'college:class_instance' element.shift.shift.class_instance.id %}">
                {{ element.shift.shift.class_instance.parent.abbreviation }}
              </a>
              <span>{{ element.shift.shift.type_abbreviation }}{{ element.shift.shift.number }}</span>
              {% if element.shift.room %}
                <a href="{% url 'college:room' element.shift.room.id %}">
                  {{ element.shift.room.short_str }}</a>
              {% endif %}
            </div>
          </td>
        {% else %}
          <td></td>
        {% endif %}
      {% endfor %}
    </tr>
  {% endfor %}
</table>
{% endspaceless %}