{% extends 'supernova/content_only.html' %}
{% load static %}
{% block head %}
    <style>
        .flex-wrapper {
            display: flex;
            flex-wrap: wrap;
            align-items: baseline;
        }

        .flex-wrapper > div {
            margin: 10px 20px 10px 20px;
            flex-basis: 475px;
        }

        .flex-wrapper .svg-inline--fa {
            font-size: 2em;
        }
    </style>
{% endblock %}

{% block content %}
    <h1>{% if service.bar %}<i class="fas fa-utensils"></i>{% else %}
        <i class="fas fa-shopping-bag"></i>{% endif %} {{ service.name }}</h1>
    <h2 style="margin-left: 10px"><i class="fas fa-map-marker"></i> {{ building.name }}</h2>
    <div class="flex-wrapper">
        <div><h2>Localização</h2><br><img src="#" width="450px" height="400px"></div>
        {% if service.bar %}
            <div>
                <h2>Ementa:</h2>
                <table>
                    {% for menu_item in menu %}
                        <tr>
                            <td>{{ menu_item.0 }}</td>
                            {% if menu_item.1 %}
                                <td>{{ menu_item.1 }}€</td>
                            {% else %}
                                <td>Tabelado</td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                </table>
            </div>
            <div>
                <h2>Preçário:</h2>
                <table>
                    <tr style="text-align: left">
                        <th>Produto:</th>
                        <th>Preço:</th>
                    </tr>
                    {% for product in service.bar.barprice_set.all %}
                        <tr>
                            <td>{{ product.item }}</td>
                            <td>{{ product.price_str }}€</td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        {% endif %}
        <div>
            {% if service.opening %}
                <h2>Funcionamento:</h2>
                {% if service.bar %}
                    {{ service.opening }} - {{ service.closing }}
                    Hora de almoço: {{ service.lunch_start }} - {{ service.closing }}
                {% else %}
                    {{ service.opening }} -
                    {% if service.lunch_start %}
                        {{ service.lunch_start }}<br>
                        {{ service.lunch_end }} - {{ service.closing }}
                    {% else %}
                        {{ service.closing }}
                    {% endif %}
                {% endif %}
            {% endif %}
        </div>
    </div>
{% endblock %}
