{% extends 'supernova/base.html' %}

{% load static %}

{% block head %}
  <script src="{% static 'js/lib/fullcalendar/main.min.js' %}"></script>
  <script src="{% static 'js/lib/fullcalendar/locales/pt-br.js' %}"></script>
  <link rel="stylesheet" type="text/css" href="{% static 'js/lib/fullcalendar/main.min.css' %}"/>
  <script src="{% static 'js/calendar.js' %}"></script>
{% endblock %}

{% block content_wrapper %}
  <div class="header-decorator">
    <img class="highres avatar" src="{% static 'img/user.svg' %}">
    <div>
      <h1>{{ student.name }}</h1>
      <h3>{{ student.abbreviation }}, {{ student.number }}{% if student.course %}<a href="{{ student.course.get_absolute_url }}">, {{ student.course.abbreviation }}</a>{% endif %}</h3>
    </div>
  </div>
  <div class="row padded nowrap">
    <div class="col" style="flex-basis: 500px">
      <div class="pane">
        <div class="pane-title"><h2>Horário</h2></div>
        <div class="pane-content">
          {% if permissions.enrollments_visibility %}
            <div id="schedule"></div>
            <script>loadSchedule("{{ profile_user.nickname }}", true)</script>
          {% else %}
            <p>Este estudante tem o seu horário privado.</p>
          {% endif %}
        </div>
      </div>
      {% if permissions.enrollments_visibility %}
        <div class="row">
          <div class="pane grow">
            <div class="pane-title"><h2>Inscrições atuais</h2></div>
            <div class="pane-content">
              <ul class="entity-list">
                {% for instance in current_class_instances %}
                  <li class="entity">
                    <a href="{{ instance.get_absolute_url }}">{{ instance.parent.name }}</a>
                    ({{ instance.occasion }})
                  </li>
                {% endfor %}
              </ul>
            </div>
          </div>
          <div class="pane grow">
            <div class="pane-title"><h2>Inscrições prévias</h2></div>
            <div class="pane-content">
              <ul class="entity-list">
                {% for class in past_classes %}
                  <li class="entity"><a href="{{ class.get_absolute_url }}">{{ class.name }}</a></li>
                {% endfor %}
              </ul>
            </div>
          </div>
        </div>
      {% else %}
        <div class="pane">
          <div class="pane-title"><h2>Unidades Curriculares</h2></div>
          <div class="pane-content"><p>Este utilizador optou por ocultar o percurso académico.</p></div>
        </div>
      {% endif %}
    </div>
    <div class="col nogrow noshrink" style="flex-basis: 350px;">
      <div class="pane">
        <div class="pane-title"><h2>Informação</h2></div>
        <div class="pane-content">
          <h3>Abreviação</h3>
          <span class="indented">{{ student.abbreviation }}</span>
          <h3>Número</h3>
          <span class="indented">{{ student.number }}</span>
          {% if student.course %}
            <h3>Curso</h3>
            <a class="indented" href="{{ student.course.get_absolute_url }}">{{ student.course.abbreviation }}</a>
          {% endif %}
          {% if permissions.info_visibility %}
            <h3>Ano</h3>
            <span class="indented">{{ student.year }}º ano</span>
            <h3>Média</h3>
            <span class="indented">{{ student.avg_grade|floatformat }} valores em {{ student.ects }} ECTS.</span>
            {% if student.first_year %}
              <h3>Actividade</h3>
              <span class="indented">{{ student.first_year|add:"-1" }} - {{ student.last_year }}</span>
            {% endif %}
          {% else %}
            <hr>
            <span class="indented">Informações suprimidas devido ás definições de privacidade do utilizador.</span>
            <hr>
          {% endif %}
          {% if student.user %}
            <h3><a href="{{ student.user.get_absolute_url }}">Perfil</a></h3>
          {% else %}
            <h3>Perfil</h3>
            <span class="indented">Este estudante não tem conta.</span>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
{% endblock %}