{% extends 'supernova/content_only_formatted.html' %}

{% block content %}
  <style>
    .flex-wrapper {
      display: flex;
      flex-wrap: wrap;
      align-items: baseline;
      justify-content: space-between;
    }
  </style>
  <h1>Professor {{ teacher.name }}</h1>
  <div class="flex-wrapper">
    <div>
      ???
    </div>
    <div>
      <h2>Departamentos</h2>
      <ul>
        {% for department in teacher.departments.all %}
          <li><a href="{% url 'college:department' department.id %}">{{ department }}</a></li>
        {% endfor %}
      </ul>
    </div>
    <div style="margin-right: 50px">
      <h2>Cadeiras</h2>
      <ul style="list-style: none; padding-left: 10px;">
        {% for instance in class_instances %}
          <li>
            <a href="{% url 'college:class_instance' instance.id %}">{{ instance.parent.name }}({{ instance.occasion }})</a>
          </li>
        {% endfor %}
      </ul>
    </div>

    <div>
      <h2>Horario<sup style="color: red">*</sup></h2>
      <div style="overflow-x: auto;">
        {% include 'college/schedule.html' %}
      </div>
      <b style="color: red"><sup>*</sup> O horário baseia-se nos turnos atribuídos.<br>
        Pode não coincidir (e provavelmente não coincide) com a presença ou disponibilidade do professor.</b>
    </div>
  </div>
{% endblock %}