{% extends 'supernova/base.html' %}

{% load static %}

{% block head %}
  <script src="https://cdn.jsdelivr.net/npm/svg-pan-zoom@3.5.3/dist/svg-pan-zoom.min.js"></script>
  <link rel="stylesheet" type="text/css" href="{% static 'college/map/map.css' %}"/>
  <script src="{% static 'college/map/map.js' %}"></script>
{% endblock %}

{% block content_wrapper %}
  <div class="row" style="flex-grow: 1">
    <div class="col" style="min-width: 300px">
      <object class="map" type="image/svg+xml" data="{% static 'college/map/transportation.minimal.svg' %}"
              onload="initTransportationMap(this)">
        O teu navegador não suporta SVG!
      </object>
    </div>
    <div class="col small nogrow">
      <ul class="caption">
        <li><span class="MTS"></span>MTS</li>
        <li><span class="FER"></span>Fertagus</li>
        <li><span class="TST"></span>TST</li>
        <li><span class="TT"></span>Transtejo / Soflusa</li>
        <li><span class="ML"></span>ML</li>
        <li><span class="SFT"></span>SulFertagus</li>
        <li><span class="CP"></span>CP</li>
        <li><span class="TCB"></span>TCB</li>
      </ul>
    </div>
  </div>
{% endblock %}