{% extends 'supernova/content_navigation.html' %}

{% load static %}

{% block content %}
    <h1>Eventos</h1>
    <div>
        <h2>Novos eventos</h2>
        {% for event in events %}
            {% if event.workshopevent %}
                <div>
                    <h3><span>Workshop</span> <a
                            href="{% url 'event' event.id %}">{{ event.workshopevent.workshop.name }}</a></h3>
                    <span>{{ event.interval }}</span>
                </div>
            {% endif %}
            {% if event.partyevent %}
                <div>
                    <h3><span>Festa</span> <a href="{% url 'event' event.id %}">{{ event.partyevent.party.name }}</a>
                    </h3>
                    <span>{{ event.interval }}</span>
                </div>
            {% endif %}
        {% endfor %}
    </div>
    <div>
        <h2>Próximos workshops</h2>
        {% for event in next_workshops %}
            <div>
                <h3><a href="{% url 'event' event.id %}">{{ event.workshopevent.workshop.name }}</a></h3>
                <span>{{ event.interval }}</span>
            </div>
        {% endfor %}
    </div>
    <div>
        <h2>Próximas festas</h2>
        {% for event in next_parties %}
            <div>
                <h3><a href="{% url 'event' event.id %}">{{ event.partyevent.workshop.name }}</a></h3>
                <span>{{ event.interval }}</span>
            </div>
        {% endfor %}
    </div>
{% endblock %}

{% block navigation %}
    <a class="menu-entry selected">Todas</a>
    <br><br>
    <span style="font-weight: bold; font-size: 1.2em;">Filtro:</span>
    <a class="menu-entry" href="#">Workshops</a>
    <a class="menu-entry" href="#">Festas</a>
{% endblock %}