{% load static %}
{% load analytical %}
{% load pwa %}

<!DOCTYPE html>
<html lang="pt">
<head>
  {% analytical_head_top %}
  <meta charset="UTF-8">
  <title>Supernova - {{ title }}</title>
  <script src="{% static 'js/lib/jquery.min.js' %}"></script>
  <script src="{% static 'js/lib/js.cookie.min.js' %}"></script>
  {% if request.user.is_anonymous %}
    {{ -1 |json_script:"uid" }}
  {% else %}
    {{ request.user.id |json_script:"uid" }}
    <script src="{% static 'js/lib/popper.min.js' %}"></script>
  {% endif %}
  <meta name="description" content="De universitários para universitários.">
  <meta name="keywords" content="FCT, UNL, NOVA, Lisboa, Universidade, Superior, Portal">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta property="og:title" content="Supernova | De universitários para universitários.">
  <meta property="og:description" content="{{ title }}">
  <meta property="og:image" content="https://{{ request.META.HTTP_HOST }}{% static 'img/banner.webp' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}"/>
  <script src="{% static 'js/script.js' %}"></script>
  {% progressive_web_app_meta %}
  {% block head %}
  {% endblock %}
  {% analytical_head_bottom %}
</head>
<body>
{% analytical_body_top %}
<script>loadTheme(false);</script>
<div id="layout">
  <nav id="header">
    <a id="hamburger" class="lowres action" href="javascript: toggleMenu()"></a>
    <a id="logo" href="/">
      <img class="dark-only" src="{% static 'img/logo.svg' %}">
      <img class="light-only" src="{% static 'img/logo-alt.svg' %}">
      <span id="slogan">{{ catchphrase }}</span>
    </a>
    <div id="actions">
      <a id="search" class="action" href="javascript:showSearch();"></a>
      <a id="theme" class="action" href="javascript:showThemePicker();"></a>
      {% if not request.user.is_anonymous %}
        <a id="notifications" href="{% url 'users:notifications' %}">
            <span id="notification-bg" class="action"></span>
            <span id="notification-count"></span>
            <div id="notification-list" class="popover" role="tooltip"></div>
        </a>
{#        <div id="notifications">#}
{#          <a id="notification-btn" class="action" href="{% url 'users:notifications' %}">#}
{#            <span id="notification-count"></span>#}
{#          </a>#}
{#          <div id="notification-list" class="popover" role="tooltip"></div>#}
{#        </div>#}
      {% endif %}
    </div>
    <div class="user midhighres">
      {% if user.is_authenticated %}
        {% if user.picture %}
          <span class="pic" style="background-image: url('{{ user.picture_thumbnail.url }}')"></span>
        {% else %}
          <span class="pic"></span>
        {% endif %}
        <a class="name" href="{% url 'users:profile' user.nickname %}">
          {{ user.nickname }}
        </a>
        <a class="logout" href="{% url 'logout' %}?next={{ request.get_full_path }}">
          <img src="{% static 'img/icons/logout.svg' %}">
        </a>
      {% else %}
        <span class="pic"></span>
        <a class="name">Não autenticado</a>
        <a class="login" href="{% url 'login' %}?next={{ request.get_full_path }}">
          <img src="{% static 'img/icons/login.svg' %}">
        </a>
      {% endif %}
    </div>
  </nav>
  <nav id="nav-column">
    {% include 'supernova/menu.html' %}
  </nav>
  <div id="content-column">
    {% if sub_nav is not None %}
      <nav id="breadcrumbs">
        {% for element in sub_nav %}
          <a href="{{ element.url }}">{{ element.name }}</a>
        {% endfor %}
      </nav>
    {% endif %}
    {% block content_wrapper %}
    {% endblock %}
  </div>
</div>
<script async src="{% static 'js/init.js' %}"></script>
{% analytical_body_bottom %}
</body>
</html>