{% load static %}
{% load analytical %}
<!DOCTYPE html>
<html lang="pt">
<head>
  {% analytical_head_top %}
  <meta charset="UTF-8">
  <title>Supernova - {{ title }}</title>
  <link rel="icon" href="{% static 'supernova/images/favicon.png' %}" type="image/x-icon"/>
  <script src="https://cdn.jsdelivr.net/npm/particles.js@2.0.0/particles.min.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}"/>
  <script src="{% static 'js/script.js' %}"></script>
  {% block head %}
  {% endblock %}
  {% analytical_head_bottom %}
</head>
<body>
{% analytical_body_top %}
<nav id="top-wrapper" class="bg-grad">
  <div id="top-main">
    <div id="top-main-left">
      <a id="hamburger" class="lowres" href="javascript: toggleMenu()">
        <img alt="menu" src="{% static 'img/icons/menu.svg' %}">
      </a>
      <a id="logo" href="/">
        <img class="dark-only" src="{% static 'img/logo.svg' %}">
        <img class="light-only" src="{% static 'img/logo-alt.svg' %}">
      </a>
      <div id="slogan-pos" class="highres">
        <span id="slogan">{{ catchphrase }}</span>
      </div>
    </div>
    <div id="top-main-right">
      <div id="search">
        <input type="checkbox" id="search-toggler">
        <label for="search-toggler"></label>
        <input type="search" class="search-bar">
        <input type="submit" value="">
      </div>
      <div class="user midhighres">
        {% if user.is_authenticated %}
          <a class="name" href="{% url 'users:profile' user.nickname %}">
            {% if user.picture %}
              <span class="pic" style="background-image: url('{% get_media_prefix %}{{ user.picture }}')"></span>
            {% else %}
              <span class="pic"></span>
            {% endif %}
            {{ user.nickname }}
          </a>
          <a class="logout" href="{% url 'logout' %}?next={{ request.get_full_path }}">
            <img src="{% static 'img/icons/logout.svg' %}">
          </a>
        {% else %}
          <a class="name">Não autenticado</a>
          <a class="login" href="{% url 'login' %}?next={{ request.get_full_path }}">
            <img src="{% static 'img/icons/login.svg' %}">
          </a>
        {% endif %}
      </div>
    </div>
  </div>
</nav>
<div id="main-wrapper">
  <nav id="nav-column" class="bg-grad">
    {% include 'supernova/menu.html' %}
  </nav>
  <div id="content-column">
    {% if sub_nav is not None %}
      <nav id="breadcrumbs">
        {% for element in sub_nav %}
          <a href="{{ element.url }}">{{ element.name }}</a>
        {% endfor %}
      </nav>
    {% endif %}
    {% block content_wrapper %}
    {% endblock %}
  </div>
</div>
<div id="overlay"></div>
<script async src="{% static 'js/init.js' %}"></script>
{% analytical_body_bottom %}
</body>
</html>