{% load static %}
{% load analytical %}
<!DOCTYPE html>
<html lang="pt">
<head>
  <meta charset="UTF-8">
  <title>Supernova - {{ title }}</title>
  <link rel="icon" href="{% static 'supernova/images/favicon.png' %}" type="image/x-icon"/>
  <link
      href="https://fonts.googleapis.com/css?family=Lato|Merriweather|Open+Sans&display=swap"
      rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/particles.js@2.0.0/particles.min.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" type="text/css" href="{% static 'supernova/layout.css' %}"/>
  <link rel="stylesheet" type="text/css" href="{% static 'supernova/ui.css' %}"/>
  <link rel="stylesheet" type="text/css" href="{% static 'supernova/overrides.css' %}"/>
  <script src="{% static 'supernova/script.js' %}"></script>
  {% block head %}
  {% endblock %}
</head>
<body>
<nav id="top-wrapper" class="bg-grad">
  <a id="logo" href="/">
    <img src="{% static 'supernova/images/logo.svg' %}">
  </a>
  <div>
    <span class="slogan">{{ catchphrase }}</span>
    <div class="right">
      <div style="display: flex; align-items: center;">
        <div id="search">
          <input type="checkbox" id="search-toggler">
          <label for="search-toggler"></label>
          <input type="search" class="search-bar">
          <input type="submit" value="">
        </div>
        {% if user.is_authenticated %}
          <div id="user" style="">
            <a class="name" href="{% url 'profile' user.nickname %}">
              {% if user.picture %}
                <span class="pic"
                      style="background-image: url('{% get_media_prefix %}{{ user.picture }}')"></span>
              {% else %}
                <span class="pic"></span>
              {% endif %}
              {{ user.nickname }}
            </a>
          </div>
          </div>
          <a class="logout" href="{% url 'logout' %}?next={{ request.get_full_path }}">
            <img src="{% static 'supernova/logout.svg' %}">
          </a>
        {% else %}
          <div id="user" style="">
            <a class="name">Não autenticado</a>
          </div>
          </div>
          <a class="login" href="{% url 'login' %}?next={{ request.get_full_path }}">
            <img src="{% static 'supernova/login.svg' %}">
          </a>
        {% endif %}
  </div>
</nav>
<div id="main-wrapper">
  <nav id="nav-wrapper" class="bg-grad">
    {% include 'supernova/menu.html' %}
  </nav>
  <div style="display: flex; flex-direction: column; flex-grow: 1">
    {% if sub_nav is not None %}
      <nav id="breadcrumbs">
        {% for element in sub_nav %}
          <a href="{{ element.url }}">{{ element.name }}</a>
        {% endfor %}
      </nav>
    {% endif %}
    <div id="content-wrapper">
      {% block content_wrapper %}
      {% endblock %}
    </div>
  </div>
</div>
{#<div id="overlay">#}
{#  <div id="overlay-prompt">#}
{#    <a id="overlay-close-button" href="javascript:overlayClose();">X</a>#}
{#    {% if login_form is not None %}#}
{#      <h2>Autenticação</h2>#}
{#      <form method="post" action="{% url 'login' %}?next={{ request.get_full_path }}">#}
{#        {% csrf_token %}#}
{#        {{ login_form.username.label }} {{ login_form.username.errors }}<br>#}
{#        {{ login_form.username }}<br><br>#}
{#        {{ login_form.password.label }} {{ login_form.password.errors }}<br>#}
{#        {{ login_form.password }}#}
{#        <input type="submit" value="Entrar"><br><br>#}
{#      </form>#}
{#    {% endif %}#}
{#    <a href="{% url 'registration' %}">Criar</a>#}
{#  </div>#}
{#</div>#}
</body>
</html>