{% extends 'supernova/base.html' %}

{% load static %}

{% block content_wrapper %}
  <div class="col padded">
    <div class="flex-pane">
      <div class="pane-title bg-grad"><h2>Últimas alterações</h2></div>
      <div class="pane-content news-list">
        {% for entry in changelog %}
          <h2>{{ entry.title }}</h2>
          <div class="news-list-item">
            <div>
              <span>{{ entry.content_html|safe }}</span>
              <span>{{ entry.date }}</span>
            </div>
          </div>
          {% if not forloop.last %}<hr>{% endif %}
        {% endfor %}
      </div>
    </div>
  </div>
{% endblock %}