{% extends 'supernova/two_columns.html' %}
{% load static %}

{% block content_wrapper %}
  <div id="particles"></div>
  <div class="row padded nowrap">
    <div class="col">
      <div class="flex-pane">
        <div class="pane-title bg-grad">
          <h2>Notícias</h2>
        </div>
        <div class="pane-content news">
          {% for news_item in news %}
            <div class="news-list-item">
              <img src="{% get_media_prefix %}{{ news_item.cover_img }}" alt="{{ news_item.title }}">
              <div>
                <h3><a href="{% url 'news_item' news_item.id %}">{{ news_item.title }}</a></h3>
                {% if news_item.author %}
                  <span>Por <a href="{% url 'profile' news_item.author.nickname %}"> {{ news_item.author.nickname }}</a>,
                    {{ news_item.datetime }}</span>
                {% else %}
                  <span><a href="{{ news_item.source }}">Fonte</a>, {{ news_item.datetime.date }}</span>
                {% endif %}
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
      <div class="row">
        <div class="flex-pane grow small">
          <div class="pane-title bg-grad">
            <h2>Atividade</h2>
          </div>
          <div class="pane-content">
            <img src="{% static 'construction.png' %}" width="300px">
          </div>
        </div>
        <div class="flex-pane grow small">
          <div class="pane-title bg-grad"><h2>Alterações</h2></div>
          <div class="pane-content">
            <img src="{% static 'construction.png' %}" width="300px">
          </div>
        </div>
        <div class="flex-pane grow small">
          <div class="pane-title bg-grad">
            <h2>Salas <b>possívelmente</b> vazias</h2>
          </div>
          <div class="pane-content">
            <img src="{% static 'construction.png' %}" width="300px">
          </div>
        </div>
        <div class="flex-pane grow small">
          <div class="pane-title bg-grad"><h2>Eventos</h2></div>
          <div class="pane-content">
            <img src="{% static 'construction.png' %}" width="300px">
          </div>
        </div>
      </div>
    </div>
    <div class="col medium">
      <div class="flex-pane">
        <div class="pane-title bg-grad">
          <h2>Transportes</h2>
        </div>
        <div class="pane-content">
          {% for departure in departures %}
            {% if departure.name == '3' %}
              <div class="pt-line metro">
                <span class="number">{{departure.name}}</span>
                <span class="time">{{departure.time}}</span>
                <span class="direction">{{departure.destination}}</span>
              </div>
            {% else %}
              <div class="pt-line bus">
                <span class="number">{{departure.name}}</span>
                <span class="time">{{departure.time}}</span>
                <span class="direction">{{departure.destination}}</span>
              </div>
            {% endif %}
          {% endfor %}
        </div>
      </div>
      <div class="flex-pane">
        <div class="pane-title bg-grad">
          <h2>Cantina</h2>
        </div>
        <div class="pane-content meals">
          <span>{{ meal_name }} a {{ meal_date }}:</span>
          {% for item in meal_items %}
            <div>
              {% if item.0 == 0 %}
                <img src="{% static 'services/soup.svg' %}">
              {% elif item.0 == 1 %}
                <img src="{% static 'services/meat.svg' %}">
              {% elif item.0 == 2 %}
                <img src="{% static 'services/fish.svg' %}">
              {% elif item.0 == 3 %}
                <img src="{% static 'services/veg.svg' %}">
              {% else %}
                <img src="{% static 'supernova/images/unknown.svg' %}">
              {% endif %}
              {{ item.1 }}
            </div>
          {% endfor %}
          <span style="float: right; font-size: 10px">Dados cedidos por <a href="https://sas.unl.pt/alimentacao/cantina-da-faculdade-de-ciencias-e-tecnologia-fct/">SAS NOVA</a></span>
        </div>
      </div>
      <div class="flex-pane">
        <div class="pane-title bg-grad">
          <h2>Meteorologia</h2>
        </div>
        <div class="pane-content" id="weather" style="height: 100%; overflow: hidden">
          <svg id="chart" width="320" height="180"></svg>
          <span style="float: right; font-size: 10px">Dados cedidos por <a href="https://www.ipma.pt/pt/index.html">IPMA</a></span>
        </div>
      </div>
      <div class="flex-pane">
        <div class="pane-title bg-grad">
          <h2>BOINC (<a href="https://www.boincstats.com/stats/-1/team/detail/2068385380/overview">NOVA Lisboa</a>)</h2>
        </div>
        <div class="pane-content boinc">
          <table>
            <thead>
            <tr>
              <td></td>
              <th>Utilizador</th>
              <th>Última semana</th>
            </tr>
            </thead>
            {% for user in boinc_users %}
              <tr>
                {% if forloop.counter == 1 %}
                  <td><img src="{% static 'score/first.svg' %}"></td>
                {% elif forloop.counter == 2 %}
                  <td><img src="{% static 'score/second.svg' %}"></td>
                {% elif forloop.counter == 3 %}
                  <td><img src="{% static 'score/third.svg' %}"></td>
                {% else %}
                  <td></td>
                {% endif %}
                <td>{{ user.name }}</td>
                <td>{{ user.weekly }}</td>
              </tr>
            {% endfor %}
            <thead>
            <tr>
              <td></td>
              <th>Projeto</th>
              <th>Última semana</th>
            </tr>
            {% for project in boinc_projects %}
              <tr>
                <td></td>
                <td>{{ project.name }}</td>
                <td>{{ project.weekly }}</td>
              </tr>
            {% endfor %}
            </thead>
          </table>
        </div>
      </div>
      <div class="flex-pane">
        <div class="pane-title bg-grad">
          <h2>Fala connosco</h2>
        </div>
        <div class="pane-content" style="display: flex; justify-content: space-between; filter: grayscale(50%);">
          <a href="https://riot.im/app/#/group/+novasupernova:matrix.org">
            <img src="{% static 'supernova/images/third-party/riot.svg' %}" alt="" width="64px" height="64px">
          </a>
          <a href="https://t.me/novasupernova">
            <img src="{% static 'supernova/images/third-party/telegram.svg' %}" alt="telegram" width="64px" height="64px">
          </a>
          <a href="https://discord.gg/cSu8uEG">
            <img src="{% static 'supernova/images/third-party/discord.svg' %}" alt="discord" width="64px" height="64px">
          </a>
          <a href="https://gitlab.com/claudiop/Supernova/issues">
            <img src="{% static 'supernova/images/third-party/gitlab.svg' %}" alt="gitlab" width="64px" height="64px">
          </a>
        </div>
      </div>
    </div>
  </div>

  <script>
      particlesJS.load('particles', "{% static 'supernova/particles.json' %}");
  </script>
  <script src="https://cdn.jsdelivr.net/npm/d3@5.14.2/dist/d3.min.js"
          integrity="sha256-M2M+sgC2bZ4r73FO1LV5JmHiS5COwEb2Uqw7EbsHmBY="
          crossorigin="anonymous"></script>
  <script src="{% static "services/weather.js" %}"></script>
{% endblock %}
