{% extends 'kleep/content_only_formatted.html' %}
{% load static %}
{% block head %}
  <link rel="stylesheet" type="text/css" href="{% static 'kleep/index.css' %}"/>
  <link rel="stylesheet" type="text/css" href="{% static 'news/news.css' %}"/>
{% endblock %}

{% block content %}
  <div class="high-res-only">
    <h1 style="margin-bottom: 5px;">Bem vindo ao Kleep</h1>
    <span>{{ catchphrase }}</span>
  </div>
  <div class="flex-wrapper" style="margin-top: 10px; flex-direction: row">
    <div class="flex-wrapper vertical">
      <a href="{% url 'news_index' %}"><h2>Últimas notícias</h2></a>
      <div class="news-list">
        {% for news_item in news %}
          <div class="news-list-item">
            <div class="news-list-item-image" style="background-image: url('{{ news_item.cover_img }}')"></div>
            <div>
              <a href="{% url 'news_item' news_item.id %}"><h3>{{ news_item.title }}</h3></a>
              {% if news_item.author %}
                <p>Por <a href="{% url 'profile' news_item.author.nickname %}"> {{ news_item.author.nickname }}</a>,
                  {{ news_item.datetime }}</p>
              {% else %}
                <p><a href="{{ news_item.source }}">Fonte</a>, {{ news_item.datetime.date }}</p>
              {% endif %}
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
    <div class="flex-wrapper vertical">
      <h2>Próximos eventos</h2>
      <h3>Competição de plágio</h3>
      <p>5 Março 2018, 16:00, Edifício VII, Auditorio 1C</p>
      <h3>Workshop de bio-electro-mecano-informática para engenheiros civis</h3>
      <p>6 Março 2018, 14:00, Edifício IX, Sala 123</p>
      <h3>Formação em ocultação de telemóveis aplicada a aulas de Física</h3>
      <p>5 Março 2018, 11:00, Edifício I, maioritariamente na rua!</p>
    </div>
  </div>
{% endblock %}
