{% extends 'supernova/content_only_formatted.html' %}
{% load static %}
{% block head %}
  <link rel="stylesheet" type="text/css" href="{% static 'supernova/index.css' %}"/>
  <link rel="stylesheet" type="text/css" href="{% static 'news/news.css' %}"/>
  <style>
    .meals td {
      text-align: center;
    }

    .meals td:nth-child(2) {
      text-align: left;
    }

    .meals tr:nth-child(odd) {
      background-color: #eee;
    }

    .meals thead {
      font-weight: bold;
      background-color: #ddd;
      line-height: 120%;
    }
  </style>
{% endblock %}

{% block content %}
  <div class="high-res-only">
    <h1 style="margin-bottom: 5px;">Bem vindo ao Supernova</h1>
    <span>{{ catchphrase }}</span>
  </div>
  <div class="flex-wrapper" style="margin-top: 10px; flex-direction: row">
    <div class="flex-wrapper vertical">
      <a href="{% url 'news_index' %}"><h2>Últimas notícias</h2></a>
      <div class="news-list">
        {% for news_item in news %}
          <div class="news-list-item">
            <div class="news-list-item-image" style="background-image: url('{{ news_item.cover_img }}')"></div>
            <div>
              <a href="{% url 'news_item' news_item.id %}"><h3>{{ news_item.title }}</h3></a>
              {% if news_item.author %}
                <p>Por <a href="{% url 'profile' news_item.author.nickname %}"> {{ news_item.author.nickname }}</a>,
                  {{ news_item.datetime }}</p>
              {% else %}
                <p><a href="{{ news_item.source }}">Fonte</a>, {{ news_item.datetime.date }}</p>
              {% endif %}
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
    <div class="flex-wrapper vertical">
      <h2>O que é o Supernova</h2>
      <p>O Supernova (ex Kleep) é uma tentativa por parte de um estudante para extender o nosso amado CLIP.</p>
      <p>
        Dados os ultimos problemas com o sistema informático, optou-se por disponibilizar a informação presente no CLIP.
        Podes ler mais sobre isso <a href="https://claudiop.com/2019/11/03/Supernova-being-opened.html">aqui</a>.
      </p>
      <p>Sendo a informação presente no CLIP confidencial a estudantes, este mirror exige uma conta e uma prova de
        identidade, a qual pode ser obtida com recurso ao email do campus.</p>
      <p>Duvidas: cad.pereira -at- campus.fct.unl.pt ou discord de MiEI.</p>
      {#      <h2>Próximos eventos</h2>#}
      {#      <h3>Competição de plágio</h3>#}
      {#      <p>5 Março 2018, 16:00, Edifício VII, Auditorio 1C</p>#}
      {#      <h3>Workshop de bio-electro-mecano-informática para engenheiros civis</h3>#}
      {#      <p>6 Março 2018, 14:00, Edifício IX, Sala 123</p>#}
      {#      <h3>Formação em ocultação de telemóveis aplicada a aulas de Física</h3>#}
      {#      <p>5 Março 2018, 11:00, Edifício I, maioritariamente na rua!</p>#}

      <h2>{{ meal_name }} na <a>cantina</a> a {{ meal_date }}</h2>
      <table class="meals">
        <thead>
        <td></td>
        <td>Nome</td>
        <td>Glic.</td>
        <td>Lip.</td>
        <td>Prot.</td>
        <td>KCal</td>
        </thead>
        {% for item in meal_items %}
          <tr>
            <td>
              {% if item.0 == 1 %}
              {% elif item.0 == 2 %}
                <i class="fas fa-drumstick-bite"></i>
              {% elif item.0 == 3 %}
                <i class="fas fa-fish"></i>
              {% elif item.0 == 4 %}
                <i class="fas fa-leaf"></i>
              {% else %}
              {% endif %}
            </td>
            <td>{{ item.1 }}</td>
            <td>{{ item.2 }}</td>
            <td>{{ item.3 }}</td>
            <td>{{ item.4 }}</td>
            <td>{{ item.5 }}</td>
          </tr>
        {% endfor %}
      </table>
    </div>
  </div>
{% endblock %}
