{% extends 'supernova/content_only_formatted.html' %}

{% block content %}
    <h1>Política de privacidade</h1>

    <p>Este serviço está em conformidade com as regras europeias de proteção de dados (<a
            href="https://eur-lex.europa.eu/legal-content/pt/TXT/?uri=celex%3A32016R0679">RGPD, 2016/679 de 27 de abril
        de 2016</a>).</p>
    <p>Este serviço não tem propósito comercial, não sendo partilhados dados privados com entidades que exerçam
        atividade comercial.</p>

    <h2>Retenção</h2>
    <p>São retidos dados sempre que o utilizador tome uma ação que explicitamente indique o desejo de transmitir dados,
        com os dados transmitidos sendo estritamente relevantes à ação tomada.<br>
        Exemplificativamente, na submissão de um artigo são retidos os dados do artigo, bem como uma referência ao
        autor, data da submissão, entre outros dados que possam ter relevo como o curso do autor.</p>
    <p>São armazenados registos de atividade com a finalidade de tornar possível a reversão a atos de vandalismo.</p>
    <p>É ainda disponibilizada a teor opcional uma funcionalidade que permite a personalização de perfis de utilizador
        com estatísticas relativas à atividade do utilizador. Por defeito esta funcionalidade encontra-se desativa.</p>
    <p>São retidos dados encontrados nos diversos sistemas publicamente acessíveis da Universidade Nova de Lisboa.<br>
        A utilização destes dados é efetuada em conformidade com os termos impostos nos serviços por parte da
        Universidade Nova de Lisboa.</p>
    <p>É ainda mantida uma <i>cache</i>(uma cópia local) de informações que são acessíveis a alunos nos sistemas da
        Universidade Nova de Lisboa.<br>
        Não tendo sido encontrados termos de utilização, foram contactados funcionários da Universidade Nova de Lisboa a
        fim de averiguar qual a política a adotar.<br>
        À ausência de resposta, a atitude adotada por parte deste serviço é conservadora, sendo que se tenta garantir
        que apenas quem teria acesso aos dados nos sistemas da Universidade Nova de Lisboa é que os conseguirá aceder
        por intermédio deste serviço.</p>
    <p>Funcionalidades que requeiram a utilização de credenciais de sistemas da faculdade pressupõem a finalidade da
        obtenção de dados.<br>
        As mesmas são efetuadas num contexto volátil, nunca sendo as credenciais armazenadas em meios permanentes.<br>
        Assim que a funcionalidade (que justificou a utilização das ditas credenciais) requerida pelo utilizador
        concluir, todos os dados colateralmente obtidos que não os explicitamente requisitados pelo utilizado serão
        imediatamente apagados.</p>

    <h2>Remoção</h2>
    <p>Os dados são retidos por tempo indefinido, sendo possível em qualquer instante requisitar a remoção dos
        mesmos.</p>
    <p>A remoção será efetuada a pedido se os dados forem detidos exclusivamente por este serviço e a mais ninguém digam
        respeito.<br>
        Exemplificando:<br>
        Apagar uma conversa privada entre dois indivíduos requer a vontade de ambos.<br>
        Remoção de dados obtidos por serviços de terceiros (como um canal de notícias) requer não só que a informação
        apenas diga respeito ao autor do pedido, como que primeiro seja removida da fonte. Este serviço recorre a
        automações para obter conteúdo de diversas fontes, pelo que mesmo que apagados, os dados seriam obtidos
        novamente se presentes na fonte.</p>
    <p>A ocultação de dados por via das definições de privacidade não os remove, apenas torna impossível o acesso por
        terceiros.<br>
        Se pretende remover os dados do seu perfil, tem de efetuar a remoção manualmente apagando os campos.</p>

    <h2>Segurança</h2>
    <p>Serão implementadas medidas que visem à possibilidade de auditoria do afirmado neste documento por elementos
        autorizados pela Universidade Nova de Lisboa ou qualquer outra entidade relevante à tarefa.<br>
        Ser-lhes-a autorizado acesso ao servidor que corre este serviço para auditoria de código executado e condições
        de segurança, ainda que com restrições de acesso à informação privada.<br>
        Exemplificando, teriam acesso às <i>caches</i> dos sistemas da Universidade Nova de Lisboa, mas não a mensagens
        privadas.</p>
    <p>No cenário do servidor ser comprometido, assim que descoberto os utilizadores serão informados num prazo de 48
        horas.<br>
        Essa informação pode ser transmitida pelo contacto de correio eletrónico dos utilizadores, ou através de uma
        mensagem no próprio serviço.</p>

    <h2>Coleções adicionais</h2>
    <p>São recolhidos dados de navegação de todos os visitantes.<br>
        No entanto, são respeitadas as preferências de privacidade do navegador do utilizador.<br>
        É honrado o cabeçalho "Do Not Track", isto é, uma preferência que pode definir no seu navegador para que o mesmo
        indique que não deseja que estes dados sejam obtidos.<br>
        (instruções para <a href="https://www.mozilla.org/dnt">Firefox</a>, <a
                href="https://support.google.com/chrome/?p=settings_do_not_track">Chrome</a>, <a
                href="http://help.opera.com/opera/Linux/2393/en/private.html#doNotTrack">Opera</a>, <a
                href="https://help.gnome.org/users/epiphany/stable/pref-do-not-track.html">Epiphany</a>)</p>

    <p>Os dados recolhidos são a localização aproximada (margem de erro de dezenas de quilómetros), páginas visitadas,
        duração da visita, tipo de dispositivo, navegador, sistema operativo e linguagem.<br>
        Estes dados podem ser disponibilizados em formato anonimizado para consulta pública.</p>

    <p>É oferecida a todos os membros de instituições de ensino superior português a possibilidade de utilizar os
        meta-dados deste serviço como parte de projetos de investigação, tais como teses de mestrado.<br>
        Essa possibilidade requer a formalização de um pedido, um parecer positivo tanto por parte da administração
        deste serviço como por parte de qualquer instituição cujos dados estejam envolvidos (como a Universidade Nova de
        Lisboa), e ainda, mediante especificação dos dados a processar e da finalidade do processamento a aprovação
        individual e explicita de todos os utilizadores cujos dados venham a ser processados.</p>

    <h2>Alterações</h2>
    <p>A atualização da política de privacidade carece de um aviso com pelo menos uma semana de antecedência que requer
        a aprovação para a continuação de utilização do serviço.</p>
{% endblock %}
