{% extends 'supernova/content_only_formatted.html' %}

{% block content %}
  <h1>Política de privacidade</h1>

  <p>Este serviço está em conformidade com as regras europeias de proteção de dados
    (<a href="https://eur-lex.europa.eu/legal-content/pt/TXT/?uri=celex%3A32016R0679">RGPD, 2016/679 de 27 de Abril de
      2016</a>).</p>
  Os seus dados:
  <ul>
    <li>Não são partilhados dados com terceiros.</li>
    <li>Não são utilizados com propósito comercial.</li>
    <li>São retidos em local privado, não partilhado, em territorio nacional.</li>
    <li>Podem ser removidos por iniciativa própria ou mediante contacto (cad.pereira@campus.fct.unl.pt).</li>
  </ul>
  Não são retidos ou expostos dados sem o consentimento explicito do utilizador.
{% endblock %}
