{% extends 'kleep/content_only.html' %}

{% load static %}

{% block content %}
    <h1><i class="fas fa-book"></i> Categorias em {{ area.name }}</h1>

    <div class="flex-wrapper">
        {% for subarea in area.synopsissubarea_set.all %}
            <a href="{% url 'synopsis_subarea' subarea.id %}">
                {% if subarea.img_url %}
                    <div class="flex-grid-item" style="background-image: url({{ subarea.img_url }}); background-size: cover; background-position: center">
                {% else %}
                    <div class="flex-grid-item">
                {% endif %}
                    <span class="flex-grid-item-top">{{ subarea.name }}</span>
                </div>
            </a>
        {% endfor %}
    </div>
{% endblock %}