{% extends 'kleep/content_only.html' %}

{% load static %}

{% block head %}
    <script type="text/javascript" async
            src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.2/MathJax.js?config=TeX-MML-AM_CHTML"></script>
    <style>
        #section-navigation a {
            line-height: 20px;
            background-color: #d3d3d3;
            padding: 10px;
            border-radius: 5px;
        }

        #contribute {
            display: flex;
            flex-wrap: wrap;
        }

        #contribute > a {
            margin: 0 10px;
        }
    </style>
{% endblock %}

{% block content %}
    <h1><i class="fas fa-book"></i> {{ section.name }}</h1>
    <h3>{{ topic.name }}, {{ subarea.name }}, {{ area.name }}</h3>
    {{ section.content|safe }}

    <nav id="section-navigation" style="display: flex; flex-wrap: wrap; justify-content: space-between;">
        {% if previous_section %}
            <a class="generic-button"
               href="{% url 'synopsis_section' topic.id previous_section.id %}">Anterior: {{ previous_section.name }}</a>
        {% endif %}
        <a style="padding: 0;"></a>
        {% if next_section %}
            <a class="generic-button"
               href="{% url 'synopsis_section' topic.id next_section.id %}">Seguinte: {{ next_section }}</a>
        {% endif %}
    </nav>
    <hr>
    <h3>Autores:</h3>
    <ul style="padding: 0; margin: 0; list-style: none;">
        {% for author in authors %}
            <li><a href="{% url 'profile' author.author.nickname %}">{{ author.author.name }}</a>,</li>
        {% endfor %}
    </ul>
    <h3>Contribuir:</h3>
    {% if user.is_authenticated %}
        <div id="contribute">
            <a class="disabled generic-button">Editar conteudo</a>
            <a class="disabled generic-button">Editar relações</a>
        </div>
    {% else %}
        <b>Autentique-se para poder efetuar alterações.</b>
    {% endif %}
{% endblock %}