{% extends 'users/profile_base.html' %}

{% load static %}

{% block content %}
    <h1><i class="fas fa-cogs"></i> Definições de {{ user }}</h1>
    <div class="settings">
        <h2><i class="fas fa-key"></i> Nova palavra-passe</h2>
        <div class="flex-wrapper">
            <div> {{ password_change_form.password.label }}{{ password_change_form.password }}</div>
            <div>
                {{ password_change_form.password_confirmation.label }}{{ password_change_form.password_confirmation }}</div>
        </div>
        <h2><i class="fas fa-check"></i> Aplicar</h2>
        <div class="flex-wrapper" style="justify-content: space-between">
            <div> {{ password_change_form.old_password.label }}{{ password_change_form.old_password }}</div>
            <input type="submit" value="Aplicar alterações">
        </div>
    </div>
{% endblock %}