{% extends 'users/profile_base.html' %}

{% load static %}

{% block content %}
    <h1><i class="fas fa-globe"></i> Redes sociais de {{ user }}</h1>
    <div class="settings">
        <h2>Por fazer</h2>
        <select>
            {% for network in social_networks %}
                <option value="{{ network.0 }}" selected="">{{ network.1 }}</option>
            {% endfor %}
        </select>
        <input type="text" placeholder="Link para perfil">
        <input type="button" value="Adicionar">
        <input type="submit" value="Aplicar alterações" style="float: right;">
    </div>
{% endblock %}