{% extends 'kleep/content_navigation.html' %}

{% load static %}
{% block head %}
{% endblock %}

{% block content %}
    <style>
        #content_form {
            width: 660px;
            margin: auto;
        }

        #content_form > div {
            width: 300px;
        }

        #content_form > form input[type=text], #content input[type=password] {
            height: 30px;
            width: 300px;
            margin-bottom: 10px;

        }

        #content_form > form input[type=submit] {
            height: 35px;
            width: 100%;
        }
    </style>
    <h1><i class="fas fa-user-plus"></i> Criar conta</h1>
    <div id="content_form">
        {% if not enabled %}
            <span style="font-weight: bold; font-size: 1.5em; color: red;">Os registos encontram-se desactivados!</span>
        {% endif %}
        <form method="post" action="{{ request.get_full_path }}">
            {% csrf_token %}
            {{ creation_form.non_field_errors }}

            <div style="float: left; margin-right: 20px;">
                {{ creation_form.clip.label }}<br>
                {{ creation_form.clip }}<br>

            </div>

            <div>
                {{ creation_form.nickname.label }}<br>
                {{ creation_form.nickname }}<br>
            </div>


            <div style="float: left; margin-right: 20px;">
                {{ creation_form.password.label }}<br>
                {{ creation_form.password }}<br>

            </div>
            <div>
                {{ creation_form.password_confirmation.label }}<br>
                {{ creation_form.password_confirmation }}<br>
            </div>

            <div>
                {{ creation_form.captcha.label }}<br>
                {{ creation_form.captcha }}<br>
            </div>
            <input type="submit" value="Registar" {% if not enabled %}disabled{% endif %}>
        </form>
    </div>
{% endblock %}



{% block navigation %}
    <a class="menu_entry" href="{% url 'login' %}">Autenticação</a>
    <a class="menu_entry selected">Criar conta</a>
{% endblock %}