/* TODO make these default globally and set margin to initial where default needed */
h1 {
    margin: 10px 0;
}

h2 {
    margin: 8px 0;
}

h3 {
    margin: 5px 0;
}

.flex-box {
    margin-top: 0;
}

.archievement {
    display: inline-block;
    padding: 6px 10px;
    border-radius: 5px;
    color: white;
    text-shadow: 0 0 2px black;
    border: 1px solid #333;
    font-weight: bold;
}

.archievement.gold {
    background-color: #FFD700;
}

.archievement.silver {
    background-color: #bcbcbc;
}

.archievement.bronze {
    background-color: #CD7F32;
}

.archievement.limited {
    background: linear-gradient(to bottom, #f2f6f8 0%, #d8e1e7 50%, #b5c6d0 51%, #e0eff9 100%);
}

.group {
    display: block;
    width: 300px;
    height: 50px;
    line-height: 50px;
    vertical-align: center;
    text-align: center;
    background-color: red;
    margin-bottom: 10px;
    font-weight: bold;
    color: white;
    border: 2px solid #333;
    border-radius: 5px;
    font-size: 1.2em;
    text-shadow: 0 0 2px black;
}

.like {
    color: #2fa40c;
}

.dislike {
    color: red;
}

.favorite {
    color: deeppink;
}

.likebar {
    display: inline-block;
    width: 100px;
    height: 3px;
    background-color: red;
}

#record > table {
    font-size: 1.2em;
}

.wall-item td:first-child {
    font-weight: bold;
}

#social-network-list {
    font-size: 1.2em;
    list-style: none;
    padding-left: 10px;
}

#social-network-list .svg-inline--fa {
    font-size: 1.2em;
}

.settings .flex-wrapper .svg-inline--fa {
    font-size: 2em;
}

.settings .flex-wrapper > div {
    margin: 10px 20px 10px 0;
    flex-basis: 200px;
    line-height: 30px;
}

.settings input[type=submit] {
    height: 50px;
    background-color: #4dcc70;
    border: solid 1px #999;
    box-shadow: 0 0 3px #777;
    font-weight: bold;
    color: white;
}

.delete-icon {
    color: red;
    display: inline-block;
    background: #d9d9d9;
    padding: 0 5px;
    border-radius: 5px;
}

.delete-icon:hover {
    color: white;
    background: red;
}

.hint {
    position: relative;
    margin-left: 10px;
}

.hint .hint-hidden {
    position: absolute;
    top: 100%;
    display: none;
    list-style: none;
    margin: 0;
    padding: 0;
}

.hint-hidden {
    background-color: white;
    min-width: 50vw;
}

.hint:hover .hint-hidden {
    display: block;
}

.hint button {
    background: #bababa;
    color: #ffffff;
    border: none;
    margin: 0;
    padding: 5px 10px;
}