{% extends 'kleep/content_only.html' %}

{% load static %}

{% block content %}
    <h1><i class="fas fa-book"></i> Categorias em {{ area.name }}</h1>

    <div class="flex-wrapper">
        {% for subarea in area.subarea_set.all %}
            <a href="{% url 'synopses:subarea' subarea.id %}">
                {% if subarea.img_url %}
                    <div class="flex-grid-item"
                         style="background-image: url({{ subarea.img_url }}); background-size: cover; background-position: center">
                {% else %}
                    <div class="flex-grid-item">
                {% endif %}
                <span class="flex-grid-item-top">{{ subarea.name }}</span>
                <span class="flex-grid-item-bottom">{{ subarea.topic_set.count }} tópico(s)</span>
                </div>
            </a>
        {% endfor %}
    </div>
    <h2>Contribuir:</h2>
    {% if user.is_authenticated %}
        <div id="contribute">
            <a class="generic-button">Propor nova categoria</a>
            <a class="generic-button">Propor remoção da secção</a>
        </div>
    {% else %}
        <b>Autentique-se para poder efetuar alterações.</b>
    {% endif %}
{% endblock %}