{% extends 'kleep/content_only.html' %}

{% load static %}

{% block content %}
    <h1><i class="fas fa-book"></i> Areas de estudo</h1>

    <div class="flex-wrapper">
        {% for area in areas %}
            <a href="{% url 'synopses:area' area.id %}">
                {% if area.img_url %}
                    <div class="flex-grid-item"
                         style="background-image: url({{ area.img_url }}); background-size: cover">
                {% else %}
                    <div class="flex-grid-item">
                {% endif %}
                <span class="flex-grid-item-top">{{ area.name }}</span>
                <span class="flex-grid-item-bottom">{{ area.synopsissubarea_set.count }} categoria(s)</span>
                </div>
            </a>
        {% endfor %}
    </div>
{% endblock %}