{% extends 'kleep/content_only.html' %}

{% load static %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static 'synopses/synopses.css' %}"/>
{% endblock %}

{% block content %}
    <h1>
        <i class="fas fa-book"></i>
        Síntese de <a href="{% url 'class' synopsis_class.id %}">{{ synopsis_class.name }}</a>
    </h1>
    <h2>(Departamento de {{ synopsis_class.department.name }})</h2>
    <ul id="content-list">
        {% for section in sections %}
            <li><a href="{% url 'synopses:class_section' synopsis_class.id section.id %}">{{ section.name }}</a></li>
        {% endfor %}
    </ul>
    <h2>Contribuir:</h2>
    {% if user.is_authenticated %}
        <div id="contribute">
            <a class="generic-button" href="{% url 'synopses:class_manage' synopsis_class.id %}">Gerir secções</a>
        </div>
    {% else %}
        <b>Autentique-se para poder efetuar alterações.</b>
    {% endif %}
{% endblock %}