{% extends 'kleep/content_only.html' %}

{% load static %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static 'synopses/synopses.css' %}"/>
    <link type="text/css" rel="stylesheet" href="{% static 'kleep/prism.css' %}">
    <script src="{% static 'kleep/prism.js' %}"></script>
    <script type="text/javascript" async
            src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.2/MathJax.js?config=TeX-MML-AM_CHTML"></script>
    <style>
        .flex-wrapper > div ul {
            padding: 0;
            margin: 0;
            list-style: none;
        }

        .flex-wrapper > div {
            min-width: 300px;
            margin-right: 10px;
        }
    </style>
{% endblock %}

{% block content %}
    <h1><i class="fas fa-book"></i> {{ section.name }}</h1>
    {% if topic %}
        <h3>{{ topic.name }}, {{ subarea.name }}, {{ area.name }}</h3>
    {% endif %}
    {% if section.requirements.exists %}
        <div style="flex-basis: 500px">
            <h3>Necessitas de entender:</h3>
            {% for requirement in section.requirements.all %}
                <a href="{% url 'synopses:section' requirement.id %}">{{ requirement.name }}</a>;
            {% endfor %}
        </div>
    {% endif %}
    <hr>
    <div class="clearfix" style="font-family: sans-serif;">{{ section.content|safe }}</div>
    <hr>
    <nav id="section-navigation" style="display: flex; flex-wrap: wrap; justify-content: space-between;">
        {% if previous_section %}
            <a class="generic-button"
               href="{% url 'synopses:topic_section' topic.id previous_section.id %}">
                <i class="fas fa-angle-double-left"></i> Anterior: {{ previous_section.name }}</a>
        {% endif %}
        <a style="padding: 0;"></a>
        {% if next_section %}
            <a class="generic-button"
               href="{% url 'synopses:topic_section' topic.id next_section.id %}">Seguinte: {{ next_section.name }}
                <i class="fas fa-angle-double-right"></i></a>
        {% endif %}
    </nav>
    <div class="flex-wrapper">
        <div>
            <h3>Autores:</h3>
            <ul style="">
                {% for log in author_log %}
                    <li><a href="{% url 'profile' log.author.nickname %}">{{ log.author.get_full_name }}</a></li>
                {% endfor %}
            </ul>
        </div>
        {% if section.sources.exists %}
            <div style="min-width: 300px">
                <h3>Fontes:</h3>
                <ul>
                    {% for source in section.sources.all %}
                        <li>
                            {% if source.url %}
                                <a href="{{ source.url }}">{{ source.title }}</a>
                            {% else %}
                                {{ source.title }}
                            {% endif %}
                        </li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
        <div>
            <h3>Cadeiras:</h3>
            <ul>
                {% for class_section in section.class_sections.all %}
                    <li>
                        <a href="{% url 'synopses:class' class_section.corresponding_class.id %}">{{ class_section.corresponding_class.name }}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div>
            <h3>Contribuir:</h3>
            {% if user.is_authenticated %}
                {% if topic %}
                    <div id="contribute">
                        <a class="generic-button" href="{% url 'synopses:section_edit' topic.id section.id %}">
                            Editar
                        </a>
                    </div>
                {% endif %}
            {% else %}
                <b>Autentique-se para poder efetuar alterações.</b>
            {% endif %}
        </div>
    </div>
{% endblock %}