{% extends 'kleep/content_only.html' %}

{% load static %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static 'kleep/synopses.css' %}"/>
{% endblock %}

{% block content %}
    <h1><i class="fas fa-book"></i> {{ subarea.name }}</h1>
    <h2>Descrição:</h2>
    <p>{{ subarea.description|safe }}</p>
    <h2>Tópicos:</h2>
    <ul id="topic-list">
        {% for topic in subarea.topic_set.all %}
            <li><a href="{% url 'synopses:topic' topic.id %}">{{ topic.name }}</a>
                ({{ topic.section_set.count }} secções)
            </li>
        {% endfor %}
    </ul>
    <h2>Contribuir:</h2>
    {% if user.is_authenticated %}
        <div id="contribute">
            <a class="generic-button" href="{% url 'synopses:topic_create' subarea.id %}">Criar novo tópico</a>
            <a class="generic-button" href="{% url 'synopses:subarea_edit' subarea.id %}">Editar</a>
        </div>
    {% else %}
        <b>Autentique-se para poder efetuar alterações.</b>
    {% endif %}
{% endblock %}