{% extends 'kleep/content_only.html' %}

{% load static %}

{% block head %}
    <style>
        #topic-list {
            list-style: none;
            font-weight: bold;
            font-size: 1.5em;
            line-height: 2em;
        }

        #contribute {
            display: flex;
            flex-wrap: wrap;
        }

        #contribute > a {
            margin: 0 10px;
        }
    </style>
{% endblock %}

{% block content %}
    <h1><i class="fas fa-book"></i> {{ topic.name }}</h1>
    <h3>{{ subarea.name }}, {{ area.name }}</h3>
    <ul id="topic-list">
        {% for section in sections %}
            <li><a href="{% url 'synopses:section' topic.id section.id %}">{{ section.name }}</a></li>
        {% endfor %}
    </ul>
    <h2>Contribuir:</h2>
    {% if user.is_authenticated %}
        <div id="contribute">
            <a class="generic-button" href="{% url 'synopses:create_section' topic.id %}">Criar entrada</a>
            <a class="disabled generic-button">Ligar entrada a este tópico</a>
            <a class="disabled generic-button">Remover entrada deste tópico</a>
        </div>
    {% else %}
        <b>Autentique-se para poder efetuar alterações.</b>
    {% endif %}
{% endblock %}