{% extends 'kleep/content_only.html' %}

{% load static %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static 'synopses/synopses.css' %}"/>
{% endblock %}

{% block content %}
    <h1><i class="fas fa-book"></i> {{ topic.name }}</h1>
    <h3>{{ subarea.name }}, {{ area.name }}</h3>
    <ul id="content-list">
        {% for section in sections %}
            <li><a href="{% url 'synopses:section' topic.id section.id %}">{{ section.name }}</a></li>
        {% endfor %}
    </ul>
    <h2>Contribuir:</h2>
    {% if user.is_authenticated %}
        <div id="contribute">
            <a class="generic-button" href="{% url 'synopses:section_create' topic.id %}">Criar secção</a>
            <a class="generic-button" href="{% url 'synopses:topic_manage' topic.id %}">Gerir secções</a>
            <a class="generic-button" href="{% url 'synopses:topic_edit' topic.id %}">Editar</a>
        </div>
    {% else %}
        <b>Autentique-se para poder efetuar alterações.</b>
    {% endif %}
{% endblock %}