{% extends 'kleep/content_only.html' %}

{% load static %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static 'synopses/synopses.css' %}"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Sortable/1.6.0/Sortable.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3/dist/jquery.min.js"></script>
    <script src="{% static 'synopses/list_manager.js' %}" type="text/javascript" rel="stylesheet"></script>
    <link href="{% static 'autocomplete_light/vendor/select2/dist/css/select2.min.css' %}" type="text/css" rel="stylesheet"/>
    <link href="{% static 'autocomplete_light/select2.css' %}" type="text/css" rel="stylesheet"/>
{% endblock %}

{% block content %}
    {% csrf_token %}
    <h1><i class="fas fa-book"></i> Gerir secções de {{ topic.name }}</h1>
    <ul id="sortable-list"></ul>
    <script>
        let list = document.getElementById("sortable-list");
        var sorter = Sortable.create(list, {animation: 150, draggable: ".sortable-line"});
        populate(list, '/api/synopses/topic/{{ topic.id}}/');
    </script>
    <span style="font-weight: bold">Adicionar: </span>
    <select name="section" required id="id_area" data-autocomplete-light-url="/sinteses/ac/section/"
            data-autocomplete-light-function="select2" onchange="newItem(this);"></select>
    <a class="generic-button save-button" href="javascript:save(sorter, '/api/synopses/topic/{{ topic.id}}/');">Guardar</a>
    <br><span>Psst: Arrastar para reordenar</span>
    <script type="text/javascript" src="{% static 'autocomplete_light/jquery.init.js' %}"></script>
    <script type="text/javascript" src="{% static 'autocomplete_light/autocomplete.init.js' %}"></script>
    <script type="text/javascript" src="{% static 'autocomplete_light/vendor/select2/dist/js/select2.full.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'autocomplete_light/select2.js' %}"></script>
{% endblock %}