{% extends 'supernova/base.html' %}

{% load static %}

{% block head %}
  <link rel="stylesheet" type="text/css" href="{% static 'synopses/synopses.css' %}"/>
  {% if area.image or area.img_url %}
    <style>
        .header-background:after {
            background-image:
                {% if area.image %}url("{{ area.image.url }}"){% else %}url("{{ area.img_url}}"){% endif %}
        }
    </style>
  {% endif %}
{% endblock %}

{% block content_wrapper %}
  <div class="col">
    {% if area.image or area.img_url %}
      <div class="header-background faded">
        <div class="header-decorator">
          <h1>{{ area.title }}</h1>
        </div>
      </div>
    {% else %}
      <div class="header-decorator">
        <h1>{{ area.title }}</h1>
      </div>
    {% endif %}
    <div class="col padded">
      <div class="flex-pane">
        <div class="pane-title bg-grad"></div>
        <div class="pane-content">
          <div class="flex-wrapper">
            {% for subarea in subareas %}
              <a href="{% url 'learning:subarea' subarea.id %}">
                {% if subarea.image %}
                  <div class="flex-grid-item" style="background-image: url({{ subarea.image.url }})">
                {% elif subarea.img_url %}
                  <div class="flex-grid-item" style="background-image: url({{ subarea.img_url }})">
                {% else %}
                  <div class="flex-grid-item">
                {% endif %}
                <span class="flex-grid-item-top">{{ subarea.title }}</span>
                <span class="flex-grid-item-bottom">{{ subarea.section_count }} secções(s)</span>
                </div>
              </a>
            {% endfor %}
            {% if not area.subareas.exists %}
              <h2>Categoria sem subcategorias.</h2>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{#{% block content-bottom %}#}
{#    <nav id="bot-container" class="float-right">#}
{#        <a class="menu-entry selected">Contribuir:</a>#}
{#        {% if user.is_authenticated %}#}
{#            <a class="menu-entry" href="{% url 'learning:subarea_create' area.id %}">Criar categoria</a>#}
{#        {% else %}#}
{#            <a class="menu-entry selected">Autentique-se para poder efetuar alterações.</a>#}
{#        {% endif %}#}
{#    </nav>#}
{#{% endblock %}#}