{% extends 'supernova/base.html' %}

{% load static %}

{% block head %}
  {% if expand %}
    <link type="text/css" rel="stylesheet" href="{% static 'prism.css' %}">
    <script src="{% static 'prism.js' %}"></script>
    <script>
        MathJax = {
            options: {
                ignoreHtmlClass: 'tex2jax_ignore',
                processHtmlClass: 'tex2jax_process',
                renderActions: {
                    find: [10, function (doc) {
                        for (const node of document.querySelectorAll('script[type^="math/tex"]')) {
                            const display = !!node.type.match(/; *mode=display/);
                            const math = new doc.options.MathItem(node.textContent, doc.inputJax[0], display);
                            const text = document.createTextNode('');
                            const sibling = node.previousElementSibling;
                            node.parentNode.replaceChild(text, node);
                            math.start = {node: text, delim: '', n: 0};
                            math.end = {node: text, delim: '', n: 0};
                            doc.math.push(math);
                            if (sibling && sibling.matches('.MathJax_Preview')) {
                                sibling.parentNode.removeChild(sibling);
                            }
                        }
                    }, '']
                }
            }
        };
    </script>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
    <script src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
    {#  TODO remove KATEX dependency#}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.11.1/dist/katex.min.css"
          integrity="sha384-zB1R0rpPzHqg7Kpt0Aljp8JPLqbXI3bhnPWROx27a9N0Ll6ZP/+DiW/UqRcLbRjq"
          crossorigin="anonymous">
    <script defer src="https://cdn.jsdelivr.net/npm/katex@0.11.1/dist/katex.min.js"
            integrity="sha384-y23I5Q6l+B6vatafAwxRu/0oK/79VlbSz7Q9aiSZUvyWYIYsd+qj+o24G5ZU2zJz"
            crossorigin="anonymous"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/katex@0.11.1/dist/contrib/auto-render.min.js"
            integrity="sha384-kWPLUVMOks5AQFrykwIup5lo0m3iMkkHrD0uJ4H5cjeGihAutqP0yW0J6dpFiVkI"
            crossorigin="anonymous"
            onload="renderMathInElement(document.body);"></script>
  {% endif %}
{% endblock %}

{% block content_wrapper %}
  <div class="header-decorator">
    <div class="header-decorator-options">
      <ul>
        {% if user.is_staff %}<li><a href="{% url 'learning:class_manage' synopsis_class.id %}">Gerir</a></li>{% endif %}
      </ul>
    </div>
    <div>
      <h1>Síntese de <a href="{% url 'college:class' synopsis_class.id %}">{{ synopsis_class.name }}</a></h1>
      <h3>
        <a href="{% url 'college:department' synopsis_class.department.id %}">
          Departamento de {{ synopsis_class.department.name }}
        </a>
      </h3>
    </div>
  </div>
  <div class="col padded">
    <div class="flex-pane">
      <div class="pane-title bg-grad"></div>
      <div class="pane-content">
        {% if not sections.exists %}
          Esta cadeira não tem conteudo na tua sintese.<br>
          Se já existir conteudo, podes adiciona-lo.
        {% endif %}
        {% if expand %}
          {% for section in sections.all %}
            <h2><a href="{% url 'learning:class_section' synopsis_class.id section.id %}">{{ section.title }}</a></h2>
            <div class="indented" style="border-left: 2px solid var(--highlight); padding-left: 10px">{{ section.content|safe }}</div>
          {% endfor %}
        {% else %}
          {% for section in sections.all %}
            <h2><a href="{% url 'learning:class_section' synopsis_class.id section.id %}">{{ section.title }}</a></h2>
            {% if section.exercise_count == 0 %}
              Sem exercícios.
            {% elif section.exercise_count == 1 %}
              {{ section.exercise_count }} exercício
            {% else %}
              {{ section.exercise_count }} exercícios
            {% endif %}
          {% endfor %}
        {% endif %}
        <hr>
        <a class="ui-btn" href="?expand=">Expandir</a>
      </div>
    </div>
  </div>
{% endblock %}