{% extends 'supernova/base.html' %}

{% load static %}

{% block head %}
  <link rel="stylesheet" type="text/css" href="{% static 'synopses/synopses.css' %}"/>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Sortable/1.6.0/Sortable.min.js"></script>
  <script src="{% static 'synopses/list_manager.js' %}" type="text/javascript" rel="stylesheet"></script>
  <link href="{% static  'vendor/select2/dist/css/select2.min.css' %}" type="text/css" media="screen" rel="stylesheet">
  <link href="{% static  'admin/css/autocomplete.css' %}" type="text/css" media="screen" rel="stylesheet">
  <link href="{% static  'autocomplete_light/select2.css' %}" type="text/css" media="screen" rel="stylesheet">
  <script src="{% static  'admin/js/vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static  'autocomplete_light/jquery.init.js' %}"></script>
  <script src="{% static  'vendor/select2/dist/js/select2.full.min.js' %}"></script>
  <script src="{% static  'vendor/select2/dist/js/i18n/pt.js' %}"></script>
  <script src="{% static  'autocomplete_light/autocomplete.init.js' %}"></script>
  <script src="{% static  'autocomplete_light/forward.js' %}"></script>
  <script src="{% static  'autocomplete_light/select2.js' %}"></script>
  <script src="{% static  'autocomplete_light/jquery.post-setup.js' %}"></script>
{% endblock %}

{% block content_wrapper %}
  {% csrf_token %}
  <div class="col padded">
    <div class="flex-pane">
      <div class="pane-title bg-grad"></div>
      <div class="pane-content col">
        <ul id="sortable-list" data-endpoint="{% url 'api:synopses_class_section' synopsis_class.id %}"></ul>
        <div class="form-row col">
          <h4>Adicionar</h4>
          <select name="section"
                  data-autocomplete-light-url="{% url 'learning:section_ac' %}"
                  data-autocomplete-light-function="select2"
                  onchange="addToCollectionEvt(this);"></select>
        </div>
        <a class="ui-btn end" href="javascript:saveCollectionOrder(list);">Guardar ordem</a>
      </div>
    </div>
  </div>
  <script>
      let list = document.getElementById("sortable-list");
      var sorter = Sortable.create(list, {animation: 150, draggable: ".sortable-line"});
      populateCollection(list);
  </script>
{% endblock %}