{% extends 'supernova/base.html' %}

{% load static %}

{% block content_wrapper %}
  <div class="col">
    <div class="header-decorator">
      <div class="header-decorator-options">
        <ul>
          {% if perms.exercises.add_exercise %}
            <li><a href="{% url 'learning:exercise_create' %}">Criar novo</a></li>{% endif %}
        </ul>
      </div>
      <div>
        <h1>Exercícios</h1>
        <h2><a href="{% url 'college:department' department.id %}">Departamento de {{ department.name }}</a></h2>
      </div>
    </div>
    {% if other_classes %}
      <div class="row padded nowrap">
        <div class="col">
          <div class="pane">
            <div class="pane-title"><h2>Inscrito</h2></div>
            <div class="pane-content">
              {% if current_classes|length == 0 %}
                <span class="indented">Não está de momento inscrito a nenhuma unidade curricular deste departamento.</span>
              {% else %}
                {% for class in current_classes %}
                  <h3><a href="{% url 'learning:class' class.id %}">{{ class.name }}</a></h3>
                  <span class="indented">{{ class.exercise_count }} exercícios em {{ class.section_count }} secções.</span>
                {% endfor %}
              {% endif %}
            </div>
          </div>
          <div class="pane">
            <div class="pane-title"><h2>Feitas</h2></div>
            <div class="pane-content">
              {% if done_classes|length == 0 %}
                <span class="indented">Ainda não fez nenhuma unidade curricular deste departamento.</span>
              {% else %}
                {% for class in done_classes %}
                  <h3><a href="{% url 'learning:class' class.id %}">{{ class.name }}</a></h3>
                  <span class="indented">{{ class.exercise_count }} exercícios em {{ class.section_count }} secções.</span>
                {% endfor %}
              {% endif %}
            </div>
          </div>
        </div>
        <div class="col">
          <div class="pane">
            <div class="pane-title"><h2>Outras no departamento</h2></div>
            <div class="pane-content">
              {% for class in other_classes %}
                <h3><a href="{% url 'learning:class' class.id %}">{{ class.name }}</a></h3>
                <span class="indented">{{ class.exercise_count }} exercícios em {{ class.section_count }} secções.</span>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    {% else %}
      <div class="col padded">
        <div class="pane">
          <div class="pane-title"></div>
          <div class="pane-content">
            {% for class in classes %}
              <ul class="menu">
                <li>
                  <a href="{% url 'learning:class' class.id %}">{{ class.name }}</a>{% if class.iid %}<sup>{{ class.iid }}</sup>{% endif %}<br>
                  <span class="indented">{{ class.exercise_count }} exercícios em {{ class.section_count }} secções.</span>
                </li>
              </ul>
            {% endfor %}
          </div>
        </div>
      </div>
    {% endif %}
  </div>
{% endblock %}