{% extends 'supernova/base.html' %}

{% load static %}

{% block head %}
  <link type="text/css" rel="stylesheet" href="{% static 'prism.css' %}">
  <script src="{% static 'prism.js' %}"></script>
  <script>
      MathJax = {
          options: {
              ignoreHtmlClass: 'tex2jax_ignore',
              processHtmlClass: 'tex2jax_process',
              renderActions: {
                  find: [10, function (doc) {
                      for (const node of document.querySelectorAll('script[type^="math/tex"]')) {
                          const display = !!node.type.match(/; *mode=display/);
                          const math = new doc.options.MathItem(node.textContent, doc.inputJax[0], display);
                          const text = document.createTextNode('');
                          const sibling = node.previousElementSibling;
                          node.parentNode.replaceChild(text, node);
                          math.start = {node: text, delim: '', n: 0};
                          math.end = {node: text, delim: '', n: 0};
                          doc.math.push(math);
                          if (sibling && sibling.matches('.MathJax_Preview')) {
                              sibling.parentNode.removeChild(sibling);
                          }
                      }
                  }, '']
              }
          }
      };
  </script>
  <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
  <script src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
{% endblock %}

{% block content_wrapper %}
  <div class="col">
    <div class="header-decorator">
      <div class="header-decorator-options">
        <ul>
          {% if perms.learning.add_question %}<li><a href="{% url 'learning:question_create' %}?exercise={{ exercise.id }}">Colocar dúvida</a></li>{% endif %}
          {% if perms.learning.change_exercise %}<li><a href="{% url 'learning:edit' exercise.id %}">Editar</a></li>{% endif %}
        </ul>
      </div>
      <div>
        <h1>Exercício</h1>
        <h3>#{{ exercise.id }}</h3>
      </div>
    </div>
    <div class="row padded nowrap">
      <div class="col">
        <div class="flex-pane">
          <div class="pane-title bg-grad"></div>
          <div class="pane-content">
            {{ exercise.render_html | safe }}
            <hr>
            <span>Submetido por <a href="{% url 'users:profile' exercise.author.nickname %}">{{ exercise.author }}</a></span>
            <a href="{% url 'learning:edit' exercise.id %}">Editar</a>
          </div>
        </div>
      </div>
      <div class="col nogrow" style="flex-basis: 350px;">
        <div class="flex-pane">
          <div class="pane-title bg-grad"><h2>Meta</h2></div>
          <div class="pane-content">
            <h3>Secções</h3>
            <ul class="content-list">
              {% for section in exercise.synopses_sections.all %}
                <li><a href="{% url 'learning:section' section.id %}">{{ section.title }}</a></li>
              {% endfor %}
            </ul>
            <h3>Unidades curriculares</h3>
            <ul class="content-list">
              {% for class in classes %}
                <li><a href="{% url 'college:class' class.id %}">{{ class.name }}</a></li>
              {% endfor %}
            </ul>
            <h3>Dúvidas</h3>
            {% if exercise.question_count == 0 %}
              <span class="indented">Sem dúvidas colocadas.</span>
            {% elif exercise.question_count == 1 %}
              <span class="indented">{{ exercise.question_count }} dúvida colocada.</span>
            {% else %}
              <span class="indented">{{ exercise.question_count }} dúvidas colocadas.</span>
            {% endif %}
            {% if exercise.source or exercise.source_url %}
              <h3>Fonte</h3>
              {% if exercise.source_url %}
                <a class="indented" href="{{ exercise.source_url }}">
                  {% if exercise.source %}{{ exercise.source }}{% else %}{{ exercise.source_url }}{% endif %}
                </a>
              {% else %}
                <span class="indented">{{ exercise.source }}</span>
              {% endif %}
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}