{% extends 'supernova/base.html' %}

{% load static %}

{% block head %}
  <link type="text/css" rel="stylesheet" href="{% static 'prism.css' %}">
  <script src="{% static 'prism.js' %}"></script>
  <script src="{% static 'js/content-rendering.js' %}"></script>
  <script src="{% static 'js/lib/mathjax/tex-mml-chtml.js' %}"></script>
{% endblock %}

{% block content_wrapper %}
  <div class="col">
    <div class="header-decorator">
      <div class="header-decorator-options">
        <ul>
          {% if perms.learning.add_question %}<li><a href="{% url 'learning:question_create' %}?exercise={{ exercise.id }}">Colocar dúvida</a></li>{% endif %}
          {% if perms.learning.change_exercise %}<li><a href="{% url 'learning:exercise_edit' exercise.id %}">Editar</a></li>{% endif %}
        </ul>
      </div>
      <div>
        <h1>Exercício</h1>
        <h3>#{{ exercise.id }}</h3>
      </div>
    </div>
    <div class="row padded nowrap">
      <div class="col">
        <div class="pane">
          <div class="pane-title"></div>
          <div class="pane-content">
            {{ exercise.render_html | safe }}
            <hr>
            <span>Submetido por <a href="{% url 'users:profile' exercise.author.nickname %}">{{ exercise.author }}</a></span>
          </div>
        </div>
      </div>
      <div class="col nogrow" style="flex-basis: 350px;">
        <div class="pane">
          <div class="pane-title"><h2>Meta</h2></div>
          <div class="pane-content">
            <h3>Secções</h3>
            <ul class="entity-list">
              {% for section in exercise.synopses_sections.all %}
                <li><a href="{% url 'learning:section' section.id %}">{{ section.title }}</a></li>
              {% endfor %}
            </ul>
            <h3>Unidades curriculares</h3>
            <ul class="entity-list">
              {% for class in classes %}
                <li><a href="{% url 'college:class' class.id %}">{{ class.name }}</a></li>
              {% endfor %}
            </ul>
            <h3>Dúvidas</h3>
            <span class="indented">
            {% if exercise.question_count == 0 %}
              Sem dúvidas colocadas.
            {% elif exercise.question_count == 1 %}
              1 dúvida colocada.
            {% else %}
              {{ exercise.question_count }} dúvidas colocadas.
            {% endif %}
            </span>
            {% if exercise.source or exercise.source_url %}
              <h3>Fonte</h3>
              {% if exercise.source_url %}
                <a class="indented" href="{{ exercise.source_url }}">
                  {% if exercise.source %}{{ exercise.source }}{% else %}{{ exercise.source_url }}{% endif %}
                </a>
              {% else %}
                <span class="indented">{{ exercise.source }}</span>
              {% endif %}
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}