{% extends 'supernova/base.html' %}

{% load static %}

{% block head %}
  <script src="{% static 'js/content-rendering.js' %}"></script>
  <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
  <script src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
  <link type="text/css" rel="stylesheet" href="{% static 'prism.css' %}">
  <script src="{% static 'prism.js' %}"></script>
  <script src="{% static  'admin/js/vendor/jquery/jquery.min.js' %}"></script>
{% endblock %}

{% block content_wrapper %}
  <div class="col padded">
    <div class="flex-pane">
      <div class="pane-title bg-grad"><h2>Dúvida a colocar</h2></div>
      <div class="pane-content">
        <form class="col" method="post" action="{% url 'learning:question_create' %}">
          {{ form.media }}
          {% csrf_token %}
          {{ form.non_field_errors }}
          <div class="form-block">
            <div class="form-row">
              <div class="form-row-top"><h4>Título</h4></div>
              <div class="form-row-description">
                {{ form.title }}<br>
                Uma descrição <b>concisa</b> do que se trata o problema.<br>
                <q>Separação de termos em integral</q> ou <q>Adição de tipos distintos a vetor em Java.</q><br>
                Não <q>Ajuda muito importante, matemática</q> ou <q>erro de compilação</q>.
              </div>
            </div>
            <div class="form-row">
              <div class="form-row-top">
                <h4>Conteúdo</h4>
              </div>
              <div class="form-row-description">
                Enunciação do problema, com claridade, evitando colocar múltiplas questões (especialmente se forem pouco relacionadas).<br>
                Questões que envolvam programação requerem um exemplo que reproduza o problema. Para tal existem diversas plataformas
                [<a href="https://ideone.com/">1</a>],[<a href="https://jsfiddle.net/">2</a>],[<a href="https://repl.it/">3</a>],[<a href="https://play.rust-lang.org/">4</a>].
              </div>
              {{ form.content }}
            </div>
            <div class="form-row">
              <div class="form-row-top">
                <h4>Exercícios relacionados (Opcional)</h4>
                {{ form.linked_exercises }}
              </div>
              <div class="form-row-description">
                Exercício ou exercícios em que esta dúvida tenha ocorrido.
              </div>
            </div>
            <div class="form-row">
              <div class="form-row-top">
                <h4>Unidades curriculares relacionadas (Opcional)</h4>
                {{ form.linked_classes }}
              </div>
              <div class="form-row-description">
                Unidade curricular à qual esta dúvida diz respeito (em branco para nenhuma).
              </div>
            </div>
            <div class="form-row">
              <div class="form-row-top">
                <h4>Secções relacionadas (Opcional)</h4>
                {{ form.linked_sections }}
              </div>
              <div class="form-row-description">
                Enumeração de secções de síntese que estão relacionadas ou suscitam a dúvida que levou a esta questão.
              </div>
            </div>
          </div>
          <input class="ui-btn end" type="submit" value="Colocar"/>
        </form>
      </div>
    </div>
  </div>
  <script>setupMarkdownEnv()</script>
{% endblock %}