{% extends 'supernova/base.html' %}

{% load static %}

{% block content_wrapper %}
  <div class="row padded">
    <div class="col">
      <div class="flex-pane">
        <div class="pane-title bg-grad"><h2>Recentes</h2></div>
        <div class="pane-content question-list">
          {% for question in recent_questions %}
            <div class="question">
              <div class="info">
                <div class="counter votes"><span>{{ question.vote_balance }}</span></div>
                <div class="counter answers"><span>{{ question.answer_count }}</span></div>
              </div>
              <div class="summary">
                <h2><a href="{% url 'learning:question' question.id %}">{{ question.title }}</a></h2>
                <div class="tags">
                  {% for class in question.linked_classes.all %}<span class="ui-tag"><a href="{% url 'college:class' class.id %}">{{ class.name }}</a></span>{% endfor %}
                  {% for section in question.linked_sections.all %}<span class="ui-tag"><a href="{% url 'learning:section' section.id %}">{{ section.title }}</a></span>{% endfor %}
                </div>
                <div class="author">
                  <a href="{% url 'users:profile' question.user.nickname %}">{{ question.user }}</a>,
                  {{ question.timestamp|date:'d/m/Y H:i' }}</div>
              </div>
            </div>
            {% if not forloop.last %}<hr>{% endif %}
          {% endfor %}
        </div>
      </div>
    </div>
    <div class="col">
      <div class="flex-pane">
        <div class="pane-title bg-grad"><h2>Populares</h2></div>
        <div class="pane-content question-list">
          {% for question in popular_questions %}
            <div class="question">
              <div class="info">
                <div class="counter votes"><span>{{ question.vote_balance }}</span></div>
                <div class="counter answers"><span>{{ question.answer_count }}</span></div>
              </div>
              <div class="summary">
                <h2><a href="{% url 'learning:question' question.id %}">{{ question.title }}</a></h2>
                <div class="tags">
                  {% for class in question.linked_classes.all %}<span class="ui-tag"><a href="{% url 'college:class' class.id %}">{{ class.name }}</a></span>{% endfor %}
                  {% for section in question.linked_sections.all %}<span class="ui-tag"><a href="{% url 'learning:section' section.id %}">{{ section.title }}</a></span>{% endfor %}
                </div>
                <div class="author">
                  <a href="{% url 'users:profile' question.user.nickname %}">{{ question.user }}</a>,
                  {{ question.timestamp|date:'d/m/Y H:i' }}</div>
              </div>
            </div>
            {% if not forloop.last %}<hr>{% endif %}
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
{% endblock %}