{% extends 'supernova/base.html' %}

{% load static %}

{% block head %}
  <script src="{% static 'learning/questions.js' %}"></script>
  <link rel="stylesheet" type="text/css" href="{% static 'learning/questions.css' %}"/>
  <script>
      MathJax = {
          options: {
              ignoreHtmlClass: 'tex2jax_ignore',
              processHtmlClass: 'tex2jax_process',
              renderActions: {
                  find: [10, function (doc) {
                      for (const node of document.querySelectorAll('script[type^="math/tex"]')) {
                          const display = !!node.type.match(/; *mode=display/);
                          const math = new doc.options.MathItem(node.textContent, doc.inputJax[0], display);
                          const text = document.createTextNode('');
                          const sibling = node.previousElementSibling;
                          node.parentNode.replaceChild(text, node);
                          math.start = {node: text, delim: '', n: 0};
                          math.end = {node: text, delim: '', n: 0};
                          doc.math.push(math);
                          if (sibling && sibling.matches('.MathJax_Preview')) {
                              sibling.parentNode.removeChild(sibling);
                          }
                      }
                  }, '']
              }
          }
      };
  </script>
  <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
  <script src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
{% endblock %}

{% block content_wrapper %}
  <div class="col padded"
       data-voting-endpoint="{% url 'api:postable_votes' 0 %}"
       data-question-votes-endpoint="{% url 'api:question_votes' question.id %}">
    <div class="flex-pane">
      <div class="pane-title bg-grad"><h2>{{ question.title }}</h2></div>
      <div class="pane-content postable" data-id="{{ question.id }}">
        <div class="postable-main">
          <div class="postable-votes">
            <a class="upvote-btn"></a>
            <span>{{ question.vote_balance }}</span>
            <a class="downvote-btn"></a>
          </div>
          <div class="postable-content">
            {{ question.content_html|safe }}
          </div>
        </div>
        <div class="postable-footer">
          <div class="actions">
            {#            <a>Reportar</a>#}
          </div>
          <div class="author">
            <span><a href="{% url 'users:profile' question.user.nickname %}">{{ question.author.nickname }}</a></span>
            <span>{{ question.timestamp }}</span>
          </div>
        </div>
      </div>
    </div>
    {% for answer in question.answers.all %}
      <div class="flex-pane">
        <div class="pane-title bg-grad"></div>
        <div class="pane-content postable" data-id="{{ answer.id }}">
          <div class="postable-main">
            <div class="postable-votes">
              <a class="upvote-btn"></a>
              <span>{{ answer.vote_balance }}</span>
              <a class="downvote-btn"></a>
              <a class="answer-btn{% if answer.accepted %} set{% endif %}"></a>
            </div>
            <div class="postable-content">
              {{ answer.content_html|safe }}
            </div>
          </div>
          <div class="postable-footer">
            <div class="actions"></div>
            <div class="author">
              <span><a href="{% url 'users:profile' answer.user.nickname %}">{{ answer.user.nickname }}</a></span>
              <span>{{ answer.timestamp }}</span>
            </div>
          </div>
        </div>
      </div>
    {% endfor %}
    {% if perms.learning.add_question_answer %}
      <div class="flex-pane">
        <div class="pane-title bg-grad"><h2>Responder</h2></div>
        <div class="pane-content">
          <form class="col" method="post" action="{% url 'learning:question' question.id %}?submit=answer">
            {% csrf_token %}
            {{ answer_form.content }}
            <input class="ui-btn end" type="submit" value="Submeter resposta"/>
            {{ answer_form.media }}
          </form>
        </div>
      </div>
    {% endif %}
  </div>
  {% if not user.is_anonymous %}
    <script>loadOwnVotes();</script>{% endif %}
{% endblock %}