{% extends 'supernova/base.html' %}

{% load static %}

{% block head %}
  <link rel="stylesheet" type="text/css" href="{% static 'synopses/synopses.css' %}"/>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Sortable/1.6.0/Sortable.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/jquery@3/dist/jquery.min.js"></script>
  <script src="{% static 'synopses/list_manager.js' %}" type="text/javascript" rel="stylesheet"></script>
  <link href="{% static 'autocomplete_light/vendor/select2/dist/css/select2.min.css' %}" type="text/css" rel="stylesheet"/>
  <link href="{% static 'autocomplete_light/select2.css' %}" type="text/css" rel="stylesheet"/>
  <script src="{% static 'js/content-rendering.js' %}"></script>
  <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
  <script src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
{% endblock %}

{% block content_wrapper %}
  <div class="col padded">
    <div class="flex-pane">
      <div class="pane-title bg-grad">
        <h2>{{ title }}</h2>
      </div>
      <div class="pane-content">
        <form class="col" method="post" action="{{ action_page }}">
          {% csrf_token %}
          {{ form.non_field_errors }}
          <div class="form-row">
            <div class="form-row-top"><h4>Título</h4>{{ form.title }}</div>
            {{ form.title.errors }}
            <div class="form-row-description">
              Um título que brevemente identifica esta secção com o mínimo de contexto<br>
              (ex. <q>Operações elementares em matrizes</q> em vez de <q>Operações elementares</q>)<br>
              <i>Nota</i>: Um título com conjunções pode indicar uma secção repartível em múltiplas.
            </div>
          </div>
          <div class="form-row">
            <div class="form-row-top"><h4>Conteúdo (Markdown)</h4></div>
            {{ form.content_md }}
            {{ form.content_md.errors }}
          </div>
          <div class="form-row" style="display: none">
            <div class="form-row-top"><h4>Conteúdo (Formato descontinuado, ignorar)</h4></div>
            {{ form.content_ck }}
            {{ form.content_ck.errors }}
          </div>
          <h3>Metadados</h3>
          <div class="form-row">
            <div class="form-row-top"><h4>Tipo</h4>{{ form.type }}</div>
            <div class="form-row-description">
              A classe em que se insere esta secção.<br>
              Um <b>tópico</b> é uma area de estudo, uma <b>personalidade</b> é um individuo ou colectividade e uma <b>aplicação</b>
              descreve um procedimento (como um algoritmo).
            </div>
            {{ form.type.errors }}
          </div>
          <div class="form-row">
            <div class="form-row-top"><h4>Subarea (Opcional)</h4>{{ form.subarea }}</div>
            <div class="form-row-description">
              A subárea pai desta secção. Apenas as secções que são raízes de áreas de estudo devem de ter uma subárea.
            </div>
            {{ form.subarea.errors }}
          </div>
          <div class="form-row">
            <div class="form-row-top"><h4>Parentes</h4>{{ form.parents }}</div>
            <div class="form-row-description">
              As secções que enraizam <b>directamente</b> esta secção.
              (ex. <q>Limite</q> é parente de <q>Limites notáveis</q>)<br>
              Adições são anexadas ao fim dos filhos, a reordenação é feita editando o pai.
            </div>
            {{ form.parents.errors }}
          </div>
          <div class="form-row">
            <div class="form-row-top"><h4>Unidades curriculares</h4>{{ form.classes }}</div>
            <div class="form-row-description">
              As unidades curriculares em que esta secção se insere.<br>
              Adições são anexadas ao fim das únidade curriculares, a reordenação é feita na unidade curricular.
            </div>
            {{ form.classes.errors }}
          </div>
          <div class="form-row">
            <div class="form-row-top"><h4>Requisitos</h4>{{ form.requirements }}</div>
            <div class="form-row-description">
              Requisitos à compreensão desta secção.<br>
              Devem de listadas todas as secções das quais esta secção depende sem
              que haja transitividade entre requisitos (ie. não listar requisitos de requisitos).
            </div>
            {{ form.requirements.errors }}
          </div>
          {{ sources_formset.management_form }}
          <div class="form-row">
            <div class="form-row-top"><h4>Fontes</h4></div>
            {{ sources_formset.non_form_errors }}
            <div class="form-row-description">
              Origens ou locais de validação do conteúdo desta secção.
            </div>
            <table>
              {% for subform in sources_formset.forms %}
                {% if subform.non_field_errors %}
                  <tr>{{ subform.non_field_errors }}</tr>
                {% endif %}
                <tr>
                  {% for hidden in subform.hidden_fields %}{{ hidden }}{% endfor %}
                  <td>{{ subform.title }} <span style="color:red;">{{ subform.title.errors }}</span></td>
                  <td>{{ subform.url }} <span style="color:red;">{{ subform.url.errors }}</span></td>
                  {% if subform.instance.pk %}
                    <td>Apagar: {{ subform.DELETE }}</td>
                  {% endif %}
                </tr>
              {% endfor %}
            </table>
            {{ form.classes.errors }}
          </div>
          {{ web_resources_formset.management_form }}
          <div class="form-row">
            <div class="form-row-top"><h4>Recursos web</h4></div>
            {{ web_resources_formset.non_form_errors }}
            <div class="form-row-description">
              Recursos complementares à secção, estando
            </div>
            <table>
              {% for subform in web_resources_formset.forms %}
                {% if subform.non_field_errors %}
                  <tr>{{ subform.non_field_errors }}</tr>
                {% endif %}
                <tr>
                  {% for hidden in subform.hidden_fields %}{{ hidden }}{% endfor %}
                  <td>{{ subform.title }} <span style="color:red;">{{ subform.title.errors }}</span></td>
                  <td>{{ subform.url }} <span style="color:red;">{{ subform.url.errors }}</span></td>
                  {% if subform.instance.pk %}
                    <td>Apagar: {{ subform.DELETE }}</td>
                  {% endif %}
                </tr>
              {% endfor %}
            </table>
          </div>
          {#          {{ doc_resources_formset.management_form }}#}
          {#          <div class="form-row">#}
          {#            <div class="form-row-top"><h4>Documentos</h4></div>#}
          {#            {{ doc_resources_formset.non_form_errors }}#}
          {#            <table>#}
          {#              {% for subform in doc_resources_formset.forms %}#}
          {#                {% if subform.non_field_errors %}#}
          {#                  <tr>{{ subform.non_field_errors }}</tr>#}
          {#                {% endif %}#}
          {#                <tr>#}
          {#                  {% for hidden in subform.hidden_fields %}{{ hidden }}{% endfor %}#}
          {#                  <td>{{ subform.title }} <span style="color:red;">{{ subform.title.errors }}</span></td>#}
          {#                  <td>{{ subform.document }} <span style="color:red;">{{ subform.document.errors }}</span></td>#}
          {#                  {% if subform.instance.pk %}#}
          {#                    <td>Apagar: {{ subform.DELETE }}</td>#}
          {#                  {% endif %}#}
          {#                </tr>#}
          {#              {% endfor %}#}
          {#            </table>#}
          {#          </div>#}
          <p><i>* - Opcional</i></p>
          {% if section %}
            <input class="ui-btn end" type="submit" value="Editar"/>
          {% else %}
            <input class="ui-btn end" type="submit" value="Criar"/>
          {% endif %}
          {{ form.media }}
        </form>
      </div>
    </div>
    {% if section %}
      <div class="flex-pane">
        <div class="pane-title bg-grad"><h2>Filhos</h2></div>
        <div class="pane-content col">
          <ul id="sortable-list" data-endpoint="{% url 'api:synopses_section_children' section.id %}"></ul>
          <div class="form-row col">
            <h4>Adicionar</h4>
            <select name="section"
                    data-autocomplete-light-url="{% url 'learning:section_ac' %}"
                    data-autocomplete-light-function="select2"
                    onchange="addToCollectionEvt(this);"></select>
          </div>
          <a class="ui-btn end" href="javascript:saveCollectionOrder(list);">Guardar ordem</a>
        </div>
      </div>
      <script>
          let list = document.getElementById("sortable-list");
          var sorter = Sortable.create(list, {animation: 150, draggable: ".sortable-line"});
          populateCollection(list);
      </script>
    {% endif %}
  </div>
  <script>setupMarkdownEnv();</script>
{% endblock %}