{% extends 'supernova/content_navigation.html' %}

{% load static %}

{% block head %}
  <link type="text/css" rel="stylesheet" href="{% static 'prism.css' %}">
  <script src="{% static 'prism.js' %}"></script>
  <script src="{% static 'js/content-rendering.js' %}"></script>
  <script src="{% static 'js/lib/mathjax/tex-mml-chtml.js' %}"></script>
{% endblock %}

{% block content %}
  <div class="col">
    <div class="header-decorator">
      <div class="header-decorator-options">
        <ul>
          {% if perms.synopses.add_section %}
            <li><a href="{% url 'learning:question_create' %}?section={{ section.id }}">Colocar dúvida</a>
            </li>{% endif %}
          {% if perms.synopses.add_section %}
            <li><a href="{% url 'learning:subsection_create' section.id %}">Criar subsecção</a></li>{% endif %}
          {% if perms.synopses.add_section %}
            <li><a href="{% url 'learning:exercise_create' %}?section={{ section.id }}">Adicionar exercício</a>
            </li>{% endif %}
          {% if perms.synopses.change_section %}
            <li><a href="{% url 'learning:section_edit' section.id %}">Editar</a></li>{% endif %}
        </ul>
      </div>
      <div>
        <h1>{{ section.title }}</h1>
        {% if synopsis_class %}
          <h3><a href="{% url 'learning:class' synopsis_class.id %}">Síntese de {{ synopsis_class.name }}</a></h3>
        {% endif %}
      </div>
    </div>
    <div class="row padded nowrap">
      <div class="col grow">
        <div class="pane">
          <div class="pane-title">
          </div>
          <div class="pane-content">
            {% if section.content %}
              {% if section.validation_status == 0 %}
                <div class="pane-content-warn">
                  Este conteúdo nunca foi revisto por docentes e como tal não deve de ser utilizado por si só
                  enquanto material de estudo.
                </div>
{#                TODO#}
{#                <div class="pane-content-err">#}
{#                  Este conteúdo nunca foi revisto por docentes nem cita fontes.#}
{#                  É provavel que tenha erros graves e como tal não deve de ser utilizado enquanto material de estudo.#}
{#                </div>#}
{#                <div class="pane-content-warn">#}
{#                  Um docente reveu este conteúdo, todavia foi desde então alterado.<br>#}
{#                  <a>Ver a última edição revista</a> (12/12/2020).#}
{#                </div>#}
              {% elif section.validation_status == 1 %}
                <div class="pane-content-err">
                  Este conteúdo é um rascunho. Nada deve de se apurar a partir do mesmo.
                </div>
              {% elif section.validation_status == 2 %}
                <div class="pane-content-err">
                  Este conteudo foi marcado como errado. Nada deve de se apurar a partir do mesmo.
                </div>
              {% endif %}
              {{ section.content_html|safe }}
            {% else %}
              Esta secção não tem conteúdo.
            {% endif %}
            {% if children|length > 0 %}
              <hr>
              <h2>Subsecções</h2>
              <ul class="entity-list">
                {% for child in children %}
                  <li>
                    <a href="{% url 'learning:subsection' section.id child.id %}">{{ child.title }}</a>
                  </li>
                {% endfor %}
              </ul>
            {% endif %}
          </div>
        </div>
      </div>
      <div class="col nogrow noshrink" style="flex-basis: 350px;">
        <div class="pane">
          <div class="pane-title">
            <h2>Meta</h2>
          </div>
          <div class="pane-content">
            <h3>Parentes</h3>
            <ul class="entity-list">
              {% if section.subarea %}
                <li>
                  <a href="{% url 'learning:subarea' section.subarea.id %}">{{ section.subarea.title }}</a>
                </li>
              {% endif %}
              {% for parent in parents %}
                <li>
                  <a href="{% url 'learning:section' parent.id %}">{{ parent.title }}</a>
                </li>
              {% endfor %}
            </ul>
            <h3>Requisitos</h3>
            {% if section.requirements.exists %}
              <ul class="entity-list">
                {% for requirement in section.requirements.all %}
                  <li>
                    <a href="{% url 'learning:section' requirement.id %}">{{ requirement.title }}</a>
                  </li>
                {% endfor %}
              </ul>
            {% else %}
              <span class="indented">Sem requisitos conhecidos.</span>
            {% endif %}
            <h3>Unidades curriculares</h3>
            {% if section.classes.exists %}
              <ul class="entity-list">
                {% for class in section.classes.all %}
                  <li><a href="{% url 'learning:class' class.id %}">{{ class.name }}</a></li>
                {% endfor %}
              </ul>
            {% else %}
              <span class="indented">Sem unidades curriculares associadas.</span>
            {% endif %}
            <h3><a href="{% url 'learning:section_exercises' section.id %}">Exercicios</a></h3>
            <span class="indented">
              {% if section.exercise_count == 0 %}
                Sem exercícios.
              {% elif section.exercise_count == 1 %}
                1 exercício.
              {% else %}
                {{ section.exercise_count }} exercícios.
              {% endif %}
            </span>
            <h3>Dúvidas</h3>
            <span class="indented">
              {% if section.question_count == 0 %}
                Sem dúvidas colocadas.
              {% elif section.question_count == 1 %}
                1 dúvida colocada.
              {% else %}
                {{ section.question_count }} dúvidas colocadas.
              {% endif %}
            </span>
            <h3>Recursos</h3>
            {% if section.resources.exists %}
              <ul class="entity-list">
                {% for resource in section.resources.all %}
                  <li><a href="{{ resource.template_url }}">{{ resource.template_title|truncatechars:35 }}</a></li>
                {% endfor %}
              </ul>
            {% else %}
              <span class="indented">Sem recursos adicionais.</span>
            {% endif %}
            <h3>Fontes</h3>
            {% if section.sources.exists %}
              <ul>
                {% for source in section.sources.all %}
                  <li>
                    {% if source.url %}
                      <a href="{{ source.url }}">
                        {% if source.title %}{{ source.title }}{% else %}{{ source.url|truncatechars:40 }}{% endif %}
                      </a>
                    {% else %}
                      {{ source.title }}
                    {% endif %}
                  </li>
                {% endfor %}
              </ul>
            {% else %}
              <span class="indented">Sem fontes.</span>
            {% endif %}
            <h3>Validado por docente</h3>
            <span class="indented">{% if section.validated %}Sim{% else %}Não{% endif %}.</span>
            <h3><a href="{% url 'learning:section_authors' section.id %}">Autoria</a></h3>
            {% if author_log %}
              <ul class="entity-list">
                {% for log in author_log %}
                  <li><a href="{% url 'users:profile' log.author.nickname %}">{{ log.author.nickname }}</a></li>
                {% endfor %}
              </ul>
            {% else %}
              <span class="indented">Sem autores registados.</span>
            {% endif %}
            {% if last_update %}
              <h3>Ultima modificação</h3>
              <span class="indented">{{ last_update }}</span>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}