{% extends 'supernova/base.html' %}

{% load static %}

{% block head %}
  <link rel="stylesheet" type="text/css" href="{% static 'synopses/synopses.css' %}"/>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Sortable/1.6.0/Sortable.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/jquery@3/dist/jquery.min.js"></script>
  <script src="{% static 'synopses/list_manager.js' %}" type="text/javascript" rel="stylesheet"></script>
  <link href="{% static 'autocomplete_light/vendor/select2/dist/css/select2.min.css' %}" type="text/css" rel="stylesheet"/>
  <link href="{% static 'autocomplete_light/select2.css' %}" type="text/css" rel="stylesheet"/>
  <script>
      MathJax = {
          options: {
              ignoreHtmlClass: 'tex2jax_ignore',
              processHtmlClass: 'tex2jax_process',
              renderActions: {
                  find: [10, function (doc) {
                      for (const node of document.querySelectorAll('script[type^="math/tex"]')) {
                          const display = !!node.type.match(/; *mode=display/);
                          const math = new doc.options.MathItem(node.textContent, doc.inputJax[0], display);
                          const text = document.createTextNode('');
                          const sibling = node.previousElementSibling;
                          node.parentNode.replaceChild(text, node);
                          math.start = {node: text, delim: '', n: 0};
                          math.end = {node: text, delim: '', n: 0};
                          doc.math.push(math);
                          if (sibling && sibling.matches('.MathJax_Preview')) {
                              sibling.parentNode.removeChild(sibling);
                          }
                      }
                  }, '']
              }
          }
      };
  </script>
  <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
  <script src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
{% endblock %}

{% block content_wrapper %}
  <div class="col padded">
    <div class="flex-pane">
      <div class="pane-title bg-grad">
        <h2>{{ title }}</h2>
      </div>
      <div class="pane-content">
        <form class="col" method="post" action="{{ action_page }}">
          {% csrf_token %}
          {{ form.non_field_errors }}
          {{ form.as_p }}
          <h3>Fontes:</h3>
          {{ sources_formset.management_form }}
          {{ sources_formset.non_form_errors }}
          <table>
            {% for subform in sources_formset.forms %}
              {% if subform.non_field_errors %}
                <tr>{{ subform.non_field_errors }}</tr>
              {% endif %}
              <tr>
                {% for hidden in subform.hidden_fields %}{{ hidden }}{% endfor %}
                <td>{{ subform.title }} <span style="color:red;">{{ subform.title.errors }}</span></td>
                <td>{{ subform.url }} <span style="color:red;">{{ subform.url.errors }}</span></td>
                {% if subform.instance.pk %}
                  <td>Apagar: {{ subform.DELETE }}</td>
                {% endif %}
              </tr>
            {% endfor %}
          </table>
          <h3>Recursos web:</h3>
          {{ web_resources_formset.management_form }}
          {{ web_resources_formset.non_form_errors }}
          <table>
            {% for subform in web_resources_formset.forms %}
              {% if subform.non_field_errors %}
                <tr>{{ subform.non_field_errors }}</tr>
              {% endif %}
              <tr>
                {% for hidden in subform.hidden_fields %}{{ hidden }}{% endfor %}
                <td>{{ subform.title }} <span style="color:red;">{{ subform.title.errors }}</span></td>
                <td>{{ subform.url }} <span style="color:red;">{{ subform.url.errors }}</span></td>
                {% if subform.instance.pk %}
                  <td>Apagar: {{ subform.DELETE }}</td>
                {% endif %}
              </tr>
            {% endfor %}
          </table>
          <h3>Documentos:</h3>
          {{ doc_resources_formset.management_form }}
          {{ doc_resources_formset.non_form_errors }}
          <table>
            {% for subform in doc_resources_formset.forms %}
              {% if subform.non_field_errors %}
                <tr>{{ subform.non_field_errors }}</tr>
              {% endif %}
              <tr>
                {% for hidden in subform.hidden_fields %}{{ hidden }}{% endfor %}
                <td>{{ subform.title }} <span style="color:red;">{{ subform.title.errors }}</span></td>
                <td>{{ subform.document }} <span style="color:red;">{{ subform.document.errors }}</span></td>
                {% if subform.instance.pk %}
                  <td>Apagar: {{ subform.DELETE }}</td>
                {% endif %}
              </tr>
            {% endfor %}
          </table>
          <p>* - Opcional</p>
          {% if section %}
            <input type="submit" value="Editar"/>
          {% else %}
            <input type="submit" value="Criar"/>
          {% endif %}
          {{ form.media }}
        </form>
      </div>
    </div>
    {% if section %}
      <div class="flex-pane">
        <div class="pane-title bg-grad"></div>
        <div class="pane-content">
          <ul id="sortable-list" data-endpoint="{% url 'api:synopses_section_children' section.id %}"></ul>
          <script>
              let list = document.getElementById("sortable-list");
              var sorter = Sortable.create(list, {animation: 150, draggable: ".sortable-line"});
              populateCollection(list);
          </script>
          <span style="font-weight: bold">Adicionar: </span>
          <select name="section" required id="id_area" data-autocomplete-light-url="{% url 'learning:section_ac' %}"
                  data-autocomplete-light-function="select2" onchange="addToCollectionEvt(this);"></select>
          <a class="ui-btn save-button" href="javascript:saveCollectionOrder(list);">Guardar</a>
        </div>
      </div>
    {% endif %}
  </div>
  <script>
      let element = document.querySelectorAll('.markdownx');
      Object.keys(element).map(key => element[key].addEventListener('markdownx.update', () => MathJax.typeset()));
      MathJax.typeset();
  </script>
{% endblock %}