{% extends 'supernova/base.html' %}

{% load static %}

{% block head %}
  <link rel="stylesheet" type="text/css" href="{% static 'synopses/synopses.css' %}"/>

  {% if subarea.image %}
    <style>
        .header-background:after {
            background-image: url("{{ subarea.image_cover.url}}");
        }
    </style>
  {% elif subarea.img_url %}
    <style>
        .header-background:after {
            background-image: url("{{ subarea.img_url}}");
        }
    </style>
  {% endif %}
{% endblock %}


{% block content_wrapper %}
  <div class="col">
    {% if subarea.image or subarea.img_url %}
      <div class="header-background faded">
        {% include 'learning/subarea_header.html' %}
      </div>
    {% else %}
      {% include 'learning/subarea_header.html' %}
    {% endif %}
    <div class="col padded">
      <div class="flex-pane">
        <div class="pane-title bg-grad"></div>
        <div class="pane-content">
          <h2>Descrição</h2>
          {{ subarea.description|safe }}
          <h2>Secções</h2>
          <ul class="entity-list">
            {% for section in sections %}
              <li><a href="{% url 'learning:subarea_section' subarea.id section.id %}">{{ section.title }}</a>
                <span class="highres">({{ section.children_count }} subsecções)</span>
              </li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  </div>
{% endblock %}