<div class="header-decorator">
  <div class="header-decorator-options">
    <ul>
      {% if perms.learning.change_section %}
        <li><a href="{% url 'learning:subarea_section_create' subarea.id %}">Criar nova secção</a></li>{% endif %}
      {% if perms.learning.add_section %}
        <li><a href="{% url 'learning:subarea_edit' subarea.id %}">Editar</a></li>{% endif %}
    </ul>
  </div>
  <div>
    <h1>{{ subarea.title }}</h1>
    <h3><a href="{% url 'learning:area' area.id %}">{{ area }}</a></h3>
  </div>
</div>