{% extends 'supernova/base.html' %}
{% load static %}

{% block content_wrapper %}
  <div class="col">
    <div class="header-decorator">
      <div>
        <h1>Submeter Exercício</h1>
      </div>
    </div>
    <div class="col padded">
      <div class="flex-pane">
        <div class="pane-title bg-grad"></div>
        <div class="pane-content">
          <form class="col" method="post" action="{{ action_page }}">
            {% csrf_token %}
            {{ form.non_field_errors }}
            <div class="form-block">
              <div class="form-row">
                <div class="form-row-top">
                  <h3>Exercício</h3>
                </div>
                {{ form.content.errors }}
                {{ form.content }}
              </div>
              <div class="form-row">
                <div class="form-row-top">
                  <h4>Fonte (Opcional)</h4>
                  {{ form.source }}
                </div>
                {{ form.source.errors }}
                <div class="form-row-description">
                  Um descritivo da origem deste exercício.
                </div>
              </div>
              <div class="form-row">
                <div class="form-row-top">
                  <h4>Endreço fonte (Opcional)</h4>
                  {{ form.source_url }}
                </div>
                {{ form.source_url.errors }}
                <div class="form-row-description">
                  O URL (público) da origem deste exercício.
                </div>
              </div>
              <div class="form-row">
                <div class="form-row-top">
                  <h4>Secções</h4>
                  {{ form.synopses_sections }}
                </div>
                {{ form.source_url.errors }}
                <div class="form-row-description">
                  As secções de sintese das quais este exercicio faz parte.
                </div>
              </div>
            </div>
            <input class="ui-btn end" type="submit" value="Submeter"/>
            {{ form.media }}
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock %}