{% extends 'exercises/submit.html' %}

{% block content %}
    <h1><i class="fas fa-pencil-alt"></i> {{ title }}</h1>
    <h2>Escolhe o tipo de exercício pretendido</h2>
    <div id="exercise-options">
        <div>
            <pre>Qual o montante da taxa de matricula na FCT?<br>Resposta: 35€</pre>
            <a href="{% url 'exercises:create_qa_exercise' %}"><span class="ui-btn">Questão-resposta</span></a>
        </div>
        <div>
            <pre>Qual o montante da taxa de matricula na FCT?<br>A) 10€ B) 25€ C) 35€ D) 50€<br>Resposta: C)</pre>
            <a href="{% url 'exercises:create_mc_exercise' %}"><span class="ui-btn">Escolha múltipla</span></a>
        </div>
        <div>
            <pre>Sabendo que a taxa de matricula na FCT é de 35€ e as propinas de 1234€:<br>
    • Qual o montante pago anualmente?<br>
        ◦ Resposta: 1269€<br>
    • Se os tipos do IST pagarem mais 210€ de propinas, qual a diferença ao fim de 2 anos?<br>
        ◦ Resposta: 420€</pre>
            <span class="ui-btn">Grupo questão-resposta</span>
        </div>
        <div>
            <pre>Sabendo que a taxa de matricula na FCT é de 35€ e as propinas de 1234€:<br>
    • Qual o montante pago anualmente?<br>
        ◦ A) 1234€ B) 1250€ C) 1500€ D) 1269€<br>
        ◦ Resposta: D)<br>
    • Se um estudante do IST pagar mais 210€ de propinas, qual a diferença ao fim de 2 anos?<br>
        ◦ A) 150€ B) 420€ C) 825€ D) 1000€<br>
        ◦ Resposta: B)</pre>
            <span class="ui-btn">Grupo escolha múltipla</span>
        </div>
    </div>
{% endblock %}