#header {
    border-bottom: 2px solid #565656;
}

#header a, #footer a, #breadcrumbs a {
    color: white;
}

#header, #footer {
    color: white;
    background: linear-gradient(to bottom, #c9de96 0%, #8ab66b 44%, #398235 100%);
}

#navigation .sub-menu li {
    border-color: #e1e1e1;
}

#navigation > .main-menu > li:hover {
    background: #8ab66b;
}

#navigation .depth1 > li {
    background-color: green;
}

#navigation .depth2 > li {
    background-color: darkgreen;
}

#auth-button {
    background: linear-gradient(to bottom, #71c73c 0%, #398235 44%, #398235 100%);
    border: 2px solid #398235;
}

#logout-button {
    background: linear-gradient(to bottom, #ff3019 0%, #cf0404 100%);
    border: 2px solid #ac0000;
}

#breadcrumbs {
    background-color: #398235;
    background: linear-gradient(to bottom, rgba(201, 222, 150, 1) 0%, rgba(138, 182, 107, 1) 44%, rgba(57, 130, 53, 1) 100%);
}

#breadcrumbs a {
    background: #666;
    background: linear-gradient(to bottom, rgba(201, 222, 150, 1) 0%, rgba(138, 182, 107, 1) 44%, rgba(57, 130, 53, 1) 100%);
}

#breadcrumbs a.active, #breadcrumbs a:hover, #breadcrumbs a.active:after, #breadcrumbs a:hover:after {
    background: #008a00;
}

#breadcrumbs a:after {
    background: #666;
    background: linear-gradient(135deg, rgba(201, 222, 150, 1) 0%, rgba(138, 182, 107, 1) 44%, rgba(57, 130, 53, 1) 100%);
    box-shadow: 2px -2px 0 2px rgba(0, 0, 0, 0.4), 3px -3px 0 2px rgba(255, 255, 255, 0.1);
}

/* Middle content/side styles */
#top-container > a, #bot-container > a {
    background-color: #eee;
    font-size: 1.2em;
}

#top-container > a {
    border-right: 2px solid #b7ccb1;
    border-top: 2px solid #b7ccb1;
}

#bot-container > a {
    border-right: 2px solid #b7ccb1;
    border-bottom: 2px solid #b7ccb1;
}

#top-container > a:hover, #bot-container > a:hover {
    background-color: #c9de96;
}

#top-container a, #bot-container a {
    color: #999;
}

#top-container a:first-child, #bot-container a:first-child {
    border-left: 2px solid #b7ccb1;
}

#top-container a.selected, #bot-container a.selected {
    background-color: #aaa;
    color: white;
}

.caption > li {
    background-color: #f5f5f5;
    border-bottom: 2px solid #b7ccb1;
}

.caption > li:first-child {
    border-left: 2px solid #b7ccb1;
}

.caption > li:last-child {
    border-right: 2px solid #b7ccb1;
}

/* Footer styles */
#footer {
    border-top: 2px solid forestgreen;
}

/* Generic overlay (used as an auth popup) */
#overlay-prompt {
    background-color: white;
}

#overlay-close-button {
    background-color: red;
    color: white;
}

/* Auxiliary styles */
.disabled {
    color: #565656 !important;
}

.flex-grid-item {
    background-color: white;
    box-shadow: 0 0 5px #3d3d3d;
    color: white;
    border: 2px solid #666;
}

.flex-grid-item-top {
    background-color: rgba(170, 170, 170, 0.5);
    text-shadow: 0 0 2px black;
}

.flex-grid-item-bottom {
    background-color: rgba(170, 170, 170, 0.5);
}

.generic-button {
    background: linear-gradient(to bottom, #ffffff 0%, #e5e5e5 100%);
    border: 2px solid #dddddd;
}

/* Screen size custom styles*/
/* Big screens */
@media only screen and (min-width: 1201px) {
    body {
        background-color: #e6e6e6;
    }

    #content, #content-large, #content-wrapper {
        background-color: white;
        border: 2px solid #b7ccb1;
    }
}

/* Medium screens */
@media only screen and (min-width: 981px) and (max-width: 1200px) {
}

/* Small screens */
@media only screen and (max-width: 980px) {
    #side-menu-trigger {
        color: #777;
        box-shadow: inset 25px 0 25px -25px rgba(0, 0, 0, 0.45);
    }
}

@media only screen and (min-width: 980px) {
    #navigation > .main-menu > li {
        border-color: #0f7400;
        background: linear-gradient(to bottom, #c9de96 0%, #8ab66b 20%, #377533 100%);
    }
}