
.question {
    display: flex;
    flex-wrap: nowrap;
}

.question-list .counter {
    margin-right: 10px;
    padding: 5px;
    background-color: var(--input-light);
    text-align: center;
    font-size: 12px;
}

.question-list .counter:first-child {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom: 0;
}

.question-list .counter:last-child {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top: 0;
}

.question-list .info {
    margin-top: 10px;
}

.question-list .info span {
    font-size: 18px;
}

.question-list .tags {
    float: left;
}

.question-list .summary {
    flex-grow: 1;
}

.question-list .author {
    float: right;
}

.question-list .counter {
    background-repeat: no-repeat;
    background-size: 32px 32px;
    background-position: left;
    box-shadow: 0 1px 2px var(--shadow);
}

.question-list .counter span {
    margin-left: 32px;
}

.question-list .counter.answers {
    background-image: url("/static/img/icons/check-nofil.svg");
}

.question-list .counter.votes {
    background-image: url("/static/img/icons/up.svg");
}

.postable-main {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.postable-votes {
    padding: 10px 10px 0 0;
    min-height: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.postable-footer {
    display: flex;
    justify-content: space-between;
}


.postable span {
    display: block;
}

.postable-votes > a {
    display: block;
    border: 2px solid black;
    border-radius: 3px;
    width: 48px;
    height: 48px;
    background-color: var(--input-light);
    background-size: contain;
    margin-bottom: 2px;
    cursor: pointer;
}

.postable-votes > span {
    font-weight: bold;
    font-size: 1.2em;
}

.upvote-btn {
    background-image: url("/static/img/icons/up.svg");
}

.downvote-btn {
    background-image: url("/static/img/icons/down.svg");
}

.upvote-btn.set {
    background-color: var(--green);
}

.downvote-btn.set {
    background-color: var(--red);
}

.answer-btn, .answer-btn.set {
    background-image: url("/static/img/icons/check-nofil.svg");
}

.answer-btn:hover {
    background-image: url("/static/img/icons/check.svg");
}