
.map {
    width: calc(100% + 40px);
    height: 70vh;
    position: relative;
    left: -20px;
}

.place {
    display: inline-block;
    padding: 10px;
    border-radius: 10px;
    border: 2px solid black;
}

#side_extra ul {
    padding: 0;
}

#side_extra li {
    list-style: none;
    margin-left: 5px;
    margin-bottom: 5px;
}

.mapEntry {
    display: none;
}

/* Campus Map */
#layers {
    background: rgb(255, 255, 255);
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px 10px;
    position: relative;
    z-index: 1;
    top: 10px;
    float: left;
    line-height: 15px;
    display: none;
}

#layers input {
    margin-right: 30px;
}

/*Transportation Map */
.MTS, .TST, .FER, .SFT, .ML, .CP, .TT, .TCB {
    width: 30px;
    height: 12px;
    display: inline-block;
    border-left: 0 !important;
    border-right: 0 !important;
}

.MTS {
    background-color: #00ccff;
    border: 3px solid #a05a2c;
}

.TST {
    background-color: #06f;
    border: 3px solid white;
}

.FER {
    background-color: #a40c0c;
    border: 3px solid #003860;
}

.SFT {
    background-color: #aa87de;
    border: 3px solid white;
}

.TT {
    background-color: white;
    border: 3px solid red;
}

.ML {
    background: linear-gradient(
            to right, #ff0000 25%, #ffff00 25%, #ffff00 50%, #57d300 50%, #57d300 75%, #0657ff 75%);
    border: 3px solid #a05a2c;
    display: inline-block;
}

.CP {
    background-color: #2fa40c;
    border: 3px solid #003860;
}

.TCB {
    background-color: #8dd35f;
    border: 3px solid white;
}