{% extends 'supernova/content_only.html' %}

{% load static %}
{% block content %}
    <h1><i class="fas fa-shopping-cart"></i> Loja</h1>
    <div class="flex-wrapper">
        {% for item in items %}
            <a href="{% url 'store:item' item.id %}">
                <div class="flex-grid-item" style="background-image: url({% static 'supernova/images/placeholder.png' %})">
                    <div class="flex-grid-item-top">
                        <span>{{ item.name }}</span><br>
                        por {{ item.seller }}
                    </div>
                    <div class="flex-grid-item-bottom">
                        {{ item.price_str }}€
                    </div>
                </div>
            </a>
        {% endfor %}
    </div>
{% endblock %}

{% block navigation %}
    {% if type_filter %}
        <a class="menu-entry" href="#">Todos os grupos</a>
    {% else %}
        <a class="menu-entry selected">Todos os grupos</a>
    {% endif %}
    <br><br>
    <span style="font-size: 1.2em; font-weight: bold;">Filtro:</span>
    {% for type in group_types %}
        {% if type_filter == type.type %}
            <a class="menu-entry selected" href="?filtro={{ type.type }}">{{ type.type }}</a>
        {% else %}
            <a class="menu-entry" href="?filtro={{ type.type }}">{{ type.type }}</a>
        {% endif %}
    {% endfor %}
{% endblock %}