{% extends 'supernova/content_only.html' %}
{% load static %}
{% block head %}
    <style>
        .flex-wrapper {
            display: flex;
            flex-wrap: wrap;
            align-items: start;
        }

        .flex-wrapper > div {
            margin: 10px 20px 10px 20px;

        }

        .degree {
            margin-top: 10px;
        }

        .course {
            margin-left: 5px;
        }

        #info-div > h3 {
            margin-left: 10px;
        }

        #info-div {
            text-align: right;
        }

        .info-entry {
            text-align: right;
        }
    </style>
{% endblock %}

{% block content %}
    <h1>{{ item.name }} </h1>
    <h3 style="margin-left: 20px">Vendido por <a href="{% url 'group' item.seller.id %}">{{ item.seller }}</a></h3>
    <div class="flex-wrapper">
        <div style="flex-basis: 500px;">
            <p><img src="{% static 'supernova/images/placeholder.png' %}" width="450px" height="400px"></p>
        </div>
        <div style="flex-basis: 500px;">
            <h2 style="text-align: left;">{{ item.price_str }}€</h2>
            <h3>Descrição:</h3>
            <span>{{ item.description|safe }}</span>
            <h3>Disponibilidade:</h3>
            {% if item.stock > 0 %}
                <span>{{ item.stock }} unidades restantes</span>
            {% elif item.stock == 0 %}
                <span style="color: red;">Esgotado</span>
            {% else %}
                <span>Ilimitado</span>
            {% endif %}
        </div>
    </div>
{% endblock %}