{% extends 'kleep/content_navigation.html' %}

{% load static %}

{% block navigation %}
    {% if page == 'group' %}
        <a class="menu_entry selected">Página inícial</a>
    {% else %}
        <a class="menu_entry" href="{% url 'group' group.id %}">Página inícial</a>
    {% endif %}
    {% if page == 'group_anounce' %}
        <a class="menu_entry selected">Anúncios</a>
    {% else %}
        <a class="menu_entry">Anúncios</a>
    {% endif %}
    {% if page == 'group_schedule' %}
        <a class="menu_entry selected">Horário</a>
    {% else %}
        <a class="menu_entry">Horário</a>
    {% endif %}
    {% if page == 'group_calendar' %}
        <a class="menu_entry selected">Calendário</a>
    {% else %}
        <a class="menu_entry">Calendário</a>
    {% endif %}
    {% if page == 'group_documents' %}
        <a class="menu_entry selected">Documentos</a>
    {% else %}
        <a class="menu_entry" href="{% url 'group_docs' group.id %}">Documentos</a>
    {% endif %}
    {% if page == 'group_members' %}
        <a class="menu_entry selected">Membros</a>
    {% else %}
        <a class="menu_entry">Membros</a>
    {% endif %}
    {% if page == 'group_contacts' %}
        <a class="menu_entry selected">Contactos</a>
    {% else %}
        <a class="menu_entry">Contactos</a>
    {% endif %}
{% endblock %}

{% block side_extra %}
    <div id="side_extra">
        <a class="menu_entry" href="#">Criar anúncio</a>
        <a class="menu_entry" href="#">Gerir documentos</a>
        <a class="menu_entry" href="#">Gerir membros</a>
        <a class="menu_entry" href="#">Alterar agenda</a>
        <a class="menu_entry" href="#">Definições</a>
    </div>
{% endblock %}