{% extends 'kleep/group/base.html' %}

{% load static %}

{% block content %}
    <style>
        .flex-wrapper {
            display: flex;
            flex-wrap: wrap;
            align-items: baseline;
        }
    </style>
    <h1 style="display: inline-block"><i class="fas fa-users"></i> Documentos de {{ group.name }}</h1>
    <div style="float: right;">
        {% if group.invite_only %}
            <i class="fas fa-lock"></i> Admissão por convite
        {% else %}
            <i class="fas fa-lock-open"></i> <input type="button" value="Solicitar admissão">
        {% endif %}
        <input type="button" value="Subscrever">
    </div>
    <div class="flex-wrapper">
        {% for document in documents %}
                <div style="width: 100%">
                <h2><a href="{% url 'document' document.id %}">{{ document.title }}</a></h2>
                <span>Criado em {{ document.creation }} {% if document.author_user %}por
                    <a href="{% url 'user' document.author_user.nickname %}">{{ document.author_user }}</a> {% endif %}
                    {% if document.last_edition %}<br>Última edição em {{ document.last_edition }} por
                        {{ document.last_editor }}{% endif %}</span>
            </div>
        {% endfor %}
    </div>
{% endblock %}