{% extends 'kleep/content_navigation.html' %}

{% load static %}
{% block head %}
{% endblock %}

{% block content %}
    <style>
        .flex-wrapper {
            display: flex;
            flex-wrap: wrap;
            align-items: baseline;
        }

        .group {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            background-color: white;
            background-size: cover;
            box-shadow: 0 0 5px #3d3d3d;
            border-radius: 5px;
            margin: 10px;
            width: 220px;
            height: 150px;
            vertical-align: center;
            text-align: center;
            font-weight: bold;
            color: white;
            border: 2px solid #666;
            font-size: 1.2em;
        }

        .group-top {
            background-color: rgba(170, 170, 170, 0.5);
            text-shadow: 0 0 2px black;
        }

        .group-bottom {
            background-color: rgba(170, 170, 170, 0.5);
            width: 100%;
        }

        #record > table {
            font-size: 1.2em;
        }

        .wall-item td:first-child {
            font-weight: bold;
        }

        #social > span {
            font-size: 1.2em;
        }

        #social > span .svg-inline--fa {
            font-size: 1.5em !important;
        }
    </style>
    <h1><i class="fas fa-users"></i> Grupos</h1>
    <div class="flex-wrapper">
        {% for group in groups %}
            {% if not type_filter or group.type.type == type_filter %}
                <a href="{% url 'group' group.id %}">
                    <div class="group" style="background-image: url({% static 'kleep/images/placeholder.png' %})">
                        <div class="group-top">
                            {% if group.abbreviation %}
                                <span>{{ group.abbreviation }}</span>
                            {% else %}
                                <span>{{ group.name }}</span>
                            {% endif %}
                        </div>
                        <div class="group-bottom">
                            {% if group.invite_only %}
                                <i class="fas fa-lock"></i>
                            {% else %}
                                <i class="fas fa-lock-open"></i>
                            {% endif %}&nbsp;
                            <i class="fas fa-user-times"></i>{{ group.groupusers_set.all.count }}&nbsp;
                            <i class="fas fa-star"></i>0{# TODO Subscribed #}
                        </div>
                    </div>
                </a>
            {% endif %}
        {% endfor %}
    </div>
{% endblock %}

{% block navigation %}
    {% if type_filter %}
        <a class="menu_entry" href="#">Todos os grupos</a>
    {% else %}
        <a class="menu_entry selected">Todos os grupos</a>
    {% endif %}
    <br><br>
    <span style="font-size: 1.2em; font-weight: bold;">Filtro:</span>
    {% for type in group_types %}
        {% if type_filter == type.type %}
            <a class="menu_entry selected" href="?filtro={{ type.type }}">{{ type.type }}</a>
        {% else %}
            <a class="menu_entry" href="?filtro={{ type.type }}">{{ type.type }}</a>
        {% endif %}
    {% endfor %}
{% endblock %}
