{% extends 'kleep/group/base.html' %}

{% load static %}

{% block content %}
    <style>
        .flex-wrapper {
            display: flex;
            flex-wrap: wrap;
            align-items: baseline;
        }
    </style>
    <h1 style="display: inline-block"><i class="fas fa-users"></i> {{ group.name }}</h1>
    <div style="float: right;">
        {% if group.invite_only %}
            <i class="fas fa-lock"></i> Admissão por convite
        {% else %}
            <i class="fas fa-lock-open"></i> <input type="button" value="Solicitar admissão">
        {% endif %}
        <input type="button" value="Subscrever">
    </div>
    <div class="flex-wrapper">
        <div style="width: 100%">
            Também conhecido por <b>{{ group.abbreviation }}</b>
        </div>
        <div style="margin-right: 50px">
            <h2>Localização:</h2>
            <img src="#" width="450px" height="400px">
        </div>
        <div style="flex-basis: 300px">
            <h2>Informação:</h2>
            <h3>Descrição:</h3>
            {{ group.description }}
            <h3>Localização:</h3>
            TODO
        </div>
        <div style="width:100%;">
            <h2>Atividade recente</h2>
            TODO
        </div>
    </div>
{% endblock %}