.place {
    display: inline-block;
    padding: 8px;
    border-radius: 10px;
    border: 2px solid #777;
}

/* Campus Map */
.map {
    width: 100%;
    min-height: 400px;
}

/*Transportation Map */
/*TODO add official colors*/
.MTS, .TST, .FER, .SFT, .ML, .CP, .TT, .TCB {
    padding: 8px;
    border-radius: 10px;
    border: 2px solid #777;
    display: inline-block;
    margin-right: 5px;
}

.MTS {
    background-color: #00ccff;
}

.TST {
    background-color: #06f;
}

.FER {
    background-color: #a40c0c;
}

.SFT {
    background-color: #aa87de;
}

.TT {
    background-color: white;
    border: 3px solid red;
}

.ML {
    background: linear-gradient(to right, #ff0000 25%, #ffff00 25%, #ffff00 50%, #57d300 50%, #57d300 75%, #0657ff 75%);
    display: inline-block;
}

.CP {
    background-color: #2fa40c;
}

.TCB {
    background-color: #8dd35f;
}

.leaflet-pane {
    z-index: 0;
}
