@media only screen and (min-width: 840px) {
    .flex-wrapper.vertical > div {
        margin-bottom: 20px;
    }
}

@media only screen and (max-width: 840px) {
    .flex-wrapper {
        justify-content: start;
    }
}

.flex-wrapper.vertical {
    max-width: 600px;
    flex-flow: column;
}