/* Fonts */
/*Ubuntu Font, https://www.ubuntu.com/legal/terms-and-policies/font-licence*/
@font-face {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    src: local('Ubuntu Regular'), local('Ubuntu-Regular'), url("fonts/regular.woff2") format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: 'Ubuntu';
    font-style: italic;
    font-weight: 400;
    src: local('Ubuntu Italic'), local('Ubuntu-Italic'), url("fonts/italic.woff2") format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 700;
    src: local('Ubuntu Bold'), local('Ubuntu-Bold'), url("fonts/bold.woff2") format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: 'Ubuntu';
    font-style: italic;
    font-weight: 700;
    src: local('Ubuntu Bold Italic'), local('Ubuntu-BoldItalic'), url("fonts/bolditalic.woff2") format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* Element resets*/
html {
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
    border: 0;
    margin: 0;

    font-family: 'Ubuntu', sans-serif;
}

a {
    text-decoration: none; /*Disable link effects globally*/
    color: #337ab7;
}

a:hover {
    color: #285f90;
}

ul {
    margin: 10px 0;
}

h1 {
    margin: 10px 0;
}

h2 {
    margin: 8px 0;
}

h3 {
    margin: 5px 0;
}

/* Outer flex layout */
#wrapper {
    min-height: 100%;
    display: flex;
    flex-flow: column;
    position: relative;
}

/* Header styles*/
#header > .width-limiter {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#logo-nav-wrapper {
    display: flex;
    align-items: center;
}

#navigation ul {
    margin: 0;
    padding: 0;
}

#navigation .main-menu {
    display: none;
}

#navigation > .main-menu > li {
    display: inline-block;
    list-style-type: none;
    border-style: solid;
    border-width: 0 1px;
    text-align: left;
    margin-right: 10px;
    transition: background-color 0.5s;
}

#navigation input[type="checkbox"], #navigation ul span.drop-icon {
    display: none;
}

#navigation input[type="checkbox"]:checked + .sub-menu {
    display: block;
}

#navigation li, #nav-toggle-label {
    border-width: 0 0 1px;
}

#navigation .sub-menu {
    border-width: 1px 1px 0;
    margin: 0 1em;
    display: none;
}

#navigation .sub-menu li {
    /*border-width: 0 0 1px;*/
    border-bottom: 2px solid;
}

#navigation .sub-menu li:last-child {
    border-width: 0;
}

#navigation li, #nav-toggle-label, #navigation a {
    position: relative;
    display: block;
    color: white;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, .125);
}

#navigation label.drop-icon, #nav-toggle-label span.drop-icon {
    border-radius: 50%;
    width: 30px;
    height: 30px;
    text-align: center;
    background-color: rgba(0, 0, 0, .125);
    text-shadow: 0 0 0 transparent;
    color: rgba(255, 255, 255, .75);
}

#navigation .drop-icon {
    line-height: 1;
}

#nav-toggle-label .drop-icon, #navigation li label.drop-icon {
    position: absolute;
    right: 1.5em;
    top: 1.25em;
}

#nav-toggle:checked + .main-menu {
    display: block;
}

#auth {
    text-align: right;
    font-size: 1.2em;
}

#auth-button {
    display: inline-block;
    padding: 5px 10px;
    border-radius: 5px;
}

#logout-button {
    display: inline-block;
    padding: 5px 10px;
    border-radius: 5px;
}

/* Middle content/navigation styles */
#middle {
    display: flex;
    align-items: flex-start;
    align-self: flex-start;
    flex-grow: 1;
    flex-wrap: nowrap;
}

#top-container, #bot-container {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

#top-container > a, #bot-container > a {
    display: inline-block;
    padding: 8px 20px;
    font-size: 1.2em;
    font-weight: bold;
    border-bottom: 0;
}

#top-container a:first-child {
    border-top-left-radius: 10px;
}

#top-container a:last-child {
    border-top-right-radius: 10px;
}

#content, #content-large {
    padding: 10px 20px;
    flex-grow: 1;
}

#content-wrapper {
    width: 100%;
}

.content-formatter {
    padding: 10px 20px;
}

.caption {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.caption > li {
    display: inline-block;
    padding: 4px 15px;
}

#bot-container a:first-child, .caption > li:first-child {
    border-bottom-left-radius: 10px;
}

#bot-container a:last-child, .caption > li:last-child {
    border-bottom-right-radius: 10px;
}

#top-container.float-right, #bot-container.float-right {
    float: right;
    margin-right: 10px;
}

/* Content decorator styles */
#content-title-decorator {
    width: 100%;
    height: 200px;
    background-image: url("/static/college/decorator-placeholder.jpg");
    background-size: cover;
    background-position: center;
}

#content-title-decorator h1 {
    color: white;
    font-size: 3em;
    text-shadow: black 0 0 5px;
    padding: 20px;
}

#content-title-decorator h1 a {
    color: white;
}

#content-title-decorator h3 {
    font-size: 2em;
    text-shadow: black 0 0 3px;
    margin-left: 50px;
    color: white;
}

#content-title-decorator h3 a {
    color: white;
}

#content-title-decorator .svg-inline--fa {
    filter: drop-shadow(0 0 5px black);
}

/* Footer styles */
#footer > .width-limiter > ul {
    text-align: right;
    list-style-type: none;
    margin: 8px 0;
}

#footer > .width-limiter > ul > li {
    padding: 0 10px;
    font-weight: bold;
    display: inline;
}

#footer img {
    vertical-align: middle;
}

/* Generic overlay (used as an auth popup) */
#overlay {
    display: none;
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.6);
    overflow-y: scroll;
    transition: 0.5s;
}

#overlay-prompt > form input {
    margin-bottom: 5px;
}

#overlay-prompt > form input[type=text], #overlay-prompt input[type=password] {
    height: 40px;
}

#overlay-prompt input[type=submit] {
    margin-left: 20%;
    margin-top: 10px;
    width: 60%;
    height: 40px;
}

#overlay-close-button {
    display: inline-block;
    width: 40px;
    height: 40px;
    border-radius: 10px;
    float: right;
    text-align: center;
    line-height: 40px;
    font-weight: bolder;
}

/* Auxiliary styles */
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

#status {
    display: inline-block;
    width: 12px;
    height: 12px;
    border-radius: 6px;
}

.status-low {
    background-color: greenyellow;
    display: inline-block;
    border: 1px solid green;
}

.status-medium {
    background-color: orange;
    display: inline-block;
    border: 1px solid orangered;
}

.status-high {
    background-color: red;
    display: inline-block;
    border: 1px solid #ac0000;
}

.captcha {
    padding: 0 !important;
    margin: 0;
    vertical-align: middle;
}

.generic-button {
    display: inline-block;
    border-radius: 5px;
    padding: 5px 10px;
    font-weight: bold;
}

.flex-wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
}

.flex-grid-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-size: cover;
    background-position: center;
    border-radius: 5px;
    margin: 10px;
    width: 220px;
    height: 150px;
    vertical-align: center;
    text-align: center;
    font-weight: bold;
    font-size: 1.2em;
}

.hidden {
    display: none;
}

.shown {
    display: block;
}

.flex-grid-item-bottom {
    width: 100%;
}

.flex-box {
    border-radius: 5px;
    padding: 10px 20px;
    margin: 10px;
}

.flex-line-break {
    display: inline-block;
    flex-basis: 100% !important;
}

/* Screen size custom styles*/
/* Big screens */
@media only screen and (min-width: 1201px) {
    #navigation > .main-menu > li > a {
        line-height: 75px;
    }

    #header {
        height: 75px;
    }

    #logo img {
        width: 250px;
    }

    #breadcrumbs a:first-child {
        padding-left: 0;
    }

    #middle {
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .width-limiter {
        width: 84%;
        max-width: 1500px;
        margin: auto;
    }

    #auth {
        padding: 20px 0;
    }
}

/* Medium screens */
@media only screen and (min-width: 981px) and (max-width: 1200px) {
    #navigation > .main-menu > li > a {
        line-height: 50px;
    }

    #logo img {
        height: 40px;
    }

    #header {
        height: 50px;
    }

    #auth {
        padding: 5px 0;
        font-size: 1.2em;
    }

    #breadcrumbs a:first-child {
        padding-left: 20px;
    }

    #middle {
        padding: 0 10px;
        width: calc(100% - 20px);
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .width-limiter {
        width: 96%;
        padding: 0 2%;
    }
}

/* Medium and big screens */
@media only screen and (min-width: 981px) {
    .low-res-only {
        display: none !important;
    }

    #header > .width-limiter {
        flex-direction: row;
    }

    #logo {
        margin-right: 10px;
    }

    #logo-nav-wrapper {
        flex-direction: row;
        justify-content: space-between;
    }

    #navigation {
        display: inline-block;
        height: 100%;
        z-index: 10000;
    }

    #navigation .main-menu {
        height: 100%;
        display: block;
    }

    #navigation label.drop-icon, #nav-toggle-label {
        display: none;
    }

    #navigation ul span.drop-icon {
        display: inline-block;
    }

    #navigation .sub-menu {
        border-width: 0;
        margin: 0;
        position: absolute;
        top: 100%;
        left: 0;
        width: 250px;
        z-index: 2;
    }

    #navigation .sub-menu .sub-menu {
        top: 0;
        left: 100%;
    }

    #navigation .sub-menu, #navigation input[type="checkbox"]:checked + .sub-menu {
        display: none;
    }

    #navigation .sub-menu li {
        font-size: 18px;
    }

    #navigation li:hover > input[type="checkbox"] + .sub-menu {
        display: block;
    }

    #navigation .main-menu > li {
        transform: skewx(-20deg);
    }

    #navigation .main-menu > li > a { /*First */
        transform: skewx(20deg);
        font-size: 20px;
        padding: 0 20px;
    }

    #navigation ul > li {
        font-weight: bold;
    }

    #navigation > .main-menu > li > .sub-menu {
        transform: skewx(20deg);
    }

    #navigation .main-menu > li > a > .drop-icon {
        display: none;
    }

    #navigation .drop-icon:after {
        content: "►";
    }

    #navigation .sub-menu a {
        padding: 15px 25px;
    }

    #navigation .sub-menu .drop-icon {
        float: right;
    }

    #breadcrumbs {
        font-size: 1.0em;
        font-weight: bold;
        overflow: hidden;
    }

    #breadcrumbs a {
        text-decoration: none;
        outline: none;
        display: block;
        float: left;
        line-height: 37px;
        padding: 0 10px 0 30px;
        position: relative;
    }

    #breadcrumbs a:after {
        content: '';
        position: absolute;
        top: 0;
        right: -18px;
        width: 36px;
        height: 36px;
        transform: scale(0.707) rotate(45deg);
        z-index: 1;
        border-radius: 0 5px 0 50px;
    }

    #overlay-prompt {
        margin: 10% auto auto;
        padding: 20px 50px;
        width: 350px;
        border-radius: 15px;
    }

    #overlay-prompt > form input[type=text], #overlay-prompt input[type=password] {
        width: 100%;
    }
}

/* Small screens */
@media only screen and (max-width: 980px) {
    .high-res-only {
        display: none !important;
    }

    #wrapper {
        overflow-x: hidden;
    }

    .width-limiter {
        width: 96%;
        padding: 0 2%;
    }

    #header {
        height: auto;
        flex-direction: column;
    }

    #nav-toggle-label {
        width: 40px;
        height: 40px;
        border: 2px solid;
        font-size: 30px;
        text-align: center;
        border-radius: 5px;
    }

    #low-res-logo-menu-trigger {
        display: flex;
        flex-direction: row;
    }

    #header > .width-limiter {
        flex-direction: column;
    }

    #logo {
        margin-left: 10px;
        padding: 0;
    }

    #logo img {
        height: 40px;
    }

    #logo-nav-wrapper {
        flex-direction: column;
    }

    #navigation {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    #navigation li {
        width: calc(100% - 10px);
    }

    #navigation .main-menu a {
        padding: 20px 0 20px 5px;
    }

    .sub-menu li {
        margin: 0;
    }

    #logout-button {
        display: inline-block;
        font-size: 30px;
        text-align: center;
        width: 40px;
        height: 40px;
        padding: 0;
    }

    #breadcrumbs {
        display: none;
    }

    #middle {
        margin-top: 0;
        padding: 0;
        flex-wrap: nowrap;
        height: 100%;
        position: relative;
        transition: 0.5s;
    }

    #content, #content-large {
        border-radius: unset;
        border: none;
        padding: 0;
        height: 100%;
    }

    #content-large {
        width: calc(100% - 30px);
        margin-left: 260px;
    }

    #footer > .width-limiter > ul > li {
        padding: 0 5px;
        font-weight: 600;
    }

    #overlay-prompt {
        padding: 20px;
        width: calc(100% - 40px);
    }

    #overlay-prompt > form input[type=text], #overlay-prompt input[type=password] {
        width: 90%;
    }

    .flex-wrapper { /* Override the default, to center items on mobile */
        justify-content: space-around !important;
    }
}