$whitish: #a8a8ad
$color-primary-1: #74737F
$color-primary-2: #53535D
$color-primary-0: #323138
$color-primary-3: #15151B
$color-primary-4: #10101D

$link-color: #005982
$highlight: #004766

$red: #990011
$green: #075900
$blue: #192a76